<h1>Invoicing</h1>
<h6>Sourcing</h6>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: $state.includes('table.invoicing.sourcing_request') }">
        <a ng-href="/#/invoicing/sourcing/request"
           ng-mouseenter="hover = 'table.invoicing.sourcing_request'"
           ng-mouseleave="hover = false">
            Request purchase invoices
            <span class='badge pull-right'></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.invoicing.sourcing_pending')}">
        <a ng-href="/#/invoicing/sourcing/pending"
           ng-mouseenter="hover = 'table.invoicing.sourcing_pending'"
           ng-mouseleave="hover = false">
            Pending purchase invoices
            <span class='badge pull-right'></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.invoicing.sourcing_download') }">
        <a ng-href="/#/invoicing/sourcing/download"
           ng-mouseenter="hover = 'table.invoicing.sourcing_download'"
           ng-mouseleave="hover = false">
            Download purchase invoices
            <span class='badge pull-right'></span>
        </a>
    </li>
</ul>
<h6>Working</h6>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: $state.includes('table.invoicing.working_confirm') }">
        <a ng-href="/#/invoicing/working/confirm"
           ng-mouseenter="hover = 'table.invoicing.working_confirm'"
           ng-mouseleave="hover = false">
            Confirm sales invoices
            <span class='badge pull-right'></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.invoicing.working_download') }">
        <a ng-href="/#/invoicing/working/download"
           ng-mouseenter="hover = 'table.invoicing.working_download'"
           ng-mouseleave="hover = false">
            Download sales invoices
            <span class='badge pull-right'></span>
        </a>
    </li>
</ul>
<alert ng-show="hover == 'table.invoicing.sourcing_request' || !hover && $state.current.name == 'table.invoicing.sourcing_request'">
    Ask your crowdworkers for an invoice. They have 30 days to verify their data.
    After 30 days we either generate the invoice on their behalf or refund the payment.
</alert>
<alert ng-show="hover == 'table.invoicing.sourcing_download' || !hover && $state.current.name == 'table.invoicing.sourcing_download'">
    Your invoices. We generated these on behalf of your crowdworkers.
</alert>
<alert ng-show="hover == 'table.invoicing.sourcing_pledged' || !hover && $state.current.name == 'table.invoicing.sourcing_pledged'">
    Tasks to which you pledged or paid. Pledges can be revoked but every currently listed participant to the taks will be notified which can hurt your reputation.
</alert>
<alert ng-show="hover == 'table.invoicing.sourcing_workers' || !hover && $state.current.name == 'table.invoicing.sourcing_workers'">
    People who worked on your tasks.
</alert>
<alert ng-show="hover == 'table.invoicing.working_confirm' || !hover && $state.current.name == 'table.invoicing.working_confirm'">
    Confirm the data on the invoices your clients request. After 30 days if possible an invoice using your default data will be generated else the payment will be refunded.</alert>
<alert ng-show="hover == 'table.invoicing.working_download' || !hover && $state.current.name == 'table.invoicing.working_download'">
    Your invoices. We generated these on request of your clients.
</alert>
