<h1>Wallet</h1>
<ul class="nav nav-pills nav-stacked">
    <li ng-class="{ active: $state.includes('table.wallet.credit') }">
        <a href="/#/wallet/credit">
            Credit
                    <span ng-bind="userBalance.result.total_currency_iso + ' ' + (userBalance.result.total_amount | mobbrcurrency)"
                          class="badge pull-right"></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.wallet.payments') }">
        <a href="/#/wallet/payments">
            Payments
                    <span class='badge pull-right'
                          ng-show="(payments.result | filter:{ 'since_last_login': '1' }).length > 0"
                          ng-bind="(payments.result | filter:{ 'since_last_login': '1' }).length"></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.wallet.pledges') }">
        <a href="/#/wallet/pledges">
            Pledges
                    <span class='badge pull-right'
                          ng-show="(pledges.result | filter:{ 'since_last_login': '1' }).length > 0"
                          ng-bind="(pledges.result | filter:{ 'since_last_login': '1' }).length"></span>
        </a>
    </li>
    <li ng-class="{ active: $state.includes('table.wallet.xpayments') }">
        <a href="/#/wallet/xpayments">
            Deposits and withdraws
                    <span class='badge pull-right'
                          ng-show="(mutations.result | filter:{ 'since_last_login': '1' }).length > 0"
                          ng-bind="(mutations.result | filter:{ 'since_last_login': '1' }).length"></span>
        </a>
    </li>
</ul>
