body {
  min-height: 200px;
  font-family: 'Open Sans';
  margin: 0 20px;
  padding: 0;
  font-size: 12px;
  background: url(/img/mobbrband.png) no-repeat top left;
}

.loading {
  background: url(/img/mobbrloader.gif) no-repeat center center;
}

.loading .wrapper {
  display: none;
}

.wrapper {
  margin: 80px 0 20px 0;
}

.accordion-heading .headlabel {
  display: inline-block;
  width: 70px;
}

.nowrap-header .accordion-heading,
.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.gravatar-heading {
  display: inline-block;
  margin: -5px 0 -8px 0;
}

.gravatar-heading img {
  margin: -3px 0 0 0;
  height: 20px;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-weight: normal;
  border-bottom: 1px solid #009ee0;
  padding: 0 0 5px 0;
  margin: 5px 0;
}

.gravatar {
  width: 30px;
}

/*#login_form {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #009ee0;
}

#newuser {
  margin-top:5px;
  font-size:.95em;
  margin-left:10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.loading .wrapper {
  display: none;
}

.loginerror {
  font-weight: bold;
  color: red;
}*/