$mobbrblue:             rgb(0, 158, 224);
// Grays
// -------------------------
//$black:                 #000 !default;
//$grayDarker:            #222 !default;
$grayDark:              #333 !default;
//$gray:                  #555 !default;
//$grayLight:             #999 !default;
//$grayLighter:           #eee !default;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  $mobbrblue;
//$blueDark:              #0064cd !default;
//$green:                 #46a546 !default;
//$red:                   #9d261d !default;
//$yellow:                #ffc40d !default;
//$orange:                #f89406 !default;
//$pink:                  #c3325f !default;
//$purple:                #7a43b6 !default;

// Links
// -------------------------
$linkColor:             $mobbrblue;
$linkColorHover:        $mobbrblue;

// Dropdowns
// -------------------------
//$dropdownBackground:            $white !default;
//$dropdownBorder:                rgba(0,0,0,.2) !default;
//$dropdownDividerTop:            #e5e5e5 !default;
//$dropdownDividerBottom:         $white !default;

//$dropdownLinkColor:             $grayDark !default;
//$dropdownLinkColorHover:        $white !default;
//$dropdownLinkColorActive:       $white !default;

$dropdownLinkBackgroundActive:  $mobbrblue;
$dropdownLinkBackgroundHover:   $mobbrblue;

// Navbar
// -------------------------
//$navbarCollapseWidth:             979px !default;
//$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

//$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       $mobbrblue;
$navbarBackground:                $mobbrblue;
$navbarBorder:                    $mobbrblue;

$navbarText:                      $white;
$navbarLinkColor:                 $white;
$navbarLinkColorHover:            $white;
$navbarLinkColorActive:           $white;
$navbarLinkBackgroundHover:       darken($mobbrblue, 5%);
$navbarLinkBackgroundActive:      darken($mobbrblue, 5%);

//$navbarBrandColor:                $navbarLinkColor !default;

// Inverted navbar
$navbarInverseBackground:                $grayDark;
$navbarInverseBackgroundHighlight:       $grayDark;
$navbarInverseBorder:                    $grayDark;

$mobbrHeadingsFontFamily: 'Open Sans Condensed', sans-serif;
$mobbrFontFamily: 'Open Sans', sans-serif;

$btnPrimaryBackground:              $mobbrblue;
$btnPrimaryBackgroundHighlight:     darken($mobbrblue, 5%);

//$navbarInverseText:                      $grayLight !default;
//$navbarInverseLinkColor:                 $grayLight !default;
//$navbarInverseLinkColorHover:            $white !default;
//$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
//$navbarInverseLinkBackgroundHover:       transparent !default;
//$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

//$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
//$navbarInverseSearchBackgroundFocus:     $white !default;
//$navbarInverseSearchBorder:              $navbarInverseBackground !default;
//$navbarInverseSearchPlaceholderColor:    #ccc !default;

//$navbarInverseBrandColor:                $navbarInverseLinkColor !default;