$grid-float-breakpoint:                   0;
$grid-gutter-width:                       12px;
$line-height-base:                        2;
$line-height-computed:                    floor(($font-size-base * $line-height-base));
$input-height-base:                       ($line-height-computed + ($padding-base-vertical * 2));
$border-radius-base:                      0;
$border-radius-large:                     0;
$border-radius-small:                     0;
$input-border-radius:                     0;
$gray:                                    #edebeb;
$input-bg:                                $gray;

$mobbrblue:                               rgb(0, 158, 224);
$brand-primary:                           $mobbrblue;
$state-warning-bg:                        #f60;
$state-warning-text:                      #ff0;
$white:                                   #fff;
$btn-success-bg:                          #690;
$btn-danger-bg:                           $state-warning-bg;
$btn-primary-bg:                          $mobbrblue;

$navbar-height:                           60px;
$navbar-default-bg:                       $white;
$navbar-default-border:                   $mobbrblue;
$navbar-default-link-color:               $mobbrblue;
$navbar-default-link-hover-color:         #000;
$navbar-default-link-active-bg:           $mobbrblue;
$navbar-default-link-active-color:        $white;

$mobbrFont:                               'Roboto', sans-serif;
$mobbrFontCondensed:                      'Roboto Condensed', sans-serif;
$icon-font-path:                          '../fonts/';
$icon-font-name:                          'mobbricon';
$link-color:                              $mobbrblue;
$link-hover-color:                        darken($link-color, 15%);
$nav-tabs-active-link-hover-bg:           $mobbrblue;
$nav-tabs-active-link-hover-border-color: $mobbrblue;
$nav-pills-active-link-hover-bg:          $mobbrblue;
$nav-pills-active-link-hover-border-color:$mobbrblue;

$mobbryellow:                             #ff9900;
$mobbrgreen:                              #699900;
$mobbrcallout:                            #ffcc00;
$mobbrlightblue:                          #2fb3e7;
$mobbrlightgreen:                         #8eb348;
$mobbrlightyellow:                        #ffb348;

$label-default-bg:                        $white;
$label-color:                             $mobbrblue;