body {
  background: whitesmoke;
  border-bottom: 1px solid #e3e3e3;
  margin-top: $navbarHeight + 2;
}

.navbar-fixed-top > .navbar-inner {

  border-bottom: 2px solid #fff;

  .dropdown-menu > li {

    > form,
    > .btn-group,
    > .btn {
      padding: 0 20px;
    }

    > form > .btn {
      margin-top: 0;
      width: 100%;
    }
  }

  .user-thumb {
    margin: -5px 0;
  }
}

.navbar-inverse {

  > .navbar-inner {
    padding-left: 0;
    padding-right: 15px;
    padding-top: 2px;
  }

  .input-append {
    margin-bottom: 0;
  }
}

.main {
  margin-top: 20px;
}

.well h6 {
  margin-top: 0;
}

h6 small,
table th {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

#wrapper {
  background: rgba(255, 255, 255, .9);
  padding: 20px;
  @include border-radius($baseBorderRadius);
  padding: 10px 20px 20px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#wrapper > .page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  padding-top: 25px;
  border-bottom: 1px solid #009ee0;
  border-top: 1px solid #009ee0;
}

.generate-button .button-type {
  text-align: center;
}

.generate-button .button-type label {
  margin: 1em 0;
}

.generate-button .participants {
  margin-bottom: 0;
}

.generate-button .json-generator {
  margin: 1em 0 0 0;
}

.accordion-toggle.muted {
  cursor: default;
}

.accordion-toggle.muted:hover {
  text-decoration: none;
}

.well form {
  margin: 0;
}

.payments .alert {
  margin: 0;
}

.pusher {
  background: #fff url(../img/mobbr-ripple.jpg) no-repeat left -65px;
}

.labelwidth {
  width: 120px;
}

.privacy-settings .control-group:after {
  clear: none;
}

.privacy-settings .well {
  height: 22em;
}

.accordion-inner {
  border-top: 0;
}

.use-cases .well h6 {
  margin: 0 1em 0;
}

.use-cases .well p {
  margin: 0 2em;
}

.mobbr_button {
  cursor: pointer;
}

.receipt h6 {
  float: left;
  width: 100px;
  padding: 0 20px 0 0;
  text-align: right;
}

.customicon {
  height: 16px;
  opacity: .6;
}

.customicon:hover {
  opacity: 1;
}

.join {
  margin-right: 19px;
}

.hero-unit .lead {
  padding: 15px 0;
  color: $grayLight;
  font-family: $mobbrFontFamily;
}

.apitable {
  color: $mobbrblue;
}

h1, h2, h3 {
  font-family: $mobbrHeadingsFontFamily;
  font-weight: normal;
}

.mobbrtable h3 {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0;
}

.mobbrtable .img_uri,
.mobbrtable .gravatar {
  max-width: none;
  max-height: none;
}

.mobbrtable .img_uri {
  width: 64px;
  height: 64px;
}

.mobbrtable .gravatar {
  width: 50px;
  height: 50px;
}

.mobbrtable .gravatar.small {
  width: 20px;
  height: 20px;
}

.mobbrtable .gravatar.xsmall {
  width: 20px;
  height: 20px;
}

.mobbrtable .searchbox {
  margin-right: 20px;
}

.hero-unit h1 {
  font-size: 4em;
  line-height: 1.2em;
}

.bookmarklet {
  color: $mobbrblue;
}

.home-button {
  display: inline-block;
  width: 103px;
  height: 20px;
  padding: 0 7px 0 0;
  background: url(../img/button-home.png);
  color: $grayDark;
}

.home-button:hover {
  text-decoration: none;
  color: $grayDark;
}

.tagline {
  color: $grayLight;
}

.tagline p {
  font-size: 1.3em;
  font-family: $mobbrFontFamily;
}

.introtext p {
  color: $gray;
}

pre {
  font-size: .8em;
}

.navbar-fixed-top .navbar-inner {
  box-shadow: 0 2px 0 0 #000;
}

.atlwdg-trigger {
  left: auto !important;
  top: auto !important;
  right: 0 !important;
  bottom: 0 !important;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.top-urls {

  .domain-image,
  .mobbr_button {
    max-height: 40px;
  }
}

#mobbr_div {
  opacity: 0.95;
  position: fixed;
  border: 4px solid rgb(153, 153, 153);
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  top: 8px;
  right: 8px;
  padding: 15px 0px 0px;
  z-index: 2147483647;
  border-radius: 10px;

  &.small {
    width: 492px;
    height: 338px;
    bottom: auto;

    iframe {
      height: 315px;
    }
  }

  &.full {
    width: 760px;
    height: 550px;
    bottom: auto;

    iframe {
      height: 527px;
    }
  }

  .close {
    float: right;
    position: relative;
    top: -17px;
    right: 5px;
    text-decoration: none;
    font-size: 7pt;
    color: black;
    font-family: Arial,Helvetica,sans-serif;

    img {
      position: relative;
      top: 5px;
      width: 24px;
      height: 24px;
    }
  }

  iframe {
    position: relative;
    top: -10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

//#mobbr_div {
//  display: none;
//}

.ng-cloak {
  display: none;
}

.balancesub span {
  text-transform: none;
  font-weight: normal;
}

.tab-content {
  min-height: 400px;
}

.mobbrloader {
  background-image: url(../img/mobbrloader.gif);
  background-size: cover;
}

.ui-pnotify-history-container {
  display: none;
}

.ui-pnotify {
  left: 10px;
  top: 80px;
}

.sitefooter {
  border-top: 1px solid $grayLight;
  background: $grayDark;
  color: $grayLight;
}

.sitefooter .row-fluid {
  padding: 20px;
}