body {
  padding-top: $navbar-height;
}

body.blocked:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1031;
}

body.blocked .task-pay > .clearfix > div .row {
  position: relative;
  z-index: 1032;
}

body.blocked .tasks-summary .card-container {
  position: relative;
  z-index: 1032;
}

code, pre {
  line-height: 18px;
}


/* tasks-summary */

.tasks-summary {
  padding-top: 12px;
}

.tasks-summary .card .top {
  border-bottom: 1px solid $mobbrlightblue;
}

.tasks-summary {
  padding-bottom: 0;
}
.tasks-summary .active .card {
  border-bottom-width: 0;
}

.tasks-summary .disabled .card {
  background: $mobbrblue;
  color: $mobbrlightblue;
}

a.logo img {
  cursor: pointer;
}

.page-white {
  padding-top: $grid-gutter-width * 1.25;
}

.user-thumb {
  margin-left: $grid-gutter-width / 2;
}

.top-bar {
  padding-top: $grid-gutter-width * 1.5;
  padding-bottom: $grid-gutter-width * 1.5;

  h1 {
    font-size: 26px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }

  .btn-call {
    margin-top: $grid-gutter-width / 4;
    margin-bottom: $grid-gutter-width / 4;
    padding: 9px 17px;
  }
}

.top-info h2,
.task-tags h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.task-section-container .col-md-12 {
  min-height: 0;
}

.task-info {
  background: $white;
  color: $mobbrblue;
  padding: $grid-gutter-width * 1.5;
  line-height: 1.4;
}

.task-info-row {
  margin: 0;
}

.task-payments {
  background: $white;
}

.col-md-12.task-tags {
  padding-bottom: $grid-gutter-width * 2;
}

.task-instructions {
  margin-bottom: $grid-gutter-width * 2;
}

.messaging {
  z-index: 9999;
  position: fixed;
  top: 57px;
  width: 100%;
  margin: 0 auto;
  height: 0;
}

.pay-task {
  padding-top: $grid-gutter-width * 1.25;

  input,
  select {
    background: $white;
  }

  .checkbox {
    margin-bottom: 0;
    margin-top: 8px;
    line-height: 20px;
  }
}

.more-bar {
  margin-top: $grid-gutter-width * 1.25;
  margin-bottom: $grid-gutter-width * 1.25;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: tint($gray, 50%);
  color: shade($gray, 25%);
  opacity: 1;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background: $gray;
  color: shade($gray, 25%);
  opacity: 1;
}

.task-pay {
  position: relative;
  z-index: 1032;
}

.task-pay,
.updates {
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    background: shade($gray, 25%);
    color: shade($gray, 50%);
  }
}

.bar .form-group:last-child {
  margin-bottom: 0;
}

.form-group label {
  line-height: 35px;
}

.form-group .info-box {
  line-height: 24px;

  .mobbricon-softalert {
    margin-top: 3px;
  }
}

.form-group .checkbox input {
  margin-top: 12px;
}

.border-top-bar {
  padding-top: $grid-gutter-width;
  border-top: 1px solid $gray;
}

.top-bar select {
  margin-top: $grid-gutter-width;
}

@media (max-width: $screen-sm-min) {
  .pad-xs {
    margin-bottom: $grid-gutter-width;
  }
}

.task-data {
  border-top: $grid-gutter-width solid $mobbrblue;
  padding-top: $grid-gutter-width;
}

.task-section-container {
  position: relative;
  z-index: 1032;
  background: $gray;
}

.task-top {
  border-top: 0;
  background: $white;
  color: $mobbrblue;
}

.task-stats .list-inline {
  margin-bottom: 0;
}

.task-section .filter {
  background: $white;
  color: $mobbrblue;
  border: 0;
}

.filter.task-warning {
  background: $mobbrcallout;
  color: #000;
}

.home .line,
.task-instructions .line {
  border-top: 1px solid $mobbrlightblue;
  line-height: 19px;
  color: $white;
  padding: 18px 0;
  background: $mobbrblue url(../img/home-bottom.png) top center no-repeat;

  .btn-primary {
    background: $white;
    color: $mobbrblue;
  }
}

.home .top-bar,
.task-instructions .top-bar {
  background: transparent;
}

.home .filter,
.task-instructions .filter {
  background: transparent;
  color: #000;
  border: 0;
  border-bottom: 1px solid shade($gray, 5);
}

.home .filter.bottom,
.task-instructions .filter.bottom {
  border-top: 1px solid shade($gray, 5);
  border-bottom: 0;
}

.home .content,
.task-instructions .content {
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
  padding: $grid-gutter-width 0;

   .indent {
     margin-left: 10px;
     margin-right: 10px;
   }
}

.home .happeningcontainer,
.task-instructions .happeningcontainer {
  border-top: 1px solid $white;
}

.home .borderbottom,
.task-instructions .borderbottom {
  border-bottom: 1px solid $white;
}

.home section:nth-child(odd) .content,
.home section:nth-child(odd) .top-info {
  background: $gray;
}

.home section:nth-child(even) .content,
.home section:nth-child(even) .top-info {
  background: $white;
}

.task-instructions section:nth-child(odd) .content,
.task-instructions section:nth-child(odd) .top-info {
  background: $white;
}

.task-instructions section:nth-child(even) .content,
.task-instructions section:nth-child(even) .top-info {
  background: $gray;
}

.home .content p,
.task-instructions .content p {
  line-height: 24px;
  font-family: $mobbrFontCondensed;
}

.task-instructions h2 {
  margin-top: 14px;
}

.task .card.funding .txt {
  padding-bottom: 0;
}

.line .btn-primary {
  font-weight: bold;
  font-family: $mobbrFontCondensed;

  .mobbricon {
    padding-top: 6px;
  }
}

.task-pay .info-bar,
.payment-info {
  border-top: 1px solid $white;
  padding: $grid-gutter-width 0 ;
}

.payment-info {
  border-top: 1px solid $mobbrlightgreen;
  background: $mobbrgreen;
  color: $white;
}

.api-list {
  height: 215px;
  overflow: auto;
  background: $gray;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 13px;
}

.api-list li {
  padding: 0 0 0 $grid-gutter-width * 2;
}

.api-list > li {
  border-bottom: 1px solid $white;
}

.api-side {
  padding: 0 0 0 20px;
}

.share_button {
  margin-left: $grid-gutter-width;
}

.btn-bitcoin {
  background: $white;
  color: #000;
  text-align: left;
}

.payment-filter {
  border: 0;
}

.unclaimed-msg {
  margin-top: 8px;

  ul {
    padding-left: 16px;
  }
}

.site-footer {
  border-top: 1px solid white;
  padding: $grid-gutter-width 0;
  margin-bottom: $grid-gutter-width;

  li {
    border-right: 1px solid white;
    text-align: center;
  }

  li:last-child {
    border-right: 0;
  }
}

.logo-leetchi {
  margin-left: $grid-gutter-width;
}

.logos-footer {
  margin-top: $grid-gutter-width;
}

.logo-blockchain {
  margin-left: $grid-gutter-width;
}

.powered-by {
  margin-right: $grid-gutter-width / 2;
}