$mobbrblue:                               rgb(0, 158, 224);
$brand-primary:                           $mobbrblue;
$black:                                   #000 !default;
$grayDark:                                #333 !default;
$grayLight:                               #999 !default;
$grayLighter:                             #eee !default;
$white:                                   #fff;
$blue:                                    $mobbrblue;
$navbar-default-bg:                       $mobbrblue;
$navbar-default-border:                   $mobbrblue;
$navbar-default-link-color:               $white;
$navbar-default-link-hover-color:         $white;
$navbar-default-link-active-bg:           darken($mobbrblue, 5%);
$navbar-default-link-active-color:        $white;
$mobbrHeadingsFontFamily:                 'Open Sans Condensed', sans-serif;
$mobbrFontFamily:                         'Open Sans', sans-serif;
$icon-font-path:                          '../components/sass-bootstrap/fonts/';
$link-color:                              $mobbrblue;
$link-hover-color:                        darken($link-color, 15%);
$nav-tabs-active-link-hover-bg:           $mobbrblue;
$nav-tabs-active-link-hover-border-color: $mobbrblue;
$nav-pills-active-link-hover-bg:          $mobbrblue;
$nav-pills-active-link-hover-border-color:$mobbrblue;