<div class="mobbrtable">
    <div ng-show="noEntries && !entries || entries.length == 0"
         ng-bind="noEntriesMsg"
         class="alert alert-info" ></div>

    <div class="toolbar">

        <div ng-show="hasLimiter && entries.length > 10" class="form-inline pull-right">
            <div class="form-group">
                <label for="show">Entries: </label>

                <select ng-model="showEntries" class="input-small" id="show">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>

        <div ng-show="hasSearch && entries.length > 0" class="pull-right searchbox">
            <input ng-model="searchEntries" placeholder="Search" class="search-query" type="search" id="search">
        </div>
    </div>

    <table ng-show="entries.length > 0" class="table table-striped pull-left">
        <thead ng-show="hasHeader">
        <tr>
            <th ng-repeat="column in columns" ng-bind="labels[column]" ng-click="canSort && sort(column)" type="column"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in entries | orderBy: sortEntries: sortOrder | limitTo: hasLimiter && showEntries || entries.length | filter: searchEntries">
            <td ng-repeat="column in columns" type="column" ng-switch on="column">

                <time ng-switch-when="datetime"
                      datetime="{{ entry.datetime }}">
                    <small>{{ entry.datetime }}</small>
                </time>

                <div ng-switch-when="senders">
                    <img ng-repeat="sender in entry.senders"
                         ng-src="https://secure.gravatar.com/avatar/{{ sender.gravatar }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                         class="gravatar small img-rounded">
                </div>

                <div ng-switch-when="receivers">
                    <img ng-repeat="receive in entry.receivers"
                         ng-src="https://secure.gravatar.com/avatar/{{ sender.gravatar }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                         class="gravatar small img-rounded">
                </div>

                <img ng-switch-when="gravatar"
                     ng-src="https://secure.gravatar.com/avatar/{{ entry.gravatar }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                     class="gravatar img-rounded"
                     width="50"
                     height="50">

                <img ng-switch-when=".gravatar"
                     ng-src="https://secure.gravatar.com/avatar/{{ entry['.gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                     class="gravatar small img-rounded"
                     width="20"
                     height="20">

                <img ng-switch-when="gravatar-xsmall"
                     ng-src="https://secure.gravatar.com/avatar/{{ entry['gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                     class="gravatar xsmall img-rounded"
                     width="20"
                     height="20">

                <img ng-switch-when="img_uri"
                     ng-src="{{ entry.img_uri }}"
                     class="img_uri img-rounded"
                     width="58"
                     height="58">

                <a ng-switch-when="img_uri_link" href="{{ '/#/url/' + entry.uri }}">
                    <img ng-src="{{ entry.img_uri }}"
                         class="img_uri img-rounded"
                         width="58"
                         height="58">
                </a>

                <span ng-switch-when="amount"
                      ng-bind="entry.amount | mobbrcurrency"
                      ng-class="{ 'text-error': entry.amount < 0 }"
                      class="nowrap"></span>

                <span ng-switch-when="currency_iso"
                      ng-bind="entry.currency_iso"
                      class="nowrap"></span>

                <span ng-switch-when="currency_description"
                      ng-bind="currencyDescription(entry.currency_iso)"
                      class="nowrap"></span>

                <span ng-switch-when=".percentage"
                      ng-bind="(entry['.percentage'] | number:0) + '%'"></span>

                <div ng-switch-when="title+description">
                    <strong ng-bind="entry.title"></strong>
                    <small ng-bind="entry.description"></small>
                </div>

                <div ng-switch-when="title+description_link">
                    <a href="{{ '/#/url/' + encodeuri(entry.uri) }}"><strong ng-bind="entry.title"></strong></a>
                    <div ng-bind="entry.description"></div>
                </div>

                <a ng-switch-when="url" href="{{ '/#/url/' + encodeuri(entry.url) }}" ng-bind="entry.url"></a>

                <mobbrbutton ng-switch-when="mobbrbutton" url="{{ entry.uri }}"></mobbrbutton>

                <span ng-switch-default>{{ entry[column] }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>