<div>
    <alert type="'success'" ng-show="payment.$resolved">
        Payment successfully made
        <button class="btn btn-success btn-xs pull-right" ng-click="$parent.payment = null; $parent.amount = null">Got it</button>
    </alert>
    <alert type="'warning'" ng-show="!mobbrSession.isAuthorized()">
        Log in to start paying to this url
    </alert>
    <form name="login_form" autocomplete="off" class="form-inline lightboxform" ng-submit="makePayment()">
        <fieldset ng-show="!payment.$resolved" ng-disabled="!mobbrSession.isAuthorized() || !hash || (payment && ! payment.$resolved)" class="row">
            <div class="col-md-3">
                <select class="form-control"
                        required
                        ng-model="currency"
                        ng-options="value.currency_iso as value.currency_description for value in $rootScope.userBalance.result.balances"></select>
                <!--<select class="input-small"
                        required
                        ng-model="currency"
                        ng-options="currency.code as currency.name for currency in $rootScope.currenciesMap.result | orderBy: 'name'"></select>-->
            </div>
            <div class="col-md-6">
                <input class="form-control"
                       required
                       type="number"
                       ng-model="amount"
                       step="any"
                       min="0"
                       max="1000000000">
            </div>
            <div class="col-md-3">
                <button ng-disabled="payment && !payment.$resolved" class="btn btn-success btn-block" type="submit">
                    <i class="glyphicon mobbrloader" ng-show="payment && !payment.$resolved"></i>
                    <span ng-bind="labels[type]"></span>
                </button>
            </div>
        </fieldset>
    </form>
</div>