<div>
    <div ng-show="noEntries && entries.length == 0"
         ng-bind="noEntries || 'No entries found'"
         class="alert alert-info" ></div>

    <div class="pull-right">
        <div ng-show="hasSearch && entries.length > 0">
            <input ng-model="searchEntries" placeholder="Search" class="search-query" type="search" id="search">
        </div>
        <div ng-show="entries.length > 10" class="pull-right">
            <label for="show">Entries: </label>
            <select ng-model="showEntries" class="input-small" id="show">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>



    <table ng-show="entries.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="column in columns" ng-bind="labels[column]" ng-click="sort(column)" type="column"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in entries | orderBy:sortEntries:sortOrder | limitTo:showEntries | filter:searchEntries">
            <td ng-repeat="column in columns" type="column" ng-switch on="column">
                <img ng-switch-when="gravatar"
                     ng-src="https://secure.gravatar.com/avatar/{{ entry.gravatar }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                     class="gravatar img-rounded">
                <img ng-switch-when=".gravatar"
                     ng-src="https://secure.gravatar.com/avatar/{{ entry['.gravatar'] }}?s=30&default=https://mobbr.com/img/default-gravatar.png"
                     class="gravatar img-rounded">
                <span ng-switch-when="amount" ng-bind="entry.amount | mobbrcurrency:entry.currency_iso" ng-class="{ 'text-error': entry.amount < 0 }" class="nowrap"></span>
                <span ng-switch-when=".percentage" ng-bind="(entry['.percentage'] | number:0) + '%'"></span>
                <span ng-switch-default ng-bind="entry[column]"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>