<div class="row top-info tags">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title"><span class="mobbricon mobbricon-tag"></span> Tags</h2>
                <ul class="tasks-tags list-unstyled">
                    <li ng-repeat="tag in filteredTags">
                        <a ng-click="removeTag(tag)" class="label label-default tag pull-left">
                            <span class="mobbricon mobbricon-tag"></span>
                            {{tag}}
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </a>
                    </li>
                    <li ng-repeat="tag in suggestedTags | limitTo: tagsLimiter.limit | filter: filterKeyword">
                        <a ng-click="addTag(tag.keyword)" class="label suggested label-default tag pull-left">
                            <span class="mobbricon mobbricon-tag"></span>
                            {{ tag.keyword }}
                            <span class="mobbricon mobbricon-addopen"></span>
                        </a>
                    </li>
                    <li ng-show="suggestedTags.length >= tagsLimiter.limit" ng-click="tagsLimiter.limit = tagsLimiter.limit + 10; getSuggestedTags();">
                        <a class="pull-left label tag more label-default">More <span class="mobbricon mobbricon-addopen"></span></a>
                    </li>
                    <li class="label label-default tag addtag pull-left">
                        <form class="form-inline" ng-submit="addTag()">
                            <input class="form-control pull-left" type="text" ng-model="form.newTag">
                            <label class="pull-left">
                                Add
                                <span class="mobbricon mobbricon-addopen"></span>
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>