<fieldset>
    <form ng-submit="gotoUrl(query)" class="input-group">
        <span ng-click="showUrlTypes=!showUrlTypes" class="showUrlTypes input-group-addon">=</span>
        <input type="url" class="form-control" ng-model="query" placeholder="{{placeHolders[urlType]}}">
            <span class="input-group-btn">
                <button ng-disabled="query === '' || activeQuery == query"
                        class="btn btn-default"
                        type="submit">Go!</button>
                </span>
    </form>
    <ul collapse="!showUrlTypes">
        <li ng-click="urlType='URL';showUrlTypes=false">
            <a>Create and manage tasks</a>
        </li>
        <li ng-click="urlType='CROWDS';showUrlTypes=false">
            <a>Find crowds</a>
        </li>
        <li ng-click="urlType='TASK';showUrlTypes=false">
            <a>Find tasks</a>
        </li>
        <li ng-click="urlType='PEOPLE';showUrlTypes=false">
            <a>Find people</a>
        </li>
    </ul>
</fieldset>