<div class="row top-info tags">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span class="mobbricon mobbricon-tag"></span> {{ tagsTitle }}</h2>
                <ul class="tasks-tags list-inline">
                    <li ng-show="tagsChanged">
                        <a ng-click="resetTags(); tagsChanged = false;"><span class="label label-default">Reset <span class="mobbricon mobbricon-tag"></span></span></a>
                    </li>
                    <li ng-show="filteredTags.length == 0">
                        <a ng-click="topTags(); tagsChanged = true;"><span class="label label-default">No tags to display, click here for top tags <span class="mobbricon mobbricon-tag"></span></span></a>
                    </li>
                    <li ng-repeat="tag in filteredTags" >
                        <a ng-click="removeTag(tag)" href="">
                            <span class="label label-default">
                                <span class="mobbricon mobbricon-tag"></span>
                                {{tag}}
                                <span class="mobbricon mobbricon-hardclose"></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <form ng-submit="addTag()" name="addTagForm">
                            <input type="text" ng-model="form.newTag">
                            <button class="btn btn-primary" type="submit">
                                Add
                                <span class="mobbricon mobbricon-addopen"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>