<div class="row top-info tags">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title"><span class="mobbricon mobbricon-tag"></span> Tags</h2>
                <ul class="tasks-tags list-unstyled">
                    <li ng-show="tagsChanged">
                        <a ng-click="resetTags(); tagsChanged = false; tagsLimiter = 20;" class="label label-default tag reset pull-left">Reset <span class="mobbricon mobbricon-hardclose"></span></a>
                    </li>
                    <li ng-show="filteredTags.length == 0">
                        <a ng-click="topTags(); tagsChanged = true; tagsLimiter = 20;" class="pull-left label tag toptags label-default"><span class="mobbricon mobbricon-tag"></span> No tags to display, click here for top tags</a>
                    </li>
                    <li ng-repeat="tag in filteredTags | limitTo: tagsLimiter">
                        <a ng-click="removeTag(tag)" class="label label-default tag pull-left">
                            <span class="mobbricon mobbricon-tag"></span>
                            {{tag}}
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </a>
                    </li>
                    <li ng-show="tags.length >= tagsLimiter" ng-click="tagsLimiter = tagsLimiter + 10; topTagsPromise && resetTopTags() || resetTags(tagsLimiter);">
                        <a class="pull-left label tag more label-default">More <span class="mobbricon mobbricon-addopen"></span></a>
                    </li>
                    <li class="label label-default tag addtag pull-left">
                        <form class="form-inline" ng-submit="addTag()">
                            <input class="form-control pull-left" type="text" ng-model="form.newTag">
                            <label class="pull-left">
                                Add
                                <span class="mobbricon mobbricon-addopen"></span>
                            </label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>