<form name="invoicing" ng-submit="confirm(invoice)">
    <div class="modal-header">
        <h3>Confirm or adjust your invoicing data</h3>
        <small>Defaults are taken from your <a hef="/#/settings">settings</a> panels</small>
    </div>
    <div class="form-horizontal modal-body">

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="name">
                (Business) name
            </label>
            <div class="col-md-8">
                <input ng-model="invoice.worker_name"
                       name="name"
                       type="text"
                       id="name"
                       placeholder="e.g. Google"
                       class="form-control"
                       required>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="address">
                Full address
            </label>
            <div class="col-md-8">
                <input ng-model="invoice.worker_address"
                       class="form-control"
                       name="address"
                       type="text"
                       id="address"
                       placeholder="e.g. Sesame Street 3, Metropolis"
                       required>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="country">
                Country
            </label>
            <div class="col-md-8">
                <select ng-model="invoice.worker_country"
                        ng-options="country.code as country.name for country in countriesMap.result | orderBy: 'name'"
                        id="country"
                        name="country"
                        class="form-control"
                        required>
                    <option value="">No country</option>
                </select>
            </div>
        </fieldset>


        <fieldset class="form-group">
            <label class="control-label col-md-4" for="vat-number">
                VAT-number
            </label>
            <div class="col-md-8">
                <input ng-model="invoice.worker_vat_number"
                       name="vat_number"
                       type="text"
                       id="vat-number"
                       placeholder="e.g. NL001234567B01"
                       class="form-control"
                       required>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="status">
                Legal entity
            </label>
            <div class="col-md-8">
                <select ng-model="invoice.worker_status"
                        name="status"
                        type="text"
                        id="status"
                        class="form-control"
                        required>
                    <option value="private">Private</option>
                    <option value="enterprise">Enterprise</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="invoice-prefix">
                Invoice number prefix
            </label>
            <div class="col-md-8">
                <input ng-model="invoice.worker_invoice_prefix"
                       name="invoice-prefix"
                       type="text"
                       id="invoice-prefix"
                       placeholder="e.g. COMPANY-"
                       class="form-control">
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="invoice-postfix">
                Invoice number postfix
            </label>
            <div class="col-md-8">
                <input ng-model="invoice.worker_invoice_postfix"
                       name="invoice-postfix"
                       type="text"
                       id="invoice-postfix"
                       class="form-control">
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label col-md-4" for="invoice-number">
                Example invoice number
            </label>
            <div class="col-md-8">
                <input ng-value="(invoice.worker_invoice_prefix || '') + '23DgW' + (invoice.worker_invoice_postfix || '')"
                       name="invoice-number"
                       id="invoice-number"
                       type="text"
                       ng-disabled="true"
                       class="form-control">
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            <i class="glyphicon mobbrloader" ng-show="waiting"></i>
            Confirm
        </button>
        <button type="reset" ng-click="$dismiss()" class="btn btn-error">Cancel</button>
    </div>
</form>