<form ng-submit="confirm()" name="deposit" class="form-horizontal">
    <div class="modal-header">
        <h3>Deposit money from external account</h3>
    </div>
    <fieldset class="modal-body">
        <div class="control-group">
            <div class="control-label">
                <label for="currency">Currency</label>
            </div>

            <div class="controls">
                <select id="currency"
                        class="input-small"
                        ng-model="deposit_currency"
                        ng-options="currency for currency in networks['iban'].currencies">
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                <label for="amount">Amount</label>
            </div>

            <div class="controls">
                <input id="amount" name="deposit_amount" class="input-small" ng-model="deposit_amount"
                       required type="number" step="any" min="0" max="1000000000">
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                <label for="country">Note</label>
            </div>

            <div class="controls">
                <textarea id="country" name="deposit_note" ng-model="deposit_note"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="icon-white mobbrloader" ng-show="waiting"></i> Confirm</button>
        <button ng-click="close()" class="btn btn-error">Cancel</button>
    </div>
</form>