<div class="modal-header">
    <h3>Confirm or adjust your invoicing data</h3>
    <small>Defaults are taken from your <a hef="/#/settings">settings</a> panels</small>
</div>
<form name="invoicing" class="form-horizontal modal-body">
    <div class="control-group">
        <div class="control-label">
            <label for="name">(Business) name</label>
        </div>

        <div class="controls">
            <input ng-model="invoice.name" name="name" type="text" id="name" placeholder="e.g. Google">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="name">Full address</label>
        </div>

        <div class="controls">
            <input ng-model="invoice.address" name="address" type="text" id="address" placeholder="e.g. Sesame Street 3, Metropolis">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="country">Country</label>
        </div>

        <div class="controls">
            <select id="country" name="country" ng-model="invoice.country"
                    ng-options="value as key for (value, key) in countriesMap">
                <option value="">No country</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="vat-number">VAT-number</label>
        </div>

        <div class="controls">
            <input ng-model="invoice.vat_number" name="vat_number" type="text" id="vat-number" placeholder="e.g. NL001234567B01">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="vat-rate">Required VAT-rate (%)</label>
        </div>

        <div class="controls">
            <input ng-model="invoice.vat_rate" name="vat_rate" type="text" id="vat-rate" placeholder="e.g. 21"><br/>
            <small>Indicate the rate for this type of work in <b>your</b> country</small>
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="status">Legal entity</label>
        </div>

        <div class="controls">
            <select ng-model="invoice.status" name="status" type="text" id="status">
                <option value="private">Private</option>
                <option value="enterprise">Enterprise</option>
            </select>
        </div>
    </div>

    <div ng-show="api == 'working'">
        <div class="control-group">
            <div class="control-label">
                <label for="invoice-prefix">Invoice number prefix</label>
            </div>

            <div class="controls">
                <input ng-model="invoice.invoice_prefix" name="invoice-prefix" type="text" id="invoice-prefix" placeholder="e.g. COMPANY-">
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                <label for="invoice-postfix">Invoice number postfix</label>
            </div>

            <div class="controls">
                <input ng-model="invoice.invoice_postfix" name="invoice-postfix" type="text" id="invoice-postfix" placeholder="">
            </div>
        </div>

        <div class="control-group">
            <div class="control-label">
                <label for="invoice-number">Example invoice number</label>
            </div>

            <div class="controls">
                <input ng-value="invoice.invoice_prefix + '23DgW' + invoice.invoice_postfix" name="invoice-number" id="invoice-number" type="text" ng-disabled="true">
            </div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <button ng-click="confirm()" class="btn btn-success"><i class="icon-white mobbrloader" ng-show="waiting"></i> Confirm</button>
    <button ng-click="close()" class="btn btn-error">Cancel</button>
</div>