<div class="modal-header receipt-header">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ linkUrl(payment.result.meta_data.url) }}" class="pull-left" ng-show="payment.result.meta_data.img_url">
                <img ng-src="{{ payment.result.meta_data.img_url }}" class="gravatar receipt-thumb img-rounded">
            </a>
            <h3 class="pull-left">
                Payment receipt <span ng-hide="payment.result.meta_data.paiddatetime">(pending)</span><br>
            </h3>
        </div>
        <div class="col-md-6">
            <button type="button" class="close pull-right" aria-hidden="true" ng-click="close()">&times;</button>
            <div class="senders">
                <a ng-repeat="sender in payment.result.senders" ng-href="https://secure.gravatar.com/{{ sender['gravatar'] }}" target="_blank" class="pull-left">
                    <img ng-src="https://secure.gravatar.com/avatar/{{ sender['gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                         class="img-rounded receipt-thumb">
                </a>
                <h3 class="pull-left">
                    {{ payment.result.meta_data.currency_iso }} <span class="amount" ng-bind="payment.result.meta_data.amount | mobbrcurrency"></span><br>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-class="{ 'receipt-details': !external }">
                <span ng-show="!external">
                    <a href="{{ linkUrl(payment.result.meta_data.url) }}">
                        {{ payment.response.meta_data.title || payment.result.meta_data.url }}
                    </a>
                </span>
                <span ng-show="external">Payment service: {{ payment.result.meta_data.payment_service }}</span><br>
                <small ng-bind="payment.result.meta_data.paiddatetime"></small>
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal modal-body">
    <div ng-show="external">
        <div>
            <h6>Receive address</h6>
            <span ng-bind="payment.result.meta_data.receive_address"></span>
        </div>
        <div>
            <h6>Send address</h6>
            <span ng-bind="payment.result.meta_data.send_address"></span>
        </div>
        <div>
            <h6>External transaction ID</h6>
            <span ng-bind="payment.result.meta_data.ext_trx_id"></span>
        </div>
        <div>
            <h6>Note</h6>
            <span ng-bind="payment.result.meta_data.note"></span>
        </div>
    </div>
    <div ng-show="!external">
            <invoicetable id="receivers"
                          columns="[ 'gravatar', 'username', 'role', 'amount' ]"
                          api="payment"
                          index="'receivers'"
                          header="false"></invoicetable>
    </div>
</div>

<div class="modal-footer">
    <alert>
        This is a publicly accessible but secret URL. Be careful with whom you share it.
    </alert>
    <input type="text" readonly onclick="this.setSelectionRange(0, this.value.length)" ng-value="getPaymentUrl(payment.result.meta_data.id, external)" class="form-control">
</div>