<form name="withdraw" class="form-horizontal" ng-submit="confirm()">
    <div class="modal-header">
        <h3>Withdraw money to external account</h3>
    </div>

    <div class="form-horizontal modal-body">

        <fieldset class="form-group">
            <div class="control-label col-md-4">
                <label for="method">Account type</label>
            </div>
            <div class="col-md-8">
                <select id="method"
                        class="form-control"
                        ng-model="network_method"
                        ng-options="value.name for (key, value) in networks"></select>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="control-label col-md-4">
                <label for="currency">Currency</label>
            </div>
            <div class="col-md-8">
                <select id="currency"
                        class="form-control"
                        ng-model="network_method.send.currency"
                        ng-options="currency for currency in network_method.currencies">
                </select>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="control-label col-md-4">
                <label for="amount">Amount</label>
            </div>
            <div class="col-md-8">
                <input id="amount"
                       name="withdraw_amount"
                       class="form-control"
                       ng-model="network_method.send.amount"
                       required type="number" step="any" min="0" max="1000000000">
            </div>
        </fieldset>

        <fieldset ng-disabled="network_method == networks['btc'] || network_method == networks['iban']"
                  ng-if="network_method != networks['btc'] && network_method != networks['iban']"
                  class="form-group">
            <div class="control-label col-md-4">
                <label for="accountnumber">Amount number</label>
            </div>
            <div class="col-md-8">
                <input id="accountnumber"
                       type="text"
                       class="form-control"
                       placeholder="Account number"
                       name="accountnumber"
                       pattern="{{ network_method == networks['ca'] && '^\w{1,50}$' || '^\d+$' }}"
                       ng-model="network_method.send.address.accountnumber"
                       required>
            </div>
        </fieldset>

        <fieldset ng-disabled="network_method != networks['uk']"
                  ng-if="network_method == networks['uk']"
                  class="form-group">
            <div class="control-label col-md-4">
                <label for="sortcode">Sort code</label>
            </div>
            <div class="col-md-8">
                <input id="sortcode"
                       type="text"
                       class="form-control"
                       placeholder="Sort code"
                       name="sortcode"
                       pattern="^\d+$"
                       ng-model="network_method.send.address.sortcode"
                       required>
            </div>
        </fieldset>

        <fieldset ng-disabled="network_method != networks['us']"
                  ng-if="network_method == networks['us']"
                  class="form-group">
            <div class="control-label col-md-4">
                <label for="aba">ABA</label>
            </div>
            <div class="col-md-8">
                <input id="aba"
                       type="text"
                       class="form-control"
                       placeholder="ABA"
                       name="aba"
                       pattern="/^$\d{9}"
                       ng-model="network_method.send.address.aba"
                       required>
            </div>
        </fieldset>

        <fieldset ng-disabled="network_method != networks['ca']"
                  ng-if="network_method == networks['ca']">
            <div class="form-group">

                <div class="control-label col-md-4">
                    <label for="institutionnumber">Institution Number</label>
                </div>
                <div class="col-md-8">
                    <input id="institutionnumber"
                           type="text"
                           class="form-control"
                           placeholder="Instutution number"
                           name="institutionnumber"
                           pattern="^\d{3,4}$"
                           ng-model="network_method.send.address.institutionnumber"
                           required>
                </div>
            </div>
            <div class="form-group">

                <div class="control-label col-md-4">
                    <label for="branchcode">Branch code</label>
                </div>
                <div class="col-md-8">
                    <input id="branchcode"
                           type="text"
                           placeholder="Branch code"
                           class="form-control"
                           name="branchcode"
                           pattern="^\d{5}$"
                           ng-model="network_method.send.address.branchcode"
                           required>
                </div>
            </div>
            <div class="form-group">

                <div class="control-label col-md-4">
                    <label for="bankname">Bank name</label>
                </div>
                <div class="col-md-8">
                    <input id="bankname"
                           type="text"
                           class="form-control"
                           placeholder="Bank name"
                           name="bankname"
                           pattern="^\d{1,20}$"
                           ng-model="network_method.send.address.bankname"
                           required>
                </div>
            </div>
        </fieldset>

        <fieldset ng-disabled="network_method != networks['iban']"
                  ng-if="network_method == networks['iban']"
                  class="form-group">

            <div class="control-label col-md-4">
                <label for="iban">IBAN</label>
            </div>
            <div class="col-md-8">
                <input id="iban"
                       class="form-control"
                       type="text" pattern="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[0-9]{7}([a-zA-Z0-9]?){0,16}"
                       placeholder="ÏBAN"
                       name="iban"
                       ng-model="network_method.send.address.iban"
                       required>
            </div>
        </fieldset>
        <fieldset ng-disabled="network_method != networks['other'] && network_method != networks['iban']"
                  ng-if="network_method == networks['other'] || network_method == networks['iban']"
                  class="form-group">

            <div class="control-label col-md-4">
                <label for="bic">BIC</label>
            </div>
            <div class="col-md-8">
                <input id="bic"
                       class="form-control"
                       type="text"
                       pattern="^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$"
                       placeholder="BIC"
                       name="bic"
                       ng-model="network_method.send.address.bic"
                       required>
            </div>
        </fieldset>
        <fieldset ng-disabled="network_method != networks['other']"
                  ng-if="network_method == networks['other']"
                  class="form-group">

            <div class="control-label col-md-4">
                <label for="country">Country</label>
            </div>
            <div class="col-md-8">
                <input id="country"
                       class="form-control"
                       type="text"
                       placeholder="Country"
                       name="country"
                       pattern="^\w{2}$"
                       ng-model="network_method.send.address.country"
                       required>
            </div>
        </fieldset>
        <fieldset ng-disabled="network_method == networks['btc']"
                  ng-if="network_method != networks['btc']">

            <div class="form-group">
                <div class="control-label col-md-4">
                    <label for="name">Name</label>
                </div>
                <div class="col-md-8">
                    <input id="name"
                           class="form-control"
                           type="text"
                           name="name"
                           placeholder="e.g. Patrick Savalle"
                           ng-model="network_method.send.address.name"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="control-group">

                    <div class="control-label col-md-4">
                        <label for="address">Address</label>
                    </div>

                    <div class="col-md-8">
                        <input id="address"
                               class="form-control"
                               type="text" name="address"
                               placeholder="e.g. ..."
                               ng-model="network_method.send.address.address"
                               required>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset ng-disabled="network_method != networks['btc']"
                  ng-if="network_method == networks['btc']"
                  class="form-group">

            <div class="control-label col-md-4">
                <label for="btc_address">Address</label>
            </div>

            <div class="col-md-8">
                <input id="btc_address"
                       class="form-control"
                       type="text"
                       pattern="^[13][1-9A-Za-z][^OIl]{20,40}"
                       placeholder="Bitcoin address"
                       name="address"
                       ng-model="network_method.send.address"
                       required>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            <i class="glyphicon mobbrloader" ng-show="waiting"></i>
            Confirm
        </button>
        <button type="reset" ng-click="$dismiss()" class="btn btn-error">
            Cancel
        </button>
    </div>
</form>