<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 9]><html xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if !IE]><!--><html xmlns:ng="http://angularjs.org"> <!--<![endif]-->
    <head>
        <!-- build:js scripts/combined-head.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 8]>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
            document.createElement('ng-switch');
            document.createElement('accordion');
            document.createElement('accordion-group');
            document.createElement('interceptor');
            document.createElement('payments');
            document.createElement('paymentsprovided');
            document.createElement('user-settings');
            document.createElement('peoplepagesearch');
            document.createElement('people');
            document.createElement('mobbrbutton');
            document.createElement('tabs');
            document.createElement('pane');
            document.createElement('alert');
        </script>
        <![endif]-->
        <title>MOBBR Crowdpayment System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="MOBBR crowdpayment system" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://mobbr.com" />
        <meta property="og:image" content="https://mobbr.com/img/mobbr-ripple.jpg" />
        <meta property="og:description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <meta name="description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <!-- build:css styles/style.css -->
        <link href="styles/style.css" rel="stylesheet">
        <!-- endbuild -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46675002-1', 'mobbr.com');
            ga('send', 'pageview');
        </script>
        <!-- build:js mobbr.js -->
        <script src="components/mobbr-button/mobbr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app="mobbrWeb" id="ng-app" idle-timeout ng-class="{ 'mobbr-test': isTest(), 'ng-app': true, 'loading': loading }">
        <!--[if lt IE 10]>
        <p class="chromeframe">
            You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
            today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
            experience this site.
        </p>
        <![endif]-->

        <div class="ng-cloak messaging container-fluid">
            <div class="container">
                <alert ng-repeat="alert in mobbrMsg.messages" type="alert.type" close="mobbrMsg.close($index)">{{ alert.msg }}</alert>
            </div>
        </div>

        <header class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img src="img/logo-mobbr.png">
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-if="$mobbrStorage.user.thumbnail" ng-src="{{ $mobbrStorage.user.thumbnail }}" class="img-rounded user-thumb">
                            <span ng-bind="$mobbrStorage.user.username || 'Account'"></span>
                            <b class="caret"></b>
                        </a>

                        <ul class="user-menu dropdown-menu" ng-show="!mobbrSession.isAuthorized()">
                            <li class="nav-header"></li>
                            <li>
                                <form ng-submit="login(username, password)"
                                      form-autofill-fix
                                      class="col-lg-12"
                                      name="head-login">
                                    <div class="form-group">
                                        <input ng-model="username"
                                               auto-fill-sync
                                               class="form-control"
                                               type="text"
                                               name="username"
                                               placeholder="username"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <input ng-model="password"
                                               auto-fill-sync
                                               class="form-control"
                                               type="password"
                                               name="password"
                                               placeholder="password"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <button ng-disabled="authenticating && !authenticating.$resolved"
                                                type="submit"
                                                class="btn btn-block">
                                            <i class="glyphicon mobbrloader" ng-show="authenticating && !authenticating.$resolved"></i>
                                            Log in
                                        </button>
                                    </div>
                                </form>
                            </li>
                            <li class="divider"></li>
                            <li><a class="nav-header" href="#/join">Register / new user</a></li>
                            <li class="divider"></li>
                            <li><a class="nav-header" href="#/recover">Password forgotten</a></li>
                        </ul>

                        <ul class="dropdown-menu" ng-show="mobbrSession.isAuthorized()">
                            <li>
                                <a href="#/wallet">
                                    <span class="glyphicon glyphicon-inbox"></span>
                                    Wallet
                                </a>
                            </li>
                            <li>
                                <a href="#/payments">
                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                    Payments
                                </a>
                            </li>
                            <li>
                                <a href="#/settings">
                                    <span class="glyphicon glyphicon-wrench"></span>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a ng-click="logout()">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>

        <section class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#/features">Features</a></li>
                    <li><a target="_blank" href="https://docs.mobbr.com">Getting started</a></li>
                    <li><a href="#/claimpayment">Claim payment</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            More
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a target="_blank" href="http://blog.mobbr.com">
                                    Blog ?
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://plus.google.com/communities/100962413817465214183">
                                    Community ?
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ask.mobbr.com">
                                    Help &amp; support ?
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#/company">
                                    About us
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#/integration">
                                    Documentation
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/mobbrcom">
                            <img class="customicon" src="img/icon-twitter.png">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://plus.google.com/+Mobbrcom">
                            <img class="customicon" src="img/icon-gplus.png">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.mobbr.com">
                            <img class="customicon" src="img/icon-rss.png">
                        </a>
                    </li>
                </ul>

                <form ng-submit="mobbrNow(mobbrNowInput)"
                      class="navbar-form navbar-right"
                      title="Do a direct payment to an URL or email address">
                    <div class="form-group">
                        <input class="form-control"
                               name="mobbrinput"
                               title="Enter the URL, Mobbr-account, email-address you want to send money to"
                               placeholder="Enter any URL"
                               size="35"
                               maxlength="512"
                               type="url"
                               ng-model="mobbrNowInput"
                               required>
                    </div>
                    <button name="go" class="btn" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </section>

        <div class="container-fluid main" ui-view></div>

        <!-- build:js scripts/combined.js -->
        <script src="components/jquery/dist/jquery.js"></script>
        <script src="components/angularjs-file-upload/angular-file-upload-shim.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api.src.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api-msg.src.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api-session.src.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/ngstorage/ngStorage.js"></script>
        <script src="components/ng-file-upload/angular-file-upload.js"></script>
        <script src="components/ng-table/ng-table.js"></script>
        <script src="components/jspdf/libs/Deflate/deflate.js"></script>
        <script src="components/jspdf/libs/Deflate/adler32cs.js"></script>
        <script src="components/file-saver/FileSaver.js"></script>
        <script src="components/jspdf/jspdf.js"></script>
        <script src="components/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>
        <script src="components/jspdf/jspdf.plugin.split_text_to_size.js"></script>
        <script src="components/angular-ui-utils/ui-utils.js"></script>
        <script src="components/moment/moment.js"></script>
        <script src="components/angular-moment/angular-moment.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/mobbr-www.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/ApiController.js"></script>
        <script src="scripts/controllers/ActivateController.js"></script>
        <script src="scripts/controllers/UrlReceiptController.js"></script>
        <script src="scripts/controllers/PaymentReceiptController.js"></script>
        <script src="scripts/controllers/ExchangeRateController.js"></script>
        <script src="scripts/controllers/DomainController.js"></script>
        <script src="scripts/controllers/CreateButtonController.js"></script>
        <script src="scripts/controllers/ClaimPaymentController.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
        <script src="scripts/controllers/WalletController.js"></script>
        <script src="scripts/controllers/DepositController.js"></script>
        <script src="scripts/controllers/WithdrawController.js"></script>
        <script src="scripts/controllers/LinkLoginController.js"></script>
        <script src="scripts/controllers/UserSettingsController.js"></script>
        <script src="scripts/controllers/RecoverPasswordController.js"></script>
        <script src="scripts/controllers/UpdateEmailController.js"></script>
        <script src="scripts/controllers/UpdatesController.js"></script>
        <script src="scripts/controllers/JoinController.js"></script>
        <script src="scripts/controllers/PaymentsController.js"></script>
        <script src="scripts/services/idleTimeout.js"></script>
        <script src="scripts/services/pdfGenerator.js"></script>
        <script src="scripts/services/authResolver.js"></script>
        <script src="scripts/services/mobbrModal.js"></script>
        <script src="scripts/directives/mobbrbutton.js"></script>
        <script src="scripts/directives/mobbrtable.js"></script>
        <script src="scripts/directives/mtable.js"></script>
        <script src="scripts/directives/mobbrPayment.js"></script>
        <script src="scripts/directives/placeholder.js"></script>
        <script src="scripts/directives/pwCheck.js"></script>
        <script src="scripts/directives/formAutofillFix.js"></script>
        <script src="scripts/directives/invoicetable.js"></script>
        <script src="scripts/filters/mobbrcurrency.js"></script>
        <!-- endbuild -->

        <!-- TODO remove -->
            <script src="scripts/services/mobbr-userTmp.js"></script>

        <!-- end remove -->
        <!-- build:remove -->
        <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->
        <script src="components/angular-mocks/angular-mocks.js"></script>
        <!-- /build -->

        <script>

            var mobbrWeb = angular.module('mobbrWeb', [
                'mobbr'
                <!-- build:remove -->
                <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->
                , 'ngMockE2E'
                <!-- /build -->

            ]).run(function ($injector, $rootScope) {

                <!-- build:remove -->
                <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->

                var $httpBackend = $injector.get('$httpBackend');

                $httpBackend.whenGET(/views\/.*/).passThrough();


                <!-- /build -->

            });


        </script>
    </body>
</html>
