<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 9]><html xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if !IE]><!--><html xmlns:ng="http://angularjs.org"> <!--<![endif]-->
    <head>

        <!-- build:js scripts/combined-head.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 8]>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
            document.createElement('ng-switch');
            document.createElement('accordion');
            document.createElement('accordion-group');
            document.createElement('interceptor');
            document.createElement('payments');
            document.createElement('paymentsprovided');
            document.createElement('user-settings');
            document.createElement('peoplepagesearch');
            document.createElement('people');
            document.createElement('mobbrbutton');
            document.createElement('tabs');
            document.createElement('pane');
            document.createElement('alert');
        </script>
        <![endif]-->
        <title>MOBBR Crowdpayment System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="MOBBR crowdpayment system" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://mobbr.com" />
        <meta property="og:image" content="https://mobbr.com/img/mobbr-ripple.jpg" />
        <meta property="og:description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <meta name="description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <!-- build:css styles/style.css -->
        <link href="styles/style.css" rel="stylesheet">
        <link href="components/pines-notify/jquery.pnotify.default.css" rel="stylesheet">
        <!-- endbuild -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46675002-1', 'mobbr.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body ng-app="mobbr" id="ng-app" idle-timeout ng-class="{ 'mobbr-test': isTest() !== -1, 'ng-app': true, 'loading': loading }">
        <!--[if lt IE 10]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
            today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
            experience this site. {{showMobbrFrame}}</p>
        <![endif]-->
        <!-- build:js scripts/combined-ie.js -->
        <!--[if lt IE 9]>
        <script src="components/es5-shim/es5-shim.js"></script>
        <script src="components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->
        <div class="pusher">
            <!--<div class="beta">
                Advanced prototype for demonstration purposes. Dummy money only. Login / sign-up and try the worlds first crowdpayment system.
            </div>-->
            <header class="navbar navbar-fixed-top">
                <nav class="navbar-inner">
                    <ul class="nav">
                        <li><a href="#/"><img src="img/logo-mobbr.png"></a></li>
                    </ul>

                    <ul class="nav pull-right ng-cloak" ng-switch on="userSession.authenticated" ng-show="true">
                        <li class="dropdown" ng-switch-when="false">
                            <a class="dropdown-toggle">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="nav-header"></li>
                                <li>
                                    <form ng-submit="login()" name="head-login" ng-controller="LoginController" form-autofill-fix>
                                        <input ng-model="email" type="email" name="email" placeholder="email address" auto-fill-sync>
                                        <input ng-model="password" type="password" name="password" placeholder="password" auto-fill-sync>
                                        <button ng-disabled="waiting" type="submit" class="btn"><i class="icon-white mobbrloader" ng-show="waiting"></i> Log in</button>
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li><a class="nav-header" href="#/join">Register / new user</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-header" href="#/recover">Password forgotten</a></li>
                            </ul>
                        </li>

                        <li class="dropdown ng-cloak" ng-switch-when="true" >
                            <ul class="nav">
                                <li user-settings class="dropdown">
                                    <a class="dropdown-toggle"><span ng-bind="userSession.user.username"></span> <img ng-src="{{ userSession.user.thumbnail }}" style="height: 30px;" class="img-rounded user-thumb"> <b class="caret"></b></a>
                                    <ul class="dropdown-menu" ng-controller="LoginController">
                                        <li><a href="#/wallet"><i class="icon-inbox"></i> Wallet</a></li>
                                        <li><a href="#/taskboard"><i class="icon-calendar"></i> Taskboard</a></li>
                                        <!--<li><a href=""><i class="icon-eye-open"></i> Sourcing</a></li>-->
                                        <li><a href="#/settings"><i class="icon-wrench"></i> Settings</a></li>
                                        <li><a ng-click="logout()"><i class="icon-lock"></i> Log out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>

            <section class="navbar navbar-inverse navbar-static-top">
                <nav class="navbar-inner">
                    <ul class="nav">
                        <!--<li><a href="#/taskboard">Find work</a></li>-->
                        <li><a href="#/claimpayment">Claim payment</a></li>
                        <li><a href="#/generatebutton">Create button</a></li>
                        <li class="dropdown" style="min-width: 0">
                            <a class="dropdown-toggle">Information <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/company">Company</a></li>
                                <li><a href="#/features">Features</a></li>
                                <li><a target="_blank" href="https://plus.google.com/communities/100962413817465214183">Community →</a></li>
                                <li class="divider"></li>
                                <li><a href="#/tools">Tools</a></li>
                                <li><a href="#/integration">Integration</a></li>
                                <li><a target="_blank" href="https://api.mobbr.com">API →</a></li>
                                <li><a target="_blank" href="/protocol.html">Script-syntax →</a></li>
                                <!--<li class="divider"></li>-->
                                <!--<li class="nav-header">Stay up-to-date</li>-->
                                <!--<li><a target="_blank" href="http://blog.mobbr.com/">Mobbr blog →</a></li>
                                <li><a target="_blank" href="https://twitter.com/#%21/mobbrcom">Mobbr on Twitter →</a></li>
                                <li><a target="_blank" href="https://plus.google.com/communities/100962413817465214183">Mobbr on Google+ →</a></li>-->
                                <!--<li><a href="#/exchangerate">Currency exchange rates</a></li>-->
                            </ul>
                        </li>
                        <li><a target="_blank" href="https://twitter.com/mobbrcom"><img class="customicon" src="img/icon-twitter.png"></a></li>
                        <li><a target="_blank" href="https://plus.google.com/+Mobbrcom"><img class="customicon" src="img/icon-gplus.png"></a></li>
                        <li><a target="_blank" href="http://blog.mobbr.com"><img class="customicon" src="img/icon-rss.png"></a></li>
                    </ul>

                    <div ng-controller="MobbrNowController">
                        <form class="navbar-form pull-right" title="Do a direct payment to an URL or email address" id="mobbrform" name="mobbrform" ng-submit="submit()">
                            <div class="input-append">
                                <input name="data" title="Enter the URL, Mobbr-account, email-address you want to send money to" placeholder="Enter recipient address" size="35" maxlength="512" type="text" ng-model="mobbrnowInput">
                                <button name="go" class="btn" type="submit">Do a direct payment</button>
                            </div>
                        </form>
                    </div>
                </nav>
            </section>

            <div class="container main">
                <div ng-view id="wrapper" class="row-fluid"></div>
            </div>

            <footer class="sitefooter">
<!--                <div class="container">
                    <div class="row-fluid">
                        <div class="span4">
                            Logo's
                        </div>
                        <div class="span4">
                            Logo's
                        </div>
                        <div class="span4">
                            en nog meer logo's
                        </div>
                    </div>
               </div>-->
            </footer>
        </div>

        <script src="/mobbr-button.js"></script>

        <!-- build:js scripts/combined.js -->
        <script src="components/base64/base64.js"></script>
        <script src="components/jquery/jquery.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/angular-cookies/angular-cookies.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/pines-notify/jquery.pnotify.js"></script>
        <script src="components/js-md5/js/md5.js"></script>
        <script src="components/ngstorage/ngStorage.js"></script>
        <script src="components/angularjs-file-upload/angular-file-upload.js"></script>
        <script src="scripts/config.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/mobbr-core.js -->
        <script src="scripts/services/msg.js"></script>
        <script src="scripts/services/mbr-api.js"></script>
        <script src="scripts/services/idleTimeout.js"></script>
        <script src="scripts/services/userStorage.js"></script>
        <script src="scripts/services/UserSession.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/mobbr-www.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/ApiController.js"></script>
        <script src="scripts/controllers/ActivateController.js"></script>
        <script src="scripts/controllers/MobbrNowController.js"></script>
        <script src="scripts/controllers/UrlReceiptController.js"></script>
        <script src="scripts/controllers/PaymentReceiptController.js"></script>
        <script src="scripts/controllers/ExchangeRateController.js"></script>
        <script src="scripts/controllers/DomainController.js"></script>
        <script src="scripts/controllers/SearchDomainController.js"></script>
        <script src="scripts/controllers/CreateButtonController.js"></script>
        <script src="scripts/controllers/ClaimPaymentController.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
        <script src="scripts/controllers/WalletController.js"></script>
        <script src="scripts/controllers/LinkLoginController.js"></script>
        <script src="scripts/controllers/LoginController.js"></script>
        <script src="scripts/controllers/UserSettingsController.js"></script>
        <script src="scripts/controllers/RecoverPasswordController.js"></script>
        <script src="scripts/controllers/UpdateEmailController.js"></script>
        <script src="scripts/controllers/JoinController.js"></script>
        <script src="scripts/directives/decorateAmount.js"></script>
        <script src="scripts/directives/mobbrbutton.js"></script>
        <script src="scripts/directives/mobbrtable.js"></script>
        <script src="scripts/directives/payments.js"></script>
        <script src="scripts/directives/paymentsprovided.js"></script>
        <script src="scripts/directives/people.js"></script>
        <script src="scripts/directives/peoplepagesearch.js"></script>
        <script src="scripts/directives/placeholder.js"></script>
        <script src="scripts/directives/pwCheck.js"></script>
        <script src="scripts/directives/formAutofillFix.js"></script>
        <script src="scripts/filters/mobbrcurrency.js"></script>
        <!-- endbuild -->

    </body>
</html>
