<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 9]><html xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if !IE]><!--><html xmlns:ng="http://angularjs.org"> <!--<![endif]-->
    <head>
        <!-- build:js scripts/combined-head.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 8]>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
            document.createElement('ng-switch');
            document.createElement('accordion');
            document.createElement('accordion-group');
            document.createElement('interceptor');
            document.createElement('payments');
            document.createElement('paymentsprovided');
            document.createElement('user-settings');
            document.createElement('peoplepagesearch');
            document.createElement('people');
            document.createElement('mobbrbutton');
            document.createElement('tabs');
            document.createElement('pane');
            document.createElement('alert');
        </script>
        <![endif]-->
        <title>MOBBR Crowdpayment System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="MOBBR crowdpayment system" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://mobbr.com" />
        <meta property="og:image" content="https://mobbr.com/img/mobbr-ripple.jpg" />
        <meta property="og:description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <meta name="description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies." />
        <link href="//fonts.googleapis.com/css?family=Roboto:400,700italic,700,400italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700" rel="stylesheet" type="text/css">
        <!-- build:css styles/style.css -->
        <link href="styles/style.css" rel="stylesheet">
        <!-- endbuild -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46675002-1', 'mobbr.com');
            ga('send', 'pageview');
        </script>
        <!-- build:js mobbr.js -->
        <script src="components/mobbr-button/mobbr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app="mobbrWeb" id="ng-app" idle-timeout ng-class="{ 'blocked': blockUI, 'mobbr-test': isTest(), 'ng-app': true, 'loading': loading, 'payments': $state.includes('wallet') || $state.includes('payments') || $state.includes('payment') || $state.includes('x-payment'), 'updates': $state.includes('updates'), 'crowds': $state.includes('box.crowds') || $state.includes('person') }">
        <!--[if lt IE 10]>
        <p class="chromeframe">
            You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
            today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
            experience this site.
        </p>
        <![endif]-->

        <div class="ng-cloak messaging container-fluid">
            <div class="container">
                <alert ng-repeat="alert in mobbrMsg.messages" type="{{ alert.type }}" close="mobbrMsg.close($index)">{{ alert.msg }}</alert>
            </div>
        </div>

        <header class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-logo">
                        <ul class="nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle logo clearfix" data-toggle="dropdown">
                                    <span class="crop">
                                        <img ng-click="state.go('main')" src="img/logo-mobbr.png">
                                    </span>
                                    <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu logo-menu" role="menu">
                                    <li>
                                        <a href="#">Community</a>
                                    </li>
                                    <li>
                                        <a href="#">Help &amp; Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Documentation</a>
                                    </li>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6 main-menu">
                        <ul class="nav menu">
                            <li ng-class="{ 'active': $state.includes('updates') }" class="col-55">
                                <a ng-href="#{{ $state.href('updates') }}" class="text-center">
                                    <span class="mobbricon mobbricon-updates"></span>
                                    <small>Updates</small>
                                </a>
                            </li>
                            <li ng-class="{ 'active': $state.includes('box.tasks') || $state.includes('box.task') }" class="col-55">
                                <a ng-href="#{{ $state.href('box.tasks') }}" class="text-center">
                                    <span class="mobbricon mobbricon-tasks"></span>
                                    <small>Tasks</small>
                                </a>
                            </li>
                            <li ng-class="{ 'active': $state.includes('box.crowds') }" class="col-55">
                                <a ng-href="#{{ $state.href('box.crowds') }}" class="text-center">
                                    <span class="mobbricon mobbricon-crowd"></span>
                                    <small>Workforce</small>
                                </a>
                            </li>
                            <li ng-class="{ 'active': $state.includes('payments') }" class="col-55">
                                <a ng-href="#{{ $state.href('payments.pledges') }}" class="text-center">
                                    <span class="mobbricon mobbricon-payments"></span>
                                    <small>Payments</small>
                                </a>
                            </li>
                            <li ng-class="{ 'active': $state.includes('wallet') }" class="col-55">
                                <a ng-href="#{{ $state.href('wallet') }}" class="text-center">
                                    <span class="mobbricon mobbricon-wallet"></span>
                                    <small>Wallet</small>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form name="loginform" ng-submit="login(username, password)">
                        <div class="col-xs-6 col-sm-3 user-menu">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle text-right" data-toggle="dropdown">
                                            <span ng-show="mobbrSession && !mobbrSession.isAuthorized()">
                                                <span class="user-msg">
                                                    <span class="caret pull-left"></span>
                                                    <span class="txt">Register/login</span>
                                                </span>
                                                <span ng-class="{ 'active': $state.includes('tasks') }" class="col-55">
                                                    <span class="user-icon text-center">
                                                        <span class="mobbricon mobbricon-person"></span>
                                                        <small>User</small>
                                                    </span>
                                                </span>
                                            </span>

                                            <span ng-show="mobbrSession && mobbrSession.isAuthorized()" >
                                                <span class="user-msg">
                                                    <span class="caret pull-left"></span>
                                                    <span class="txt" ng-bind="'Hi ' + $mobbrStorage.user.username"></span>
                                                </span>
                                                <span>
                                                    <img ng-src="{{ $mobbrStorage.user.thumbnail }}"  width="50" height="50">
                                                </span>
                                            </span>
                                    </a>

                                        <ul ng-show="mobbrSession && !mobbrSession.isAuthorized()" class="dropdown-menu logo-menu" role="menu">
                                            <li>
                                                <input ng-model="username"
                                                       auto-fill-sync
                                                       class="form-control"
                                                       type="text"
                                                       name="username"
                                                       placeholder="username"
                                                       required>
                                            </li>
                                            <li>
                                                <input ng-model="password"
                                                       auto-fill-sync
                                                       class="form-control"
                                                       type="password"
                                                       name="password"
                                                       placeholder="password"
                                                       required>
                                            </li>
                                            <li>
                                                <button ng-disabled="authenticating && !authenticating.$resolved"
                                                        class="btn btn-block">
                                                    <span class="mobbricon mobbricon-login"></span>
                                                    Log in
                                                </button>
                                            </li>
                                            <li>
                                                <a ng-href="#{{ $state.href('recover') }}">
                                                    <span class="mobbricon mobbricon-mail"></span>
                                                    Recover password
                                                </a>
                                            </li>
                                            <li>
                                                <a class="link-call" ng-href="#{{ $state.href('join') }}">
                                                    <span class="mobbricon mobbricon-starttask"></span>
                                                    Register me now
                                                </a>
                                            </li>
                                        </ul>

                                    <ul ng-show="mobbrSession && mobbrSession.isAuthorized()" class="dropdown-menu logo-menu" role="menu">
                                        <li>
                                            <a ng-href="#{{ $state.href('person', { username: $mobbrStorage.user.username }) }}">
                                                <span class="mobbricon mobbricon-myprofile"></span>
                                                My profile
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-href="#{{ $state.href('settings') }}">
                                                <span class="mobbricon mobbricon-settings"></span>
                                                Settings
                                            </a>
                                        </li>
                                        <li>
                                            <span ng-click="logout()">
                                                <span class="mobbricon mobbricon-login"></span>
                                                Log out
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <div class="container-fluid main" ui-view></div>

        <!-- build:js scripts/combined.js -->
        <script src="components/jquery/dist/jquery.js"></script>
        <script src="components/angularjs-file-upload/angular-file-upload-shim.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api.src.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api-msg.src.js"></script>
        <script src="components/mobbr-api-angular/mobbr-api-session.src.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/ng-table/ng-table.js"></script>
        <script src="components/ngstorage/ngStorage.js"></script>
        <script src="components/ng-file-upload/angular-file-upload.js"></script>
        <script src="components/angular-ui-utils/ui-utils.js"></script>
        <script src="components/moment/moment.js"></script>
        <script src="components/angular-moment/angular-moment.js"></script>
        <script src="components/purl/purl.js"></script>
        <script src="components/file-saver/FileSaver.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/mobbr-www.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/ActivateController.js"></script>
        <script src="scripts/controllers/CrowdsController.js"></script>
        <script src="scripts/controllers/PaymentReceiptController.js"></script>
        <script src="scripts/controllers/MainController.js"></script>
        <script src="scripts/controllers/WalletController.js"></script>
        <script src="scripts/controllers/DepositController.js"></script>
        <script src="scripts/controllers/WithdrawController.js"></script>
        <script src="scripts/controllers/LinkLoginController.js"></script>
        <script src="scripts/controllers/UserSettingsController.js"></script>
        <script src="scripts/controllers/RecoverPasswordController.js"></script>
        <script src="scripts/controllers/UpdateEmailController.js"></script>
        <script src="scripts/controllers/UpdatesController.js"></script>
        <script src="scripts/controllers/JoinController.js"></script>
        <script src="scripts/controllers/PersonController.js"></script>
        <script src="scripts/controllers/PaymentsController.js"></script>
        <script src="scripts/controllers/TaskController.js"></script>
        <script src="scripts/controllers/TaskDomainController.js"></script>
        <script src="scripts/controllers/TaskPersonsController.js"></script>
        <script src="scripts/controllers/TaskPaymentsController.js"></script>
        <script src="scripts/controllers/TaskInviteController.js"></script>
        <script src="scripts/controllers/PayController.js"></script>
        <script src="scripts/controllers/TasksController.js"></script>
        <script src="scripts/controllers/BoxController.js"></script>
        <script src="scripts/services/idleTimeout.js"></script>
        <script src="scripts/services/authResolver.js"></script>
        <script src="scripts/directives/dateBeforeValidator.js"></script>
        <script src="scripts/directives/mobbrbutton.js"></script>
        <script src="scripts/directives/placeholder.js"></script>
        <script src="scripts/directives/pwCheck.js"></script>
        <script src="scripts/directives/formAutofillFix.js"></script>
        <script src="scripts/directives/smarturlbox.js"></script>
        <script src="scripts/directives/smartTags.js"></script>
        <script src="scripts/directives/stateAccordion.js"></script>
        <script src="scripts/directives/userFriendlyDate.js"></script>
        <script src="scripts/filters/mobbrcurrency.js"></script>
        <script src="scripts/filters/domain.js"></script>
        <!-- endbuild -->

        <!-- end remove -->
        <!-- build:remove -->
        <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->
        <script src="components/angular-mocks/angular-mocks.js"></script>
        <!-- /build -->

        <script>

            var mobbrWeb = angular.module('mobbrWeb', [
                'mobbr'
                <!-- build:remove -->
                <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->
                , 'ngMockE2E'
                <!-- /build -->

            ]).run(function ($injector, $rootScope) {

                <!-- build:remove -->
                <!-- including ngMock to test locally, but build remove wil make sure it's not in the dist -->

                var $httpBackend = $injector.get('$httpBackend');

                $httpBackend.whenGET(/views\/.*/).passThrough();


                <!-- /build -->

            });


        </script>
    </body>
</html>
