
<div class="interceptor">

    <!--<div alert ng-repeat="warning in warnings" class="ui-state-error ui-corner-all">{{warning.msg}}</div>-->



    <!--<div alert-->
            <!--ng-repeat="notification in notifications"-->
            <!--type="notification.type" class="ui-state-highlight ui-corner-all"-->
            <!--close="removeNotification($index)">{{notification.msg}}</div>-->

    <!--<div modal="errors.length > 0" close="cancelError(0)">-->

        <!--<div class="modal-header">-->
            <!--<h4>{{errors[0].response.data.reason}}</h4>-->
        <!--</div>-->

        <!--<div class="modal-body">-->

            <!--<div alert-->
                    <!--ng-repeat="notification in notifications"-->
                    <!--type="notification.type"-->
                    <!--close="removeNotification($index)">{{notification.msg}}</div>-->

            <!--<div ng-show="isAuthError()">-->
                <!--<form auth-login name="model-login" class="form-inline">-->
                    <!--<input ng-model="email" type="email" name="email" value="" placeholder="email address" class="input-small">-->
                    <!--<div class="input-append">-->
                        <!--<input ng-model="password" type="password" name="password" placeholder="password" class="input-small">-->
                        <!--<button class="btn btn-success" type="submit">Log in</button>-->
                    <!--</div>-->

                    <!--<div class="btn-group">-->
                        <!--<a oauth-popup="/oauth/facebook" class="btn"><i class="icon-white"><img src="/images/facebook_20.gif"></i></a>-->
                        <!--<a oauth-popup="/oauth/google" class="btn"><i class="icon-white"><img src="/images/google_20.png"></i></a>-->
                        <!--<a oauth-popup="/oauth/paypal" class="btn"><i class="icon-white"><img src="/images/paypal_20.png"></i></a>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="modal-footer">-->
            <!--<button ng-click="cancelError(0)" class="btn btn-danger">Cancel</button>-->
            <!--<button ng-show="isError()" ng-click="retryError(0)" class="btn btn-success">Retry</button>-->
        <!--</div>-->
    <!--</div>-->
</div>