body {
    background: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #333;
    margin: 0px;
}

td {
    font-size: 9pt;
}

h2 {
    margin-top: 4px;
}

.container {
    padding: 8px;
}

.special.well {
    background: whitesmoke url('../../img/mobbr-ripple.png') no-repeat top right;
}

.link {
    color: #009ee0;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}