<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9 lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 9]><html xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if !IE]><!--><html xmlns:ng="http://angularjs.org"> <!--<![endif]-->
    <head>
        <script>var api_url = 'https://api.mobbr.com';</script>
        <!-- build:js scripts/combined-head.js -->
        <script src="../components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 8]>
        <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
            document.createElement('ng-switch');
            document.createElement('accordion');
            document.createElement('accordion-group');
            document.createElement('interceptor');
            document.createElement('payments');
            document.createElement('paymentsprovided');
            document.createElement('user-settings');
            document.createElement('peoplepagesearch');
            document.createElement('people');
            document.createElement('mobbrbutton');
            document.createElement('tabs');
            document.createElement('pane');
            document.createElement('alert');
        </script>
        <![endif]-->
        <title>MOBBR Crowdpayment System</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="MOBBR crowdpayment system">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://mobbr.com">
        <meta property="og:image" content="https://mobbr.com/img/mobbr-ripple.jpg">
        <meta property="og:description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies.">
        <meta name="description" content="Welcome to MOBBR, the world's first crowdpayment system. Start sharing rewards and donations in bitcoin, XRP, social currencies and FIAT currencies.">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <!-- build:css ../styles/style-lightbox.css -->
        <link href="../styles/style-lightbox.css" rel="stylesheet">
        <link href="../components/pines-notify/jquery.pnotify.default.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="mobbr-lightbox" id="ng-app" class="ng-app:mobbr-lightbox" ng-class="{ loading: loading }" ng-controller="LightboxController" idle-timeout>
        <!--[if lt IE 8]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
            today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
            experience this site. {{showMobbrFrame}}</p>
        <![endif]-->
        <!-- build:js scripts/combined-ie.js -->
        <!--[if lt IE 9]>
        <script src="../components/es5-shim/es5-shim.js"></script>
        <script src="../components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->
        <div class="wrapper" ng-cloak>
            <div ng-show="marked == false">
                <h2 ng-bind="errormessage"></h2>
                <fieldset>
                    <legend>
                        Checklist for webmasters of <span ng-bind="json['url']"></span>
                    </legend>
                    <div class="error">
                        <ul>
                            <li>
                                The syntax of the script is invalid, use a JSON-validator
                                </br>&rarr; <a target="_blank" href="http://www.jsonlint.com/">http://www.jsonlint.com/</a>
                            </li>
                            <li>
                                The schema of the script is invalid, use the Mobbr script validator
                                </br>&rarr; <a target="_blank" href="/#/validate">#/validate</a>
                            </li>
                            <li>
                                Values are out-of-range , check the specifications
                                </br>&rarr; <a target="_blank" href="http://mobbr.com/protocol.html">http://mobbr.com/protocol.html</a>
                            </li>
                        </ul>
                        Visit <a href="/#/buttons">the website</a> for instructions on using the buttons and widgets.
                    </div>
                </fieldset>
            </div>

            <div>
                <h2 style="margin: 0 0 15px 0" ng-show="dologin" ng-bind="userSession.authenticated && 'Logged in as: ' + userSession.user.username || 'Login to Fast Moving Crowdwork'" + ></h2>
                <div ng-show="!(dologin && userSession.authenticated)" id="login_form">
                    <form ng-submit="performPayment(login_form)" name="login_form" autocomplete="off" class="form-inline lightboxform">
                        <fieldset ng-disabled="laterpaying || nowpaying">
                            <p class="loginerror alert alert-error" ng-show="loginerror">
                                Wrong email/password
                            </p>
                            <p class="loginerror alert alert-error" ng-show="customerror" ng-bind="customerror"></p>
                            <p ng-show="marked != false && !userSession.authenticated">
                                <input ng-model="email" ng-disabled="userSession.authenticated" required type="email" name="email" placeholder="email address" autocomplete="off" class="input-medium">
                                <input ng-model="password" ng-disabled="userSession.authenticated" required type="password" name="password" placeholder="password" autocomplete="off" class="input-medium">
                            </p>
                            <p id="newuser" ng-show="dologin || marked == undefined && !userSession.authenticated">
                                New user or forgotten password? &rarr; <a href="/#/join" target="_blank">Go here</a>
                            </p>
                        <span ng-show="!dologin && marked == undefined">
                            <select class="input-small"
                                    required
                                    ng-show="userSession.authenticated"
                                    ng-model="currency"
                                    ng-options="value.currency_iso for value in userCurrencies"
                                    ng-change="paymentChanged(payment)"></select>
                            <select class="input-small"
                                    required
                                    ng-show="!userSession.authenticated"
                                    ng-model="currency"
                                    ng-options="key as key for (key, value) in currenciesMap"
                                    ng-change="paymentChanged(payment)"></select>
                            <input class="input-small"
                                   required
                                   type="number"
                                   ng-model="amount"
                                   step="any"
                                   min="0"
                                   max="1000000000">
                            <button ng-disabled="nowpaying || laterpaying" ng-show="!dologin" type="submit" class="btn btn-primary">
                                <span ng-bind="!noscript && noparticipants && 'Pledge now' || 'Pay now'"></span>
                                <i class="icon-white mobbrloader" ng-show="nowpaying"></i>
                            </button>
                            <span> &nbsp;&nbsp;or&nbsp;&nbsp; </span>
                        </span>
                            <button ng-click="dologin && login(login_form, true, false) || !dologin && registerPayment(login_form)"
                                    ng-show="!dologin && marked == undefined || dologin == true"
                                    ng-disabled="amount || nowpaying || laterpaying"
                                    class="btn btn-success"
                                    title="Register this URL for payment. To actually pay, go to your dashboard">
                                <span ng-bind="!noscript && noparticipants && 'Pledge later' || 'Pay later'"></span>
                                <i class="icon-white mobbrloader" ng-show="laterpaying"></i>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div ng-switch on="marked">
                    <div ng-switch-when="undefined">
                        <div class="well" ng-bind="urlData.meta_data.message"></div>
                        <accordion close-others="true">
                            <accordion-group is-open="false">
                                <accordion-heading>
                                    <span class="headlabel">Item:</span>
                                    <strong ng-show="!isOpen" ng-bind="urlData.meta_data.title" class="itemtitle"></strong>
                                </accordion-heading>
                                <img ng-src="{{ urlData.meta_data.image }}" class="pull-left" width="100">
                                <div ng-bind="urlData.meta_data.description"></div>
                            </accordion-group>
                            <accordion-group class="nowrap-header" ng-show="urlData.meta_data['participants'].length > 0" is-open="false">
                                <accordion-heading>
                                    <span class="headlabel">Participants:</span>
                                    <ul class="inline gravatar-heading">
                                        <li ng-repeat="participant in urlData.meta_data.participants">
                                            <img ng-src="http://www.gravatar.com/avatar/{{ participant['.gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png" class="img-rounded-small">
                                        </li>
                                    </ul>
                                </accordion-heading>
                                <mobbrtable entries="urlData.meta_data.participants"
                                            columns="['.gravatar','.x-id','role','.percentage']"></mobbrtable>
                            </accordion-group>
                            <accordion-group is-open="false" ng-show="!noscript">
                                <accordion-heading>
                                    <span class="headlabel" ng-bind="(urlData.meta_data.participants.length > 0 && 'History' || 'Pledged') + ':'"></span>
                                    <ul class="inline gravatar-heading">
                                        <li ng-repeat="balance in urlData.balances">
                                            <strong ng-bind="(balance.amount | currency:balance.currency_iso)"></strong>
                                        </li>
                                    </ul>
                                </accordion-heading>
                                <mobbrtable entries="urlData.persons"
                                            columns="['gravatar','username','roles','amount']"></mobbrtable>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div ng-switch-when="true">
                        <h2>Registered for payment!</h2>
                        <p>
                            All your payments are collected <a target="_blank" href="/#/dashboard">on your dashboard</a>.
                            You can review them and make them final all at once every week or so. You may now close this window.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- build:js ../scripts/combined.js -->
        <script src="../components/base64/base64.js"></script>
        <script src="../components/jquery/jquery.js"></script>
        <script src="../components/angular/angular.js"></script>
        <script src="../components/angular-cookies/angular-cookies.js"></script>
        <script src="../components/angular-resource/angular-resource.js"></script>
        <script src="../components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../components/pines-notify/jquery.pnotify.js"></script>
        <script src="../components/js-md5/js/md5.js"></script>
        <script src="../components/ngstorage/ngStorage.js"></script>
        <!-- endbuild -->
        <!-- build:js ../scripts/mobbr-core.js -->
        <script src="../scripts/services/msg.js"></script>
        <script src="../scripts/services/mbr-api.js"></script>
        <script src="../scripts/services/idleTimeout.js"></script>
        <script src="../scripts/services/userStorage.js"></script>
        <script src="../scripts/services/UserSession.js"></script>
        <!-- endbuild -->
        <!-- build:js ../scripts/mobbr-lightbox.js -->
        <script src="scripts/app.js"></script>
        <script src="../scripts/filters/mobbrcurrency.js"></script>
        <script src="../scripts/directives/decorateAmount.js"></script>
        <script src="../scripts/directives/placeholder.js"></script>
        <script src="../scripts/directives/mobbrtable.js"></script>
        <script src="scripts/controllers/LightboxController.js"></script>
        <!-- endbuild -->
    </body>
</html>
