<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 ng-bind="$state.current.data.title"></h1>
            </div>
            <div ng-show="$state.includes('box.task') && taskType">
                <div class="col-sm-3">
                    <a ng-disabled="!activeQuery"
                       ng-href="#{{ activeQuery }}"
                       class="btn btn-call white btn-block"
                       target="_blank">Go to task</a>
                </div>
                <div class="col-sm-3">
                    <a ng-disabled="!activeQuery"
                       ui-sref="box.task.index.pay"
                       ng-bind="'Add a ' + taskType"
                       class="btn btn-block btn-call"></a>
                </div>
            </div>
            <div ng-show="$state.includes('box.tasks') || $state.includes('box.crowds')">
                <div class="col-sm-3 col-sm-offset-3">
                    <select class="form-control"
                            ng-options="language.code as language.name for language in usedLanguages.result"
                            ng-init="filter_language = getLanguage()"
                            ng-model="filter_language">
                        <option value="">Choose language</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="pay" class="task-pay"></div>

<div class="row top-info query-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mobbr-smart-url-box active-query="activeQuery"
                                     url-type="{{ $state.includes('box.crowds') && 'CROWDS' || $state.includes('box.tasks') && 'TASKS' || $state.includes('box.person') && 'PROFILE' || 'TASK' }}"
                                     query="query"
                                     user="$mobbrStorage.user"></mobbr-smart-url-box>
            </div>
        </div>
    </div>
</div>


<div>
    <div ui-view="tasks-section" ng-class="{ loading: task && !task.$resolved }"></div>
</div>


