<div class="page-header">
    <h1>
        Developers guide<br>
        <small>Turn all your pages and items into donatable things</small>
    </h1>
</div>

<div class="well special pull-right span6">
    <h4>This is how it works</h4>
    <ul>
        <li>
            Place Mobbr metadata (containing a JSON script) in the header of your HTML headers so bots, crawlers, plugins and Mobbr know what to do
        </li>
        <li>
            Optionally / alternatively mark all pages of your entire domain with a single /participation.txt file (containing a JSON script)
        </li>
        <li>
            Optionally place the Mobbr button-javascript in the body of your HTML to show a button
        </li>
        <li>
            If the user clicks a button, the Mobbr lightbox will pop up automatically
        </li>
         <li>
            Use a plugin for your CMS or platform
        </li>
        <li>
            Develop your own Mobbr integration using our REST-API
        </li>
    </ul>
</div>

<p>
    Whether it is art, music, software or anything else and whether it is created by one person or an
    entire community, the Mobbr button enables you to let reward any value that was added. Direct,
    peer-to-peer, no middleman. A totally new payment concept that fits the way your website really works.
    Just add your business-model to our button.
</p>
<p>
    Generate the Mobbr script dynamically, based on actual participation ratios, or use static scripts based on
    predetermined participation ratios.
</p>

<h2>The 1-minute catch-all option</h2>
<p>If you don't want visible buttons (yet) but you do want your domain to be processable by Mobbr, just place 1 simple script in the root of your domain.</p>
<p>Use <a href="/participation.txt">this</a> script as example, you'll <a href=""></a>figure</a> it out.</p>


<div class="row-fluid" style="margin-top:40px;padding-bottom: 45px;">
    <div class="well special clearfix" style="background-color: #fff;">
        <div class="span1"></div>
        <div class="span7">
            <h3 style="margin-top: 0; line-height: 1em;">Integration</h3>
        </div>
        <div class="span4">
            <p><a href="#/buttons?scrollTo=domain" class="btn" style="width: 168px;" title="Place a /participation.txt file to enable Mobbr on all your pages with just a few lines of script. This is the 'just in case' option.">The 1-minute just-in-case</a></p>
            <p><a href="#/buttons?scrollTo=buttonbasics" class="btn" style="width: 168px;" title="Place invisible metadata that Mobbr can use in your pages. Optionally place buttons to allow user to use Mobbr directly from the pages.">Mobbrize your pages</a></p>
            <p><a href="#/buttons?scrollTo=siteconnector" class="btn" style="width: 168px;" title="Connect your entire site to Mobbr at once without having to register your users or compromis their privacy.">Connect your userbase</a></p>
        </div>
        <img src="/images/2013_0706_MOBBR_V4.jpg" style="padding-top:50px;"/>
    </div>
</div>

<div class="row-fluid" style="padding-bottom: 45px;">
    <div class="well special clearfix" style="background-color: #fff;">
        <div class="span6" style="height: 180px; overflow: scroll; overflow-y: scroll; overflow-x: hidden;" ng-controller="apiController">
            <table class="apitable" width="100%" style="font-size: .8em;">
                <tbody>

                    <tr ng-repeat="apiCall in apiCalls">
                         <td ng-bind="apiCall.type"></td>
                         <td ng-bind="apiCall.endpoint"></td>
                         <td>
                             <span ng-repeat="param in apiCall.parameter">
                                {{param.name }}<span ng-show="!$last">, </span>
                             </span>

                         </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="span6">
            <h3 style="margin-top: 0; line-height: 1em;">RESTful API</h3>
            <p>Build your own Mobbr client or website using our API. You can use our web application (you're looking at it) to start with, it's open source.</p>
            <p><a href="https://api.mobbr.com" target="_blank" class="btn" title="Our API has its own website, visit it for details">Go to API site</a></p>
        </div>
    </div>
</div>

<div  id="buttonbasics" class="page-header">
    <h1>
        Buttons, badges, images, labels and icons<br>
        <small> There are several integration options, but in the end you will probably want the button.</small>
    </h1>
</div>

<p>
   We supply several versions
    of the Mobbr button
    that you can place on your pages, next to the picture, downloads, artwork, a blogpost, or anything else for which
    you would like to receive payments.
    Clicking these buttons opens the payment popin or so called ligthbox.
</p>
<h2>Basic buttons</h2>
<p>
    There are five button types. Simply copy-paste the code into your HTML and subsitute the desired URL between the
    parenthesis.
</p>
<p>
<mobbrbutton size="medium" url="{{startLocation}}"></mobbrbutton></p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.button('https://{{host}}/#/buttons');&lt;/script&gt;</pre>

<p><mobbrbutton size="large" url="{{startLocation}}"></mobbrbutton></p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.buttonLarge('https://{{host}}/#/buttons');&lt;/script&gt;</pre>

<p><mobbrbutton size="small" url="{{startLocation}}"></mobbrbutton></p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.buttonSmall('https://{{host}}/#/buttons');&lt;/script&gt;</pre>

<p><mobbrbutton size="slim" url="{{startLocation}}"></mobbrbutton></p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.buttonSlim('https://{{host}}/#/buttons');&lt;/script&gt;</pre>

<p>
    The resulting button will not have any configuration yet (but will work), you can add a configuration in <a
        href="#/buttons#configure">different ways</a>. Generate configured buttons <a href="#/generatebutton">here</a>.
</p>
<p>
    To have a button show amounts in another currency append a <a href="#/exchangerate">currency code</a> to the script.
</p>
<p><mobbrbutton size="slim" url="{{startLocation}}"></mobbrbutton></p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.buttonSlim('https://{{host}}/#/buttons','USD');&lt;/script&gt;</pre>
<p>
    The button acts on the URL given as their argument, so it is possible to donate URL's different from the URL where
    the button is located.
    Every time the button is clicked, our system will do a callback and analyze the script. This is flexible and secure.
</p>
<p>
    <strong>Note: As you can see on this page, it is possible to have many buttons on a single page. In this case you
        need to include the Javascript <code>https://mobbr.com/mobbr-button.js</code> only once.</strong>
</p>

<h2>Badges</h2>
<p>
    There are several badges that display the total count of payments on your domain.
    These look nice on the homepage or communitypage of your site. Clicking these badges opens your website's page
    on the Mobbr-site.
</p>
<p>
    <a href="/#/domain/aHR0cHM6Ly9tb2Jici5jb20=">
        <img ng-src="{{api_url}}/badge/https/{{host}}/medium" alt="">
    </a>
</p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.badgeMedium();&lt;/script&gt;</pre>
<p>
    <a href="/#/domain/aHR0cHM6Ly9tb2Jici5jb20=">
        <img ng-src="{{api_url}}/badge/https/{{host}}/wide" alt="">
    </a>
</p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.badgeWide();&lt;/script&gt;</pre>

<p>
    To have a badge show amounts in another currency append a <a href="#/exchangerate">currency code</a> to the script.
</p>
<p>
    <a href="/#/domain/aHR0cHM6Ly9tb2Jici5jb20=">
        <img src="{{api_url}}/badge/https/{{host}}/wide/USD" alt="">
    </a>
</p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.badgeWide('EUR');&lt;/script&gt;</pre>

<p>
    There is no need to configure the badge. The code above can be used on every site or page.
    All buttons and badges are dynamically generated on our servers. Badges are regenerated at fixed intervals, buttons
    at every payment.
</p>

<h2>Configuring the buttons</h2>
<p>
    To integrate Mobbr with your site you need to supply 'transaction descriptions' for your products.
    Depending on how visible or flexible you want the Mobbr-mechanism to be, you can use:
</p>
<ul>
    <li>
        <strong><a ng-click="scrollToId('metadata')">The page &lt;metadata&gt;-tag</a></strong>
    </li>
    <li>
        <strong><a ng-click="scrollToId('metalink')">The page &lt;metalink&gt;-tag</a></strong>
    </li>
    <li>
        <strong><a ng-click="scrollToId('domain')">The /participation.txt domain description</a></strong>
    </li>
</ul>
<h3>Script basics</h3>
<p>
    Buttons act on webpages. These webpages need to be configured for payments / donations. This is very simple.
    First some basics. To divide any payment among the participants in the desired ratios, you must use a script.
</p>
<p>
    Transaction scripts are written in JSON. JSON is a simple and common computer language. With the script it is
    possible to completely specify every aspect of the transaction (donation or payment) without the need to
    pre-register
    your URL or product on our site. You can even donate to persons that are not yet registered with Mobbr.
    For a complete specification, see the <a href="https://mobbr.com/protocol.html">CPR-protocol</a> where we
    explain
    the script language and give you the tools to gain complete control over your donations and payments.
    Below are some examples.
</p>
<p>
    Suppose you want to specify yourself as the sole recipient of the payment, no more. Then this code will do the
    trick:
</p>
<pre class="prettyprint">{
    "id-base" : "https://mobbr.com/id/",
    "participants":
    [
	    {"id": "your_username"}
	]
}</pre>
<p>
    We will show you in a moment what you need to do with this script, first lets look at another example.
</p>
<p>
    Now suppose you want to share the payments among a whole team of creators, each of which added value to the product.
    Then you can add these to the button. Of have your system (like CMS, collaboration software or Wiki) add them to the
    script automatically.
    Here is an example of that:
</p>
<pre class="prettyprint">{
    "id-base" : "https://mobbr.com/id/",
    "title" : "The button",
    "description" : "Article about the Mobbr button",
    "participants" :
    [
        {
            "id": "Patrick",
            "role": "author",
            "share": "3"
        },
        {
            "id": "Robbert",
            "role": "design",
            "share": "3"
        },
        {
            "id": "Alexander",
            "role": "site / platform",
            "share": "1"
        },
        {
            "id": "Hartger",
            "role": "editor",
            "share": "1"
        }
    ]
}</pre>
<p>
    You can use percentages (absolute shares) and ratios (relative shares). Percentages are added, the remainder is
    divided according to the ratios.
</p>
<pre class="prettyprint">{
    "id-base" : "https://mobbr.com/id/",
    "title" : "The button",
    "description" : "Article about the Mobbr button",
    "participants" :
    [
        {
            "id": "Patrick",
            "role": "author",
            "share": "25%"
        },
        {
            "id": "Robbert",
            "role": "design",
            "share": "10%"
        },
        {
            "id": "Alexander",
            "role": "site / platform",
            "share": "1"
        },
        {
            "id": "Hartger",
            "role": "editor",
            "share": "2"
        }
    ]
}</pre>
<p>
    You can also use absolute amounts, this will set a minimum for the donation amount or a fixed price.
</p>
<pre class="prettyprint">{
    "id-base" : "https://mobbr.com/id/",
    "title" : "The button",
    "description" : "Article about the Mobbr button",
    "participants" :
    [
        {
            "id": "Patrick",
            "share": "EUR5"
        },
        {
            "id": "Robbert",
            "share": "10%"
        },
        {
            "id": "Alexander",
            "share": "1"
        }
    ]
}</pre>
<p>
    Take a look at the <a href="https://mobbr.com/protocol.html">CPR-protocol</a> definition for a complete overview
    of
    payment-schema capabilities. <a href="#/generatebutton">You can generate buttons here</a>.
    To validate your own JSON button-script go <a href="#/validate">here</a>.
</p>
<p>
    Up to 10000 participants can be specified, with shares ranging from 1 to 1000. A recipient can be mentioned any
    number of times but must have a different role each time.
</p>
<p>
    It is possible to use email addresses, twitter-addresses, gravatar-profiles, bitcoin-addresses or custom / external
    addresses as participants. You can even use the <a href="#/siteconnector">usernames of your own site</a>!
</p>

<h3 id="metadata">Embedding meta-tags in your page's (X)HTML</h2>
<p>
    Once you have the script, you need to place it inside a <a target="_blank"
                                                               href="http://www.w3schools.com/html/html_meta.asp">meta-tag</a>
    in the <a target="_blank" href="http://www.w3schools.com/html/html_head.asp">HTML HEAD section</a> of your webpage.
    Our sytem, but also plugins, search-engines and bots will be able to find, and use this information.
</p>
<pre class="prettyprint">&lt;meta name="participation" content='
    {
         "title" : "The iPhony4",
         "description" : "Article about some fictious planned obscolescence device",
         "participants" : [
            {
             "id": "your_username",
             "role": "author",
             "share": "1"
            }
         ]
    }'/&gt;</pre>
<p>
    On advanced websites this script can be generated dynamically each time the page is generated, based on actual
    participation levels and an elaborate algorithm.
</p>
<p>
    Note that JSON needs double quotes which means the data of the tag needs to be enclosed in single quotes, this
    construction is W3C valid (X)HTML.
</p>
<p>
    For pages that have the metadata tags, the button is as simple as:
</p>
<pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.button('http://yourdomain.com/product/your_product.html');&lt;/script&gt;</pre>
<p>
    You can generate the meta-tag <a href="#/generatebutton">here</a>.
</p>

<h3 id="metalink">Embedding a meta link in your page's (X)HTML</h3>
<p>
    Instead of a metatag you can also use a <a target="_blank" href="http://www.w3schools.com/tags/tag_link.asp">metalink</a>
    in the header tag of your page. Then, either link to a text file with the JSON string in it, or link to the JSON on
    the
    Mobbr server if you used our button-configurator. Like so:
</p>
<pre class="prettyprint">&lt;link rel="participation" href="https://{{host}}/jsonstore/24C0466BF8949FD5BB2518664A98A238"/&gt;</pre>
<p>
    The content of the link is the <a href="https://{{host}}/jsonstore/24C0466BF8949FD5BB2518664A98A238">same
    JSON</a> otherwise present in a metadata-tag.
</p>

<p>
    For pages that have the metalink tags, the button is as simple as:
</p>
    <pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.button('http://yourdomain.com/product/your_product.html');&lt;/script&gt;</pre>


<p>
    You can generate the meta-link <a href="#/generatebutton">here</a>.
</p>

<h3 id="domain">For domain administrators</h3>

<p>
    If you own or manage a domain, you have the option to place a /participation.txt file
    in the root of the domain. With such a file you can describe all or selected URL's on your domain.
    In its simplest form, you just assign a global recipient for payments on all the domain's URL's. Like
    this:
</p>
    <pre class="prettyprint">[
    {
        "url-pattern" : "*",
        "participation-info":
        {
            "id-base" : "https://{{host}}/id/",
            "participants" :
            [
                {
                    "id" : "your_username",
                }
            ]
        }
    }
]</pre>
<p>
    The URL-pattern uses the * as wildcard, using it you can match many URL's with one pattern. * means: 'any or no
    char'.
</p>

<p>
    If you specifiy an email address as recipient, you don't even need to register with Mobbr. If someone donates, you
    will be mailed. If you specify a Bitcoin address the recipient will receive his money directly without the need to
    ever register with Mobbr or even know of the existence of Mobbr.
</p>

<p>
    You don't need to change any pages of your site. This is the 'just-in-case' option.
</p>

<p>
    On sites / domain that have the MIROPAYMENTS.TXT, adding the button is as simple as:
</p>
    <pre class="prettyprint">&lt;script src="https://mobbr.com/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.button('http://yourdomain.com/product/your_product.html');&lt;/script&gt;</pre>
<p>
    Mobbr will automatically use the participation.txt file.
</p>

<p>
    Check out our <a href="/participation.txt">participation.txt</a>.
</p>

<p>
    The server-file can be used to describe different url-groups, each with their own participants and shares. This is
    done
    by supplying different 'rules'. Each rule has a pattern against which your URL's will be tested. The
    participation-info will be applied to every URL that matches.
    You can make this as elaborate as you need since the info of all patterns that match a specific URL will be
    cascaded. For example, if you would have the following description:
</p>
    <pre class="prettyprint">[
    {
        "url-pattern" : "*",
        "participation-info":
        {
            "id-base" : "https://{{host}}/id/",
            "participants" :
            [
                {
                    "id" : "patrick",
                    "role" : "website-owner",
                    "share" : "1"
                }
            ]
        }
    },
    {
        "url-pattern" : "*/article/*",
        "participation-info" :
        {
            "id-base" : "https://{{host}}/id/",
            "participants" :
            [
                {
                    "id" : "bob",
                    "role" : "author",
                    "share" : "4"
                },
                {
                    "id" : "bill",
                    "role" : "reviewer",
                    "share" : "1"
                }
            ]
        }
    },
    {
        "url-pattern" : "*/picture/*",
        "participation-info" :
        {
            "id-base" : "https://{{host}}/id/",
            "participants" :
            [
                {
                    "id" : "james",
                    "role" : "photographer",
                    "share" : "1"
                }
            ]
        }
    }
]</pre>
<p>
    If someone would donate to this URL on your site:
    <code>
        /article/history/picture/ancient_rome.jpg
    </code>, the URL
    would match '*', '*/article/*' and '*/picture/*', and the payment would be shared
    between Patrick, Bob, Bill and James, with Bob receiving a 4 times larger share then the rest.
</p>

<h2>Icons and labels</h2>

<p>
    These are icons you can use if you want to support Mobbr. Please use them freely, the bandwidth is ours!
    <br>
</p>

<p>
    <img src="https://mobbr.com/images/buttons/mobbr16.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/mobbr16.png" alt="" /&gt;</pre>
<p>
    <img src="https://mobbr.com/images/buttons/mobbr16gs.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/mobbr16gs.png" alt="" /&gt;</pre>
<p>
    <img src="https://mobbr.com/images/buttons/weusemobbr80x15.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/weusemobbr80x15.png" alt="" /&gt;</pre>
<p>
    <img src="https://mobbr.com/images/buttons/weusemobbr80x15gs.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/weusemobbr80x15gs.png" alt="" /&gt;</pre>
<p>
    <img src="https://mobbr.com/images/buttons/mobbrbol60.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/mobbrbol60.png" alt="" /&gt;</pre>
<p>
    <img src="https://mobbr.com/images/buttons/mobbrbol60gs.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/buttons/mobbrbol60gs.png" alt="" /&gt;</pre>

<p>
    <img src="https://mobbr.com/images/mobbrball400x400.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/mobbrball400x400.png" alt="" /&gt;</pre>

<p>
    <img src="https://mobbr.com/images/mobbrband.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/mobbrband.png" alt="" /&gt;</pre>

<p>
    <img src="https://mobbr.com/images/logo-mobbr.png" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/logo-mobbr.png" alt="" /&gt;</pre>

<p>
    <img src="https://mobbr.com/images/mobbr-ripple.jpg" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/mobbr-ripple.jpg" alt="" /&gt;</pre>

<p>
    <img src="https://mobbr.com/images/mobberlogoloader.gif" alt="">
</p>
<pre>&lt;img src="https://mobbr.com/images/mobberlogoloader.gif" alt="" /&gt;</pre>

<h2>Button specifics</h2>

<p>
    Whenever a button is clicked, the Mobbr server will do a callback and analyze the page.
    The Mobbr server will try several things to get all the data it needs to complete the
    payment or donation.
</p>

<h3>Which URL does the button act upon?</h3>

<p>
    The button can specify an URL. If it doesn't, the button will try to determine
    the URL by checking the following things:
</p>
<ul>
    <li>
        If the HTML contains a metadata name="canonical" <a
            href="http://googlewebmastercentral.blogspot.com/2009/02/specify-your-canonical.html">element</a>, that URL
        will be followed until a final page is reached, even if they go <a
            href="http://googlewebmastercentral.blogspot.com/2009/12/handling-legitimate-cross-domain.html">cross
        domain</a>.
        </p>

    </li>
    <li>
        Else if the HTML contains a metadata property="og:url" <a href="http://ogp.me/">element</a>, that URL will be
        used
    </li>
    <li>
        Else Mobbr will reject the button.
    </li>
</ul>
<h3>Cascading scripts</h3>

<p>
    When a payment is received by the server, Mobbr uses the following cascade to complete transaction information:
</p>
<ul>
    <li>
        If the donated page contains a script in the <a href="#metadata">special metadata-tag</a>, that will be
        used ('the page script')
    </li>
    <li>
        Else if the donated page contains a script behind the <a href="#metalink">special metalink-tag</a>, that will be
        used (also: 'the page script')
    </li>
    <li>
        Else if the donated domain contains a <a href="#domain">MICROPAYMENT.JSON</a>, that will be used ('the domain
        script')
    </li>
    <li>
        Else Mobbr will make an unclaimed payment which can be claimed <a href="#/claim_payment">here</a>
    </li>
</ul>
<p>
    Mobbr will cascade these different types of script. Differing keys are combined and duplicates keys get overwritten
    where the page script gets priority over the the domain script.
</p>

<p>
    In all cases Mobbr will visit the page in question to verify its existence and validity.
</p>

<h3>How to design Mobbr-ready web pages</h3>

<p>
    On a button click Mobbr will try to gather as much information as possible
    by analysing the (X)HTML metadata of the indicated page. To help this proces, use the
    following elements in your HTML pages
</p>
<ul>
    <li>
        The HTML &lt;title&gt; element.
    </li>
    <li>
        A metadata name="description" <a href="http://www.w3schools.com/tags/tag_meta.asp">element</a>.
    </li>
    <li>
        A metadata name="canonical" <a
            href="http://googlewebmastercentral.blogspot.com/2009/02/specify-your-canonical.html">element</a>.
    </li>
    <li>
        A metadata name="original-source" <a
            href="http://googlenewsblog.blogspot.com/2010/11/credit-where-credit-is-due.html">element(s)</a>.
    </li>
    <li>
        A metalink rel="copyright" <a href="http://htmlhelp.com/reference/html40/head/link.html">element</a>, defining
        sharing and derivation rights
    </li>
    <li>
        A correct set of <a href="http://ogp.me/">OG-properties</a>, as
        used by Facebook.
    </li>
</ul>
<p>
    This is not Mobbr specific though, it is good webdesign practice in general. If possible make your pages W3C
    valid.
</p>

<div id="siteconnector" class="page-header">
    <h1>
        Connecting your users to Mobbr<br>
        <small>Using your site's usernames in Mobbr scripts.</small>
    </h1>
</div>

<p>
    <strong>First make sure your pages have either <a href="/#/buttons">buttons or metadata</a>. Or supply a <a href="/#/buttons#domain">domain script</a>.</strong>
</p>

<p>
    Mobbr has a simple mechanism that allows you to connect your entire weblog, community or site in such
    a way that you can start receiving payments and share them among all contributors without the neccessity for them to
    be registered with Mobbr.
</p>
<p>
    <strong>Using this mechanism sites can use their own member names or id's in their scripts.</strong>
</p>
<p>
    You website needs to have a special page / URL that Mobbr can use to resolve your local usernames into email-addresses.
    Suppose you have a weblog on zaplog.nl, then you could provide an URL like:
</p>
<pre>http://zaplog.nl/id/&lt;local-member-name&gt;</pre>
<p>
    The content of this URL should be the email address of your local member. Like this:
</p>
<pre>     REQUEST:
         http://zaplog.nl/id/patrick

     RESPONSE:
         patman@mobbrr.com</pre>
<p>
    If you don't plan to use buttons, but want to rely on the bookmarket or some other tool, you need to place the following script on /PARTICIPATION.TXT, like <a href="http://zaplog.nl/participation.txt">here</a>.
    This tells our server where to find your special page.
</p>
<pre>[
    {
        url-pattern: "*",
        participation-info:
        {
            id-base: "http://zaplog.nl/id/",
            description: "ZapLog - Nederlands beste nieuwssite, Dutch Bloggie winnaar 2008",
        }
    }
]</pre>
<h2>Buttons</h2>
<p>
    Create or generate your Mobbr scripts using your local member names and use your special URL as "id-base". Like this:
</p>
<pre class="prettify">&lt;script src="https://{{host}}/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
mobbr.button({
    <strong>"id-base" : "http://zaplog.nl/id/"</strong>,
    "title" : "Very special article",
    "description" : "Article about the Mobbr button",
    "participants" : [
        {
            <strong>"id": "zaplog"</strong>,
            "role": "platform",
            "share": "1"
        },
        {
            <strong>"id": "Patman"</strong>,
            "role": "webmaster",
            "share": "1"
        },
        {
            <strong>"id": "P.Uncia"</strong>,
            "role": "author",
            "share": "2"
        }
    ]
});
&lt;/script&gt;</pre>
<p>
    Or this:
</p>
<pre class="prettify">&lt;script src="https://{{host}}/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
mobbr.button({
    "title" : "Very special article",
    "description" : "Article about the Mobbr button",
    "participants" : [
        {
            <strong>"id": "http://zaplog.nl/id/zaplog"</strong>,
            "role": "platform",
            "share": "1"
        },
        {
            <strong>"id": "http://zaplog.nl/id/Patman"</strong>,
            "role": "webmaster",
            "share": "1"
        },
        {
            <strong>"id": "http://zaplog.nl/id/P.Uncia"</strong>,
            "role": "author",
            "share": "2"
        }
    ]
});
&lt;/script&gt;</pre>
<p>
    When someone now uses the Mobbr button, Mobbr will call your special URL 3 times in rapid succession:
</p>
<pre>    http://zaplog.nl/id/zaplog
    http://zaplog.nl/id/patman
    http://zaplog.nl/id/p.uncia</pre>
<p>
    Other URL formats are no problem as long as id-base + id form a valid URL, for instance:
</p>
<pre>    http://zaplog.nl?type=id&amp;user=patman</pre>
<p>
    If your members are not yet registered with Mobbr, they will receive mail inviting them to register.
    By registering they automatically claim their payments and will receive all subsequent payments
    directly into their Mobbr-account. You don't need to change anything on your side (or site).
</p>
<p>
    Your system will be given 2 seconds and only 3 redirects to reply. So make it quick. Don't be worried about Mobbr
    overloading your system, we will do some caching / buffering on our side if necessary.
</p>
<p>
    If your system has throttling or anti-hammering enabled, try to exclude the Mobbr bot from this.
</p>
<h2>Security / privacy</h2>
<p>
    To prevent others from accessing your special URL and stealing the email-addresses of your members, protect it by adding the
    something like the following to your Apache server's <a href="http://httpd.apache.org/docs/2.4/mod/mod_authz_host.html">.htaccess file.</a>
</p>
<pre>&lt;Location /zaplog/id/.*$&gt;
Require host mobbr.com
&lt;/Location&gt;</pre>
<p>
    Now only the Mobbr-server can access the page. Of course you can use any alternative mechanism. You can also do a referer check. Our calls will always originate from https://mobbr.com.
</p>
<p>
    You can put the Mobbr payment scripts in metadata, a metalink or a button. See <a href="/#/buttons">here</a> for details, or <a href="/protocol">here</a> for the protocol.
</p>

<h2>Expression Engine example</h2>
<p>
    Because you will probably want to integrate the above mechanism into your CMS or publication system, we will give an example.
    There are many, many CMS-ses and publication systems, but the example for Expression Engine (EE) is representative for a lot of those.
</p>
<p>
    <img src="http://ellislab.com/_user_guide_src_ee/_images/cp_home.png" class="thumbnail">
</p>
<p>
    Like many similar blogging systems (Blogger, Drupal, Word Press), EE is template based. For the special URL (in our example: http://zaplog.nl/zaplog/id/)
    we must create a template. You can do this in <a href="http://ellislab.com/expressionengine/user-guide/cp/design/templates/index.html">the EE backend</a>.
</p>
<p>
    <img src="http://ellislab.com/_user_guide_src_ee/_images/template_new.png" alt="">
</p>
<p>
    The template only needs the following content. It is a tag that generate the email address as page content.
</p>
<pre>{exp:query sql="select email from exp_members
where username='{segment_3}'"}{email}{/exp:query}
</pre>
<p>
    Suppose you want to have a button with every article in you weblog and you want to give the platform owner,
    the webmaster and the author each a fair share. Then you could add a piece of code like this to the template of
    your articles, it will generate the Mobbr payment description and give the author, the webmaster and the platform owner a share.
    Place it in the &lt;head&gt; of the HTML. Of course you will have to sue your own usernames and shares, fitted to your situation.
</p>
<pre class="prettify">{exp:query sql="select username as authorname from exp_channel_titles where url_title='{segment_3}'"}
    &lt;meta name="participation" content='
        {
            "id-base" : "http://zaplog.nl/zaplog/id/",
            "participants" : [
                {
                    "id": "Patman",
                    "role": "Zaplog owner",
                    "share": "1"
                },
                {
                    "id": "P.Uncia",
                    "role": "Zaplog webmaster",
                    "share": "1"
                },
                {
                    "id": "{authorname}",
                    "role": "Zaplog article author",
                    "share": "3"
                }
            ]
        }
    '/&gt;
{/exp:query}</pre>
<p>
    For the button itself you will only need to place the following code in the template of the article:
</p>
<pre class="prettify">&lt;script src="https://{{host}}/mobbr-button.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;mobbr.button();&lt;/script&gt;</pre>
</div>