        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

<div class="page-header">
    <h1>
        About Mobbr<br>
        <small>To boldy start a new economy no one has seen before</small>
    </h1>
</div>
<div class="use-cases row-fluid" >
    <div class="well span6 special" style="height:580px">
        <h4>Who are behind Mobbr?</h4>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/patricksavalle" data-format="inline" data-related="false"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/ernestospruyt" data-format="inline" data-related="false"></script>
        <script type="IN/CompanyProfile" data-id="2527425" data-format="inline" data-related="false"></script>
    </div>
    <div class="well span6 special" style="height:580px">
        <h4>Contact</h4>
        <h6><small>Address</small></h6>
        <p><small>Mobbr @ YES!Delft, Molengraaffsingel 12, 2629 JD Delft</small></p>
        <h6><small>Email</small></h6>
        <p><small>contact either 'patrick' or 'ernesto' @mobbr.com for business inquiries</small></p>
        <iframe style="margin-top:10px;border:1px solid #333;" width="415" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Molengraaffsingel%2B12%2C%2BDelft&ie=UTF8&z=5&t=m&iwloc=near&output=embed"></iframe>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>Our personal crowd</h4>
        <h6>Full stack development</h6>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/handijk" data-format="inline" data-related="false"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/alexanderhofstede" data-format="inline" data-related="false"></script>
        <h6>Front-end/UI</h6>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/andrepaap" data-format="inline" data-related="false"></script>
        <h6>Server- and tooling</h6>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/robbert-de-vries/5/5a2/43b" data-related="false" data-format="inline"></script>
        <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/serverbiz" data-related="false" data-format="inline"></script>
    </div>
    <div class="well span6 special" style="height:940px">
        <h4>Legal</h4>
        <h6><small>DNB license</small></h6>
        <p><small>We have permission (exemption from special oversight) from the Dutch National Bank to act as a bank for electronic money. We
            are however, by nature of this exemption, <b>not</b> under their direct oversight.</small></p>
        <h6><small>Chambers of commerce</small></h6>
        <p><small>We are registered with the chambers of commerce of The Haque under number 550000517</small></p>
        <h6><small>Terms of Use</small></h6>
        <iframe style="margin-left:30px;" width="380" height="670" frameborder="0" marginheight="0" marginwidth="0" src="https://api.mobbr.com/mobbr-terms-of-use.txt"></iframe>
        </p>

    </div>
</div>

<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The Mobbr manifesto</h4>
            <p style="padding-bottom: 10px">
                Internet changes the way we work and live.
            </p>
            <p style="padding-bottom: 10px">
                Old world thinking gave us, more than anything else, the industrialization of creation. Physical manufacturing and digital creation alike. Old world thinking shaped most aspects of our social life. Centralized control, linear value-chains, predefined collaboration. This resulted in the suppression of talent, unsustainable habits and unfair distribution of wealth.
            </p>
            <p style="padding-bottom: 10px">
                Internet for the first time in history enables people to organize themselves in global social networks and to start ad hoc collaborations. Online technologies hold the promise of a new world in which any person can participate. Any time, any place. Social computing already turned out to be the next big thing, empowering people to fit work to their unique talents and needs, instead of the other way around.
            </p>
            <p style="padding-bottom: 10px">
                There is an economic revolution waiting to happen, offering economic freedom and sustainable ways of work. Only one thing is holding it back: payment systems are based on old world paradigms. Always routed through some ‘middleman’ instead of directly reaching those who actually added value, taking away autonomy.
            </p>
            <p style="padding-bottom: 10px">
                Mobbr is about rewarding participation in social collaboration appropriately fair and direct. Decentralized and peer-to-peer. No more middleman.  Payments that are routed exactly the way the underlying value-adding social networks are structured.
            </p>
            <p style="padding-bottom: 10px">
                To boldly start an economy that no one has seen before.
            </p>
    </div>
</div>


