<div class="page-header">
    <h1>
        Features<br>
        <small>The innovative single button crowd funding and crowd payment solution</small>
    </h1>
</div>

<div class="use-cases row-fluid">
    <div class="well span5 special">
        <h4>Industry leading functionality</h4>
        <h6><small>Safe and complaint</small></h4>
        <ul>
            <li><small>Fully compliant with ECB legal and safety regulations</small></li>
            <li><small>Deposits fully garanteed by our banking partner</small></li>
            <li><small>Encrypted wallets and communications</small></li>
        </ul>
        <h6><small>Flexible payments</small></h4>
        <ul>
            <li><small>'Normal' payments</small></li>
            <li><small>Many-to-many payments, any ratio, mixed currencies</small></li>
            <li><small>Crowd funding and/or crowd payment with one button</small></li>
            <li><small>Payment triggers: button, views, scheduled, threshold</small></li>
        </ul>
        <h6><small>Superior wallets</small></h6>
        <ul>
            <li><small>Multicurrency (EUR/GBP/USD/CHF/SEK/NOK/DKK/PLN)</small></li>
            <li><small>...plus bitcoin (XBC)</small></li>
            <li><small>Genuine IBAN account (per Q1/2014)</small></li>
            <li><small>No account limits</small></li>
            <li><small>Custom virtual currencies</small></li>
            <li><small>Pay in using main credit cards &amp; local means of payment</small></li>
            <li><small>Pay in and pay out using 'normal' bank accounts</small></li>
            <li><small>Pay anyone (on email or URL)</small></li>
        </ul>

        <h6><small>Simple integration</small></h6>
        <ul>
            <li><small>Buttons- and widgets</small></li>
            <li><small>Browser plugin (per Q1/2014)</small></li>
            <li><small>Button generator</small></li>
            <li><small>Scripting language</small></li>
        </ul>

        <h6><small>Powerful API</small></h6>
        <ul>
            <li><small>For mobile, web, tv or other clients</small></li>
            <li><small>RESTful</small></li>
            <li><small>JSON and XML</small></li>
            <li><small>HTTP Basic and digest authentication over SSL</small></li>
        </ul>
    </div>

    <div class="well span7 special">
        <img src="/img/screenshot-wallet.png" width="505" style="border:1px solid #ccc;margin-bottom:10px" />
        <img src="/img/screenshot-settings.png" width="505" style="border:1px solid #ccc;" />
    </div>
</div>

<div class="use-cases row-fluid">
    <div class="span12 special">
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/f0f598eb" alt="Response time Report for Mobbr API loop: Last 30 days" title="Response time Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/cac9251f" alt="Uptime Report for Mobbr API loop: Last 30 days" title="Uptime Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
    </div>

</div>

<div class="page-header">
    <h1>
        Example use-cases<br>
        <small>These are only a few of the possible applications</small>
    </h1>
</div>

<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The crowdsourced helpdesk</h4>
        <h6><small>When</small></h6>
        <p><small>You notice that on your helpdesk platform (like a forum or wiki), people frequently help eachother.</small></p>
        <h6><small>What</small></h6>
        <p><small>Reroute some of your spendings to reward those people. Participation and quality will increase, ultimately lowering your helpdesk costs.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using a simple algorithm and create a page where Mobbr can find this ranking. Use this page to frequently reward all contributors. In addition, people can reward eachother, peer-to-peer, with per-topic Mobbr buttons.</small></p>
    </div>

    <div class="well span6 special">
        <h4>The corporate social platform</h4>
        <h6><small>When</small></h6>
        <p><small>The social collaboration platform holds the real promise to make many corporate processes much more effective but participation levels stay low.</small></p>
        <h6><small>What</small></h6>
        <p><small>Use bonusses or a % of your monthly salary round to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using an algorithm and create a page where Mobbr can find this ranking. Pay bottom-up salary through Mobbr. Participation can be steered by tuning the algorithm using a dashboard.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The social loyalty program</h4>
        <h6><small>When</small></h6>
        <p><small>You want to attract new customers and keep them with you using your own loyalty currency (e.g. airmiles, freebees).</small></p>
        <h6><small>What</small></h6>
        <p><small>Have customers earn credits (e.g. airmiles) for participation in your campaigns / on the website.</small></p>
        <h6><small>How</small></h6>
        <p><small>Measure their participation, reward them with your special credit points and create a shop where they can spend these points.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Social / local currencies</h4>
        <h6><small>When</small></h6>
        <p><small>You have a local or social currency and need online payment facilities.</small></p>
        <h6><small>What</small></h6>
        <p><small>Offer local online merchands to accept this local currency for their products and services.</small></p>
        <h6><small>How</small></h6>
        <p><small>Create a custom curreny in Mobbr and instruct merchands on how to integrate Mobbr on their sites.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The (multi-author) website</h4>
        <h6><small>When</small></h6>
        <p><small>You have a weblog / wiki / forum etc. that makes money through donations or ads.</small></p>
        <h6><small>What</small></h6>
        <p><small>Share this income among all those who add value: your authors, the webmaster, the owner, the readers that comment, etc.</small></p>
        <h6><small>How</small></h6>
        <p><small>Mention all the contributors in the Mobbr scripts, either a static or a dynamically generated one, and place buttons on relevant pages. Regularly share the ad revenues with top participants.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Share revenues, boost patricipation</h4>
        <h6><small>When</small></h6>
        <p><small>In general, whenever you reward people, participation and steerability goes up.</small></p>
        <h6><small>What</small></h6>
        <p><small>Take any appropriate income stream and use (part of) it to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Invent, test and implement a mechanism that ranks contributions and create a page where Mobbr can find this ranking. Use Mobbr to reward all those who added value.</small></p>
    </div>
</div>