<div class="page-header">
    <h1>
        Start rewarding creativity and innovation<br>
        <small>You like, you click! It's rewarding</small>
    </h1>
</div>

<div class="well special pull-right span6">
    <h4>This is how it works</h4>
    <ul>
        <li>
            You click the button, your clicks are collected, no money involved yet
        </li>
        <li>
            Keep on clicking as many buttons as you like, still no money involved
        </li>
        <li>
            Finalize them all at once, deciding if and what amount to divide among them
        </li>
    </ul>
    Also:
    <ul>
        <li>
            On registration we'll give you some free (dummy) money so you can start right away
        </li>
        <li>
            You can donate to every URL or email-address you like using our bookmarklet or our payment-box
        </li>
        <li>
            Use the social buttons top-right to sign-up or login
        </li>
    </ul>
</div>

<div class="well special pull-right span6">
    <h4>These are your tools</h4>
    <ul>
        <li>
            Use the buttons you see on other sites
        </li>
        <li>
            Install and use the bookmarklet at the bottom of this site to donate to any URL you like, from your browser
        </li>
        <li>
            Enter any URL into the Mobbr box in the header of this site
        </li>
        <li>
            Install a plugin for your browser to donate to any URL you like
        </li>
    </ul>
</div>

<p class="lead">
    In today's industrialized world, there is no place for individual talent.
    Creation needs to be predictable. Production is preplanned. People are production assets.
    Is this what we want? Imagine a world where work fits talent and people, instead of the other way around.
</p>
<p>
    Internet makes such a world possible. On the internet people can go online and add value, share content and collaborate. Any time, any place.
    You can help this new world by making it profitable to create, collaborate and share. Reward creation!
    Do this with the Mobbr button wherever you encounter it. It puts your money where your heart is: with creators.
    One button pays them all, direct, no middle-man. You like, you click! It's rewarding!
</p>

<p>
    Rewarding creators is simple. If websites place buttons, click those buttons! Click as many as you like without worrying
    about the money.
</p>
<p>
    You can finalize them all at once on your dashboard, deciding at that moment how much money you wish to divide among them.
    Every creator gets his fair share. Every payment you make again. And again.
    Suddenly participating, creating and innovating using becomes business.
</p>
<p>
    If websites don't have buttons, you can still donate. You can use the bookmarklet at the bottom of our site, or the donato-box in the
    header of our site. Owners of the websites will receive mail and can claim their payments within a certain period. If they don't we
    return your payment to you.
</p>
