<div class="page-header">
    <h1>
        Start rewarding creativity and innovation<br>
        <small>You like, you click! It's rewarding</small>
    </h1>
</div>

<div class="well special pull-right span6">
    <h4>This is how it works</h4>
    <ul>
        <li>
            You click the button, your clicks are collected, no money involved yet
        </li>
        <li>
            Keep on clicking as many buttons as you like, still no money involved
        </li>
        <li>
            Finalize them all at once, deciding if and what amount to divide among them
        </li>
    </ul>
    Also:
    <ul>
        <li>
            On registration we'll give you some free (dummy) money so you can start right away
        </li>
        <li>
            You can donate to every URL or email-address you like using our bookmarklet or our payment-box
        </li>
        <li>
            Use the social buttons top-right to sign-up or login
        </li>
    </ul>
</div>

<div class="well special pull-right span6">
    <h4>These are your tools</h4>
    <ul>
        <li>
            Use the buttons you see on other sites
        </li>
        <li>
            Install and use the bookmarklet at the bottom of this site to donate to any URL you like, from your browser
        </li>
        <li>
            Enter any URL into the Mobbr box in the header of this site
        </li>
        <li>
            Install a plugin for your browser to donate to any URL you like
        </li>
    </ul>
</div>

<p class="lead">
    In today's industrialized world, there is no place for individual talent.
    Creation needs to be predictable. Production is preplanned. People are production assets.
    Is this what we want? Imagine a world where work fits talent and people, instead of the other way around.
</p>
<p>
    Internet makes such a world possible. On the internet people can go online and add value, share content and collaborate. Any time, any place.
    You can help this new world by making it profitable to create, collaborate and share. Reward creation!
    Do this with the Mobbr button wherever you encounter it. It puts your money where your heart is: with creators.
    One button pays them all, direct, no middle-man. You like, you click! It's rewarding!
</p>

<p>
    Rewarding creators is simple. If websites place buttons, click those buttons! Click as many as you like without worrying
    about the money. Every creator gets his fair share. Every payment you make again. And again.
    Suddenly participating, creating and innovating using becomes business.
</p>
<p>
    If websites don't have buttons, you can still donate. You can use the bookmarklet at the bottom of our site, or the donato-box in the
    header of our site. Owners of the websites will receive mail and can claim their payments within a certain period. If they don't we
    return your payment to you.
</p>

<iframe src="https://docs.google.com/presentation/d/1tjkoWfBxRINxkQRrpYrfnoQsvysUbz0raWY1zMqF6XY/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<div class="page-header">
    <h1>
        Use cases<br>
        <small>Mobbr has many uses, for small weblogs to corporate platforms, these are just a very few of them</small>
    </h1>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The crowdsourced helpdesk</h4>
        <h6><small>When</small></h6>
        <p><small>You notice that on your helpdesk platform (like a forum or wiki), people frequently help eachother.</small></p>
        <h6><small>What</small></h6>
        <p><small>Reroute some of your spendings to reward those people. Participation and quality will increase, ultimately lowering your helpdesk costs.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using a simple algorithm and create a page where Mobbr can find this ranking. Use this page to frequently reward all contributors. In addition, people can reward eachother, peer-to-peer, with per-topic Mobbr buttons.</small></p>
    </div>

    <div class="well span6 special">
        <h4>The corporate social platform</h4>
        <h6><small>When</small></h6>
        <p><small>The social collaboration platform holds the real promise to make many corporate processes much more effective but participation levels stay low.</small></p>
        <h6><small>What</small></h6>
        <p><small>Use bonusses or a % of your monthly salary round to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using an algorithm and create a page where Mobbr can find this ranking. Pay bottom-up salary through Mobbr. Participation can be steered by tuning the algorithm using a dashboard.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The social loyalty program</h4>
        <h6><small>When</small></h6>
        <p><small>You want to attract new customers and keep them with you using your own loyalty currency (e.g. airmiles, freebees).</small></p>
        <h6><small>What</small></h6>
        <p><small>Have customers earn credits (e.g. airmiles) for participation in your campaigns / on the website.</small></p>
        <h6><small>How</small></h6>
        <p><small>Measure their participation, reward them with your special credit points and create a shop where they can spend these points.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Social / local currencies</h4>
        <h6><small>When</small></h6>
        <p><small>You have a local or social currency and need online payment facilities.</small></p>
        <h6><small>What</small></h6>
        <p><small>Offer local online merchands to accept this local currency for their products and services.</small></p>
        <h6><small>How</small></h6>
        <p><small>Create a custom curreny in Mobbr and instruct merchands on how to integrate Mobbr on their sites.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The (multi-author) website</h4>
        <h6><small>When</small></h6>
        <p><small>You have a weblog / wiki / forum etc. that makes money through donations or ads.</small></p>
        <h6><small>What</small></h6>
        <p><small>Share this income among all those who add value: your authors, the webmaster, the owner, the readers that comment, etc.</small></p>
        <h6><small>How</small></h6>
        <p><small>Mention all the contributors in the Mobbr scripts, either a static or a dynamically generated one, and place buttons on relevant pages. Regularly share the ad revenues with top participants.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Share revenues, boost patricipation</h4>
        <h6><small>When</small></h6>
        <p><small>In general, whenever you reward people, participation and steerability goes up.</small></p>
        <h6><small>What</small></h6>
        <p><small>Take any appropriate income stream and use (part of) it to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Invent, test and implement a mechanism that ranks contributions and create a page where Mobbr can find this ranking. Use Mobbr to reward all those who added value.</small></p>
    </div>
</div>