<div class="page-header">
    <h1>
        Set out for every contribution you make to be rewarded<br>
        <small>There is a new economy waiting to happen, take your fair share.</small>
    </h1>
</div>

<div class="well special pull-right span6">
    <h4>This is how it works</h4>
    <ul>
        <li>
            <a href="/#/sites">Find</a> a site that uses Mobbr
        </li>
        <li>
            Go there and start adding value and content, participate!
        </li>
        <li>
            Get your fair share automatically
        </li>
    </ul>
    Also...
    <ul>
        <li>
            Check if you already recieved payments
        </li>
        <li>
            <a href="/#/claimpayment">Claim them</a>
        </li>
    </ul>
    With Mobbr you can send payments to every URL and email address, even those still unknown to Mobbr!
</div>

<div class="well special pull-right span6">
    <h4>These are your tools</h4>
    <ul>
        <li>
            Make your content available on a site that is Mobbrified
        </li>
        <li>
            Collaborate on platforms that are Mobbrified
        </li>
    </ul>
</div>

<p class="lead">
    The internet and its social collaboration platforms allow you to bring your specific talents to communities and crowds everywhere.
    Small contributions, big contributions, they all add up. A new way of working is waiting to happen. Any time, any place.
    Tailored to your skills and preferences.
</p>
<p>
    Good ideas, brilliant code, life-saving tips, sublime pictures and artwork. Whether you create alone or
    in social collaboration, the Mobbr button guarantees each contributor his fair share. One button pays
    you all, no middleman. Just go online and start adding value.
</p>
<p>
    With the Mobbr button in place, payments are automatically and instantly divided among all co-creators, including you. Make sure
    you do your thing on a Mobbrified platform. You can start a new collaboration without the need to do any financial bookkeeping or administration
    since everything that is earned, is automatically divided. Mobbr makes sure you can concentrate on creation and innovation.
</p>
