<div class="alert alert-info" ng-hide="userSession.authenticated">
    The dashboard is empty because you are not logged in. To login or signup, go <a href="#/join">here</a>.
</div>
<tabs>
    <pane heading="Payments">

        <div class="form-inline" style="margin-bottom: 20px;">
            <label for="searchEntries{{paymenttype}}">Search: </label>
            <input type="search" class="search-query" ng-model="searchentries" id="searchEntries{{paymenttype}}" >
        </div>

        <accordion close-others="false">
            <accordion-group heading="Unfinalized" is-open="true">
                <payments nodatatitle="No pending/unfinalized payments"
                          searchentries="searchentries"
                          paymenttype="unfinalized_payments"
                          showexpiresdate="false"
                          editable="true"></payments>
            </accordion-group>
            <accordion-group heading="Since last logout" is-open="true">
                <payments nodatatitle="No payments since last logout"
                          paymenttype="new_payments"
                          editable="false"
                          searchentries="searchentries"
                          showexpiresdate="false"></payments>
            </accordion-group>
            <accordion-group heading="Historic payments" is-open="true">
                <payments nodatatitle="No payments"
                          searchentries="searchentries"
                          paymenttype="payments"
                          editable="false"
                          showexpiresdate="false"></payments>
            </accordion-group>
            <!--<accordion-group heading="Unclaimed" is-open="true">
                <payments nodatatitle="No unclaimed payments"
                          paymenttype="unclaimed_payments"
                          editable="false"
                          searchentries="searchentries"
                          showexpiresdate="true"></payments>
            </accordion-group>-->
        </accordion>
    </pane>
    <pane heading="Balances">

        <div class="pull-right btn-toolbar" style="margin: 0;">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Receive <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <div class="clearfix">
                            <select class="pull-right" ng-model="network_method" ng-options="n.name for n in networks"></select>
                        </div>
                        <div ng-switch="network_method.name">
                            <ul ng-switch-when="bitcoin">
                                <li class="nav-header">Send to one of these Bitcoin addresses</li>
                                <li ng-show="network_method.addresses.result.length > 0" class="nav-header balancesub">
                                    <ul class="no-style">
                                        <li ng-repeat="address in network_method.addresses.result">
                                            <a style="text-transform: none;" href="bitcoin:{{ address.address }}">{{ address.address }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="network_method.addresses.result.length == 0"  class="nav-header balancesub">
                                    <ul class="no-style">
                                        <li>
                                            <span>No addresses yet, click below to generate</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-header">
                                    <button class="btn btn-primary" ng-click="newAccountAddress(network_method)">Generate new address</button>
                                </li>
                            </ul>
                            <ul ng-switch-when="paypal">
                                <li class="nav-header">Send to paypal address:</li>
                                <li ng-show="network_method.addresses.result.length > 0" class="nav-header balancesub">
                                    <ul class="no-style">
                                        <li>
                                            <span>paypal@mobbr.com</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-header">Place one of these tokens in the memo/note field of payment</li>
                                <li ng-show="network_method.addresses.result.length > 0" class="nav-header balancesub">
                                    <ul class="no-style">
                                        <li ng-repeat="address in network_method.addresses.result">
                                            <span>%{{ address.address }}%</span>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="network_method.addresses.result.length == 0"  class="nav-header balancesub">
                                    <ul class="no-style">
                                        <li>
                                            <span>No addresses yet, click below to generate</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-header">
                                    <button ng-disabled="waitinggenerate" class="btn btn-primary" ng-click="newAccountAddress(network_method)">
                                        <i class="icon-white mobbrloader" ng-show="waitinggenerate"></i>
                                        Generate new token
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Send <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">

                    <div class="clearfix">
                        <select class="pull-right" ng-model="network_method" ng-options="n.name for n in networks"></select>
                    </div>
                    <div ng-switch="network_method.name">
                        <form name="bitcoinform">
                            <ul ng-switch-when="bitcoin">
                                <li class="nav-header">Curreny &amp; amount</li>
                                <li class="nav-header">
                                    <select class="input-small"
                                            ng-model="$parent.$parent.$parent.withdraw_currency"
                                            ng-options="currency for currency in network_method.currencies.result">
                                    </select>
                                    <input name="withdraw_amount" class="input-small" ng-model="withdraw_amount" required type="number" step="any" min="0" max="1000000000">
                                </li>
                                <li class="nav-header">Bitoin address</li>
                                <li class="nav-header">
                                    <input name="withdraw_address" type="text" ng-model="withdraw_address" required class="input-xlarge">
                                </li>
                                <li class="nav-header">Note</li>
                                <li class="nav-header">
                                    <textarea name="withdraw_note" class="input-xlarge" ng-model="withdraw_note"></textarea>
                                </li>
                                <li class="nav-header">
                                    <button class="btn btn-success"
                                            ng-click="withdraw(this, network_method.name, withdraw_currency, withdraw_amount, withdraw_address, withdraw_note)">
                                        <i class="icon-white mobbrloader" ng-show="waitingwithdraw"></i>
                                        Send
                                    </button>
                                </li>
                            </ul>
                        </form>
                        <form name="paypalform">
                            <ul ng-switch-when="paypal">
                                <li class="nav-header">Curreny &amp; amount</li>
                                <li class="nav-header">
                                    <select class="input-small" ng-model="$parent.$parent.$parent.withdraw_currency" ng-options="currency for currency in network_method.currencies.result"></select>
                                    <input name="withdraw_amount" class="input-small" ng-model="withdraw_amount" required type="number" step="any" min="0" max="1000000000">
                                </li>
                                <li class="nav-header">Email address</li>
                                <li class="nav-header">
                                    <input name="withdraw_address" type="email" ng-model="withdraw_address" required class="input-xlarge">
                                </li>
                                <li class="nav-header">Note</li>
                                <li class="nav-header">
                                    <textarea name="withdraw_note" class="input-xlarge" ng-model="withdraw_note"></textarea>
                                </li>
                                <li class="nav-header">
                                    <button class="btn btn-success"
                                            ng-disabled="waitingwithdraw"
                                            ng-click="withdraw(this, network_method.name, withdraw_currency, withdraw_amount, withdraw_address, withdraw_note)">
                                        <i class="icon-white mobbrloader" ng-show="waitingwithdraw"></i>
                                        Send
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </ul>
            </div>
        </div>

        <div class="form-inline" class="pull-left" style="margin-bottom: 20px;">
            <label for="searchBalanceEntries">Search: </label>
            <input type="search" class="search-query" ng-model="searchBalanceEntries" id="searchBalanceEntries" >
        </div>

        <accordion close-others="false">
            <accordion-group heading="Totals" is-open="true">

                <table class="table table-striped" ng-show="balances.length > 0">
                    <thead>
                    <tr>
                        <th>Currency description</th>
                        <th ng-click="sortBalance('currency_iso')">Currency</th>
                        <th ng-click="sortBalance('amount')">Total</th>
                        <th ng-click="sortBalance('fee')">Fee</th>
                        <th ng-click="sortBalance('spendable')">Spendable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="balance in balances | orderBy:sortEntries:sortOrderBalance | filter:searchBalanceEntries"  ng-class-odd="'odd'" ng-class-even="'even'">
                        <td ng-bind="currencyDescription(balance.currency_iso)"></td>
                        <td ng-bind="balance.currency_iso" class="currency"></td>
                        <td ng-bind="balance.amount" class="amount decorate-amount"></td>
                        <td ng-bind="balance.fee" class="amount decorate-amount"></td>
                        <td ng-bind="balance.spendable" class="amount decorate-amount"></td>
                    </tr>
                    </tbody>
                </table>

                <div ng-show="balances.length == 0">
                    No balances found
                </div>
            </accordion-group>
            <accordion-group heading="Payments" is-open="true">
                <table class="table table-striped" ng-show="mutations.length >0">
                    <thead>
                    <tr>
                        <th ng-click="sortPayments('paiddatetime')">date</th>
                        <th ng-click="sortPayments('payment_service')" >Payment network</th>
                        <th ng-click="sortPayments('currency_iso')">Currency</th>
                        <th ng-click="sortPayments('amount')" colspan="3">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mutation in mutations | orderBy:sortEntries:sortOrderPayments | filter:searchBalanceEntries"  ng-class-odd="'odd'" ng-class-even="'even'">
                        <td ng-bind="mutation.paiddatetime || mutation.announceddatetime" class="datetime {{ !mutation.paiddatetime && 'muted' }}"></td>
                        <td ng-bind="mutation.payment_service"></td>
                        <td ng-bind="mutation.currency_iso" class="currency"></td>
                        <td ng-bind="mutation.amount" class="amount decorate-amount"></td>
                        <td class="amount"></td>
                        <td class="amount"></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="mutations.length == 0">
                    No transactions found
                </div>
            </accordion-group>
        </accordion>
    </pane>
    <!--<pane heading="Payments">

        <div class="form-inline" style="margin-bottom: 20px;">
            <label for="searchentriesAllPayments">Search: </label>
            <input type="search" class="search-query" ng-model="searchentriesAllPayments" id="searchentriesAllPayments" >
        </div>

        <payments nodatatitle="No payments"
                  searchentries="searchentriesAllPayments"
                  paymenttype="payments"
                  editable="false"
                  showexpiresdate="false"></payments>
    </pane>-->
    <pane heading="Domains">
        <div ng-controller="SearchDomainController">
            <form ng-submit="searchDomain()">
                <label for="searchDomainInput">Enter domain to administer:</label>
                <div class="input-append">
                    <input type="text" ng-model="searchDomainInput" id="searchDomainInput">
                    <button type="submit" class="btn">Go</button>
                </div>
            </form>
        </div>

    </pane>
</tabs>

