<div class="alert alert-info" ng-hide="userSession.authenticated">
    The dashboard is empty because you are not logged in. To login or signup, go <a href="#/join">here</a>.
</div>
<tabs>
    <pane heading="Session">

        <div class="form-inline" style="margin-bottom: 20px;">
            <label for="searchEntries{{paymenttype}}">Search: </label>
            <input type="search" class="search-query" ng-model="searchentries" id="searchEntries{{paymenttype}}" >
        </div>

        <accordion close-others="false">
            <accordion-group heading="Pending" is-open="true">
                <payments nodatatitle="No pending payments"
                          searchentries="searchentries"
                          paymenttype="pending_payments"
                          showexpiresdate="false"
                          editable="true"></payments>
            </accordion-group>
            <accordion-group heading="Since last login" is-open="true">
                <payments nodatatitle="No payments since last session"
                          paymenttype="new_payments"
                          editable="false"
                          searchentries="searchentries"
                          showexpiresdate="false"></payments>
            </accordion-group>
            <accordion-group heading="Unclaimed" is-open="true">
                <payments nodatatitle="No unclaimed payments"
                          paymenttype="unclaimed_payments"
                          editable="false"
                          searchentries="searchentries"
                          showexpiresdate="true"></payments>
            </accordion-group>
        </accordion>
    </pane>
    <pane heading="Balances">

        <div class="pull-right btn-toolbar" style="margin: 0;">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Receive <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">On these bitcoin addresses</li>
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">
                        <ul class="no-style">
                            <li ng-repeat="bitcoinaddress in bitcoinaddresses">
                                <a style="text-transform: none;" href="bitcoin:{{ bitcoinaddress.address }}">{{ bitcoinaddress.address }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <button class="btn btn-primary" ng-click="newBitcoinaddress()">Generate extra address</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">On this Paypal address</li>
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">
                        <ul class="no-style">
                            <li>
                                paypal@mobbr.com
                            </li>
                        </ul>
                    </li>
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">With this token in the payment memo/note</li>
                    <li ng-show="bitcoinaddresses.length > 0" class="nav-header">
                        <ul class="no-style">
                            <li>
                                %bfcd63d724d1bf3462e61f1f397da1d1%
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">
                        <button class="btn btn-primary" ng-click="newBitcoinaddress()">Generate extra token</button>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Send <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                    <li class="nav-header">Curreny &amp; amount</li>
                    <li class="nav-header">
                        <select class="input-small" ng-model="$rootScope.withdraw_currency" ng-options="key as key for (key, value) in withdraw_currencies"></select>
                        <input class="input-small" ng-model="$rootScope.withdraw_amount" required type="number" step="any" min="0" max="1000000000">
                    </li>
                    <li class="nav-header">Bitcoin address</li>
                    <li class="nav-header">
                        <input type="text" ng-model="$rootScope.withdraw_address" required class="input-xlarge">
                    </li>
                    <li class="nav-header">Note</li>
                    <li class="nav-header">
                        <textarea class="input-xlarge" ng-model="$rootScope.withdraw_note"></textarea>
                    </li>
                    <li class="nav-header">
                        <button class="btn btn-success" ng-click="withdraw()">Send</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-inline" class="pull-left" style="margin-bottom: 20px;">
            <label for="searchBalanceEntries">Search: </label>
            <input type="search" class="search-query" ng-model="searchBalanceEntries" id="searchBalanceEntries" >
        </div>

        <accordion close-others="false">
            <accordion-group heading="Totals" is-open="true">

                <table class="table table-striped" ng-show="balances.length > 0">
                    <thead>
                    <tr>
                        <th>Currency description</th>
                        <th ng-click="sortBalance('currency_iso')">Currency</th>
                        <th ng-click="sortBalance('amount')">Total</th>
                        <th ng-click="sortBalance('fee')">Reserved</th>
                        <th ng-click="sortBalance('spendable')">Spendable</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="balance in balances | orderBy:sortEntries:sortOrderBalance | filter:searchBalanceEntries"  ng-class-odd="'odd'" ng-class-even="'even'">
                        <td ng-bind="currencyDescription(balance.currency_iso)"></td>
                        <td ng-bind="balance.currency_iso" class="currency"></td>
                        <td ng-bind="balance.amount | number:4" class="amount decorate-amount"></td>
                        <td ng-bind="balance.fee | number:4" class="amount decorate-amount"></td>
                        <td ng-bind="balance.spendable | number:4" class="amount decorate-amount"></td>
                    </tr>
                    </tbody>
                </table>

                <div ng-show="balances.length == 0">
                    No balances found
                </div>
            </accordion-group>
            <accordion-group heading="Payments" is-open="true">
                <table class="table table-striped" ng-show="mutations.length >0">
                    <thead>
                    <tr>
                        <th ng-click="sortPayments('paiddatetime')">date</th>
                        <th ng-click="sortPayments('payment_service')" >Payment network</th>
                        <th ng-click="sortPayments('currency_iso')">Currency</th>
                        <th ng-click="sortPayments('amount')" colspan="3">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mutation in mutations | orderBy:sortEntries:sortOrderPayments | filter:searchBalanceEntries"  ng-class-odd="'odd'" ng-class-even="'even'">
                        <td ng-bind="mutation.paiddatetime || mutation.announceddatetime" class="datetime {{ !mutation.paiddatetime && 'muted' }}"></td>
                        <td ng-bind="mutation.payment_service"></td>
                        <td ng-bind="mutation.currency_iso" class="currency"></td>
                        <td ng-bind="mutation.amount | number:4" class="amount decorate-amount"></td>
                        <td class="amount"></td>
                        <td class="amount"></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="mutations.length == 0">
                    No transactions found
                </div>
            </accordion-group>
        </accordion>
    </pane>
    <pane heading="Payments">

        <div class="form-inline" style="margin-bottom: 20px;">
            <label for="searchentriesAllPayments">Search: </label>
            <input type="search" class="search-query" ng-model="searchentriesAllPayments" id="searchentriesAllPayments" >
        </div>

        <payments nodatatitle="No payments"
                  searchentries="searchentriesAllPayments"
                  paymenttype="payments"
                  editable="false"
                  showexpiresdate="false"></payments>
    </pane>
    <pane heading="Domains">
        <div ng-controller="SearchDomainController">
            <form ng-submit="searchDomain()">
                <label for="searchDomainInput">Enter domain to administer:</label>
                <div class="input-append">
                    <input type="text" ng-model="searchDomainInput" id="searchDomainInput">
                    <button type="submit" class="btn">Go</button>
                </div>
            </form>
        </div>

    </pane>
</tabs>

