<div class="row pay-task">
    <div class="container">
        <form name="deposit" ng-submit="confirm()">
            <fieldset ng-disabled="bankwire || (depositing && !depositing.$resolved)" class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <select ng-model="deposit_type"
                                id="type"
                                class="form-control"
                                name="deposit_type"
                                ng-options="value.name for (key, value) in networks">
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control"
                                ng-hide="deposit_type.type == 'btc'"
                                required
                                ng-init="currency = $mobbrStorage.user.currency_iso || 'EUR'"
                                ng-model="deposit_type.currency"
                                ng-options="curr.currency_iso as curr.currency_iso for curr in networkCurrencies"></select>
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control"
                               placeholder="0.00"
                               required
                               type="number"
                               ng-hide="deposit_type.type == 'btc'"
                               ng-model="deposit_type.amount"
                               step="any"
                               min="0"
                               max="1000000000">
                    </div>
                </div>
            </fieldset>
            <fieldset ng-hide="deposit_type.type == 'btc'" class="form-group"ng-disabled="depositing && !depositing.$resolved">
                <div class="row">
                    <div class="col-md-12">
                        <textarea placeholder="Short note or reminder"
                                  ng-model="note"
                                  class="form-control"
                                  id="country"
                                  name="deposit_note"></textarea>
                    </div>
                </div>
            </fieldset>


            <div ng-show="deposit_type.type == 'btc'">
                <div class="form-group">
                                <span class="info-box">
                                    <span class="mobbricon mobbricon-softalert"></span>
                                    Share one of these addresses with anyone who needs to send you money.
                                </span>
                                <span class="info-box">
                                    <span class="mobbricon mobbricon-softalert"></span>
                                    Bitcoin payments to your wallet typically take 40-50 mins
                                </span>
                </div>
                <div ng-repeat="wallet in supportedCurrencies.result">
                    <div class="row">
                        <fieldset ng-if="wallet.currency_iso == 'BTC'">
                            <fieldset ng-repeat="address in wallet.addresses" class="form-group">
                                <div class="col-md-9">
                                    <a ng-href="{{ 'bitcoin:' + address.bitcoin }}" class="btn-bitcoin btn btn-block">
                                        <img src="/img/bitcoin-icon.png" width="16">
                                        <span  ng-bind="address.bitcoin"></span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a ng-href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bitcoin:{{ address.bitcoin }}" target="_blank" class="btn btn-bitcoin btn-block">
                                        Show QR code
                                    </a>
                                </div>
                            </fieldset>
                        </fieldset>
                    </div>
                </div>
            </div>

            <fieldset ng-show="bankwire">
                <div class="form-group">
                                <span class="info-box">
                                    <span class="mobbricon mobbricon-softalert"></span>
                                    Make a bank transfer using the details below
                                </span>
                </div>
                <div  class="row">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            BIC
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" readonly ng-model="bankwire.BankAccount.BIC">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            IBAN
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" readonly ng-model="bankwire.BankAccount.IBAN">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Name
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" readonly ng-model="bankwire.BankAccount.OwnerName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            Reference/note
                        </label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" readonly ng-model="bankwire.WireReference">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row" ng-show="fee.$resolved">
                <div class="col-md-12">
                    <span class="info-box">
                        <span class="mobbricon mobbricon-softalert"></span> Your fee will be <span ng-bind-html="fee.result.amount | mobbrcurrency:fee.result.currency_iso:true"></span>.
                    </span>
                </div>
            </div>

            <div class="row" ng-show="deposit_type.name == 'Bankwire'">
                <div class="col-xs-12">
                                                                            <span class="info-box">
                                    <span class="mobbricon mobbricon-softalert"></span>
                                    Bankwire payments to your wallet typically take 3-5 days.
                                </span>
                </div>
            </div>

            <div class="row" ng-show="deposit_type.name == 'Creditcard'">
                <div class="col-xs-12">
                                                                            <span class="info-box">
                                    <span class="mobbricon mobbricon-softalert"></span>
                                    Creditcard payments appear in your wallet immediately.
                                </span>
                </div>
            </div>

            <div class="row">
                <fieldset class="form-group" ng-disabled="(fee && !fee.$resolved) || (depositing && !depositing.$resolved)">
                    <div class="col-xs-10 col-sm-offset-9 col-sm-2">
                        <button class="btn btn-success btn-block" ng-click="addBitcoinAddress('BTC')" ng-if="!bankwire && deposit_type.type == 'btc'">Add another</button>
                        <button type="submit" ng-disabled="!deposit_type.currency || !deposit_type.amount" class="btn btn-success btn-block" ng-show="!bankwire && deposit_type.type != 'btc'">
                            Confirm
                        </button>
                    </div>
                    <div class="col-xs-2 col-sm-1">
                        <button ng-click="$state.go('^')" class="btn btn-danger btn-block">
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
