<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>
                {{info.result.meta_data.title}}<br>
            </h1>
        </div>
        <a href="{info.result.meta_data.url}}" ng-show="info.result.meta_data.img_url" target="_blank">
            <img ng-src="{{info.result.meta_data.img_url}}">
        </a>
        <p>{{info.result.meta_data.description}}</p>
    </div>

    <div class="ool-md-4">
        <div class="well">
            <h6><small>Domain earnings</small></h6>
            <invoicetable api="balances"
                          columns="[ 'currency_description', 'currency_iso', 'amount' ]"></invoicetable>
        </div>
    </div>

    <div class="well special pull-right col-md-4 receipt">

    </div>
</div>

<tabs>
    <pane heading="Top URL's">
        <mobbrtable entries="unclaimed.result"
                    columns="[ 'img_uri_link', 'title+description_link', 'mobbrbutton' ]"></mobbrtable>
    </pane>
    <pane heading="Payments">
        <mobbrtable entries="payments.result"
                    has-search="true"
                    has-header="true"
                    has-limiter="true"
                    can-sort="true"
                    columns="[ 'datetime', 'title', 'currency_iso', 'amount' ]"></mobbrtable>
    </pane>

    <pane heading="Referers">
        <mobbrtable entries="locations.result"
                    has-search="true"
                    has-header="true"
                    can-sort="true"
                    columns="[ 'url', 'currency_iso', 'amount' ]"></mobbrtable>
    </pane>

    <pane heading="Participants">
        <mobbrtable entries="persons.result"
                    has-search="true"
                    has-header="true"
                    can-sort="true"
                    columns="[ 'gravatar-xsmall', 'username', 'roles', 'currency_iso', 'amount' ]"></mobbrtable>
    </pane>
</tabs>
