<div class="page-header">
    <h1>
        Exchange rates<br>
        <small>Rates are just indications</small>
    </h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th ng-click="sortBy('description')">Description</th>
        <th colspan="3" ng-click="sortBy('currency_iso')">Rate<sup>*</sup>
        </th>
        <th>Update</th>
        <th ng-click="sortBy('exchange_rate_source_url')">Source</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="exchangerate in exchangerates.result | orderBy: sortField: sortOrder">
        <td ng-bind="exchangerate.description"></td>
        <td>{{exchangerate.base_currency_iso}} 1.00</td>
        <td>≈</td>
        <td>{{exchangerate.currency_iso}} {{exchangerate.exchange_rate | number:2}}</td>
        <td ng-bind="exchangerate.exchange_rate_datetime"></td>
        <td><a href="{{exchangerate.exchange_rate_source_url}}">{{exchangerate.exchange_rate_source_url}}</a></td>
    </tr>
    </tbody>
</table>