<div class="page-header">
    <h1>
        Features<br>
        <small>The innovative single button crowd funding and crowd payment solution</small>
    </h1>
</div>

<div class="use-cases row-fluid" >
    <div class="well span5 special" style="padding-top:40px; padding-bottom:47px;">
        <h4>Industry leading functionality</h4>
        <h6><small>Safe and complaint</small></h4>
        <ul>
            <li><small>Fully compliant with ECB legal and safety regulations</small></li>
            <li><small>Deposits garanteed by our partner <a target="_blank" href="http://www.mangopay.com/legal-notices/">Leetchi Corp S.A.</a></small></li>
            <li><small>Encrypted wallets and communications</small></li>
        </ul>
        <h6><small>Flexible payments</small></h4>
        <ul>
            <li><small>'Normal' payments</small></li>
            <li><small>Many-to-many payments, any ratio, mixed currencies</small></li>
            <li><small>Crowd funding and/or crowd payment with one button</small></li>
            <li><small>Payment triggers: button, views, scheduled, threshold</small></li>
        </ul>
        <h6><small>Superior wallets</small></h6>
        <ul>
            <li><small>Multicurrency (EUR/GBP/USD/CHF/SEK/NOK/DKK/PLN)</small></li>
            <li><small>...plus bitcoin (XBC)</small></li>
            <li><small>Genuine IBAN account (per Q1/2014)</small></li>
            <li><small>No account limits</small></li>
            <li><small>Custom virtual currencies</small></li>
            <li><small>Pay in using main credit cards &amp; local means of payment</small></li>
            <li><small>Pay in and pay out using 'normal' bank accounts</small></li>
            <li><small>Pay anyone (on email or URL)</small></li>
        </ul>

        <h6><small>Simple integration</small></h6>
        <ul>
            <li><small>Buttons- and widgets</small></li>
            <li><small>Browser plugin (per Q1/2014)</small></li>
            <li><small>Button generator</small></li>
            <li><small>Scripting language</small></li>
        </ul>

        <h6><small>Powerful API</small></h6>
        <ul>
            <li><small>For mobile, web, tv or other clients</small></li>
            <li><small>RESTful</small></li>
            <li><small>JSON and XML</small></li>
            <li><small>HTTP Basic and digest authentication over SSL</small></li>
        </ul>
    </div>

    <div class="well span7 special">
        <img src="/img/screenshot-wallet.png" width="505" style="border:1px solid #ccc;margin:30px 0" />
        <img src="/img/screenshot-settings.png" width="505" style="border:1px solid #ccc;" />
    </div>
</div>

<div class="use-cases row-fluid" style="margin:40px 0">
    <div class="span12 special">
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/f0f598eb" alt="Response time Report for Mobbr API loop: Last 30 days" title="Response time Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/cac9251f" alt="Uptime Report for Mobbr API loop: Last 30 days" title="Uptime Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
    </div>

</div>

<div class="page-header">
    <h1>
        Example use-cases<br>
        <small>These are only a few of the possible applications</small>
    </h1>
</div>

<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>Open innovation</h4>
        <h6><small>Why</small></h6>
        <p><small>Innovation challenges do not utilize the most promising aspect of crowdsourcing: synergy through collaboration.</small></p>
        <h6><small>What</small></h6>
        <p><small>By adding more collaborative elements to the competition process, the crowd can build upon eachothers contribution. Leading to results that no single contributor could have produced by him/herself.</small></p>
        <h6><small>How</small></h6>
        <p><small>Have the contributors vote on, comment on and play with eachothers work. And divide the prize money more fairly among the (top) contributors using the Mobbr button.</small></p>
    </div>

    <div class="well span6 special">
        <h4>From microtasking to macrotasking</h4>
        <h6><small>Why</small></h6>
        <p><small>Microtasking platforms lack the payment functionality to be able to facilitate more complex tasks.</small></p>
        <h6><small>What</small></h6>
        <p><small>Through using Mobbr's crowd payment functionality, those platforms can vastly expand their market reach by facilitating more complicated 'macro-tasks' in collaborative processes.</small></p>
        <h6><small>How</small></h6>
        <p><small>Don't prepackage the work at a fixed price, but put it in an open platform and steer on the desired output. Design the process to let the users rate the quality of the work and pay everyone their fair share using Mobbr.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
   <div class="well span6 special">
        <h4>Knowledge sharing</h4>
        <h6><small>Why</small></h6>
        <p><small>For most companies, fully utilizing their collective knowledge remains a difficult challenge.</small></p>
        <h6><small>What</small></h6>
        <p><small>Adding payment functionality to knowledge sharing tools, allows for the necessary incentives to share and monetize knowledge, instead of protecting it.</small></p>
        <h6><small>How</small></h6>
        <p><small>Post knowledge work or tasks online using simple Wiki- or Q&A software. Pay employees, consultants and/or external experts their fair share for contributing using the Mobbr button.</small></p>
    </div>
    <div class="well span6 special">
        <h4>The crowdsourced helpdesk</h4>
        <h6><small>Why</small></h6>
        <p><small>Helpdesks face the continuous challenge of improving satisfaction targets whilst lowering costs.</small></p>
        <h6><small>What</small></h6>
        <p><small>By simply integrating the Mobbr button those helpdesks can enable crowdsourcing of customer service in a way that is more personal and much more efficient. After all, the crowd never takes a break.</small></p>
        <h6><small>How</small></h6>
        <p><small>Open up the helpdesk to the crowd and use the Mobbr button to pledge money to specific questions, categories or tags. In addition, people can reward eachother.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>Blogging platforms</h4>
        <h6><small>Why</small></h6>
        <p><small>User generated content sites are often too dependent on (diminishing) advertising income..</small></p>
        <h6><small>What</small></h6>
        <p><small>By adding Mobbr buttons to blogs, articles and other content, the platform can generate alternative sources of income.</small></p>
        <h6><small>How</small></h6>
        <p><small>Crowdsource a content marketing campaign and distribute part of the revenue, ask readers for donations, or create content on demand using the Mobbr button for (micro)crowdfunding. Just to name a few examples..</small></p>
    </div>

    <div class="well span6 special">
        <h4>Expert communities</h4>
        <h6><small>When</small></h6>
        <p><small>Online communities of experts generally do not fully leverage their collective wisdom and workforce.</small></p>
        <h6><small>What</small></h6>
        <p><small>Those communities can create income streams by bringing together supply (i.e. the expert community) and demand (i.e. businesses).</small></p>
        <h6><small>How</small></h6>
        <p><small>Facilitate the execution of work, tasks and projects relating to your community's expertise. Simply add a crowdsourcing or collaboration tool and Mobbr button to the website to facilitate the process.</small></p>
    </div>
</div>