<div class="page-header">
    <h1>
        Features and use-cases<br>
        <small>How to start making money with crowdsourcing</small>
    </h1>
</div>

<div class="use-cases row-fluid" >
    <div class="well span5 special" style="padding-bottom:104px">
        <h4>User friendly integration</h4>

        <h6><small>general</small></h6>
            <ul>
                <li><small>Pre-selection of most suitable open source software</small></li>
                <li><small>Easy determination of functional requirements</small></li>
                <li><small>Step by step set up manual</small></li>
                <li><small>Support community</small></li>
            </ul>

        <h6><small>software specific</small></h6>
            <ul>
                <li><small>Works with most software that has a reputation or 'karma' system</small></li>
                <li><small>Integration possible with most existing crowdsourcing platforms</small></li>
                <li><small>Most popular software, like Question2Answer, Mediawiki and vBulletin</small></li>
                <li><small>Various group blog suites (usually already available)</small></li>
            </ul>

        <h4>Industry leading functionality</h4>
        </p>
        <h6><small>Safe and complaint</small></h6>
        <ul>
            <li><small>Fully compliant with ECB legal and safety regulations</small></li>
            <li><small>Deposits garanteed by our partner <a target="_blank" href="http://www.mangopay.com/legal-notices/">Leetchi Corp S.A.</a></small></li>
            <li><small>Encrypted wallets and communications</small></li>
        </ul>
        <h6><small>Flexible payments</small></h6>
        <ul>
            <li><small>'Normal' payments</small></li>
            <li><small>Many-to-many payments, any ratio, mixed currencies</small></li>
            <li><small>Crowd funding and/or crowd payment with one button</small></li>
            <li><small>Payment triggers: button, views, scheduled, threshold</small></li>
        </ul>
        <h6><small>Superior wallets</small></h6>
        <ul>
            <li><small>Multicurrency (EUR/GBP/USD/CHF/SEK/NOK/DKK/PLN)</small></li>
            <li><small>...plus bitcoin (XBC)</small></li>
            <li><small>Genuine IBAN account (per Q1/2014)</small></li>
            <li><small>No account limits</small></li>
            <li><small>Custom virtual currencies</small></li>
            <li><small>Pay in using main credit cards &amp; local means of payment</small></li>
            <li><small>Pay in and pay out using 'normal' bank accounts</small></li>
            <li><small>Pay anyone (on email or URL)</small></li>
        </ul>

        <h6><small>Simple integration</small></h6>
        <ul>
            <li><small>Buttons- and widgets</small></li>
            <li><small>Browser plugin (per Q1/2014)</small></li>
            <li><small>Button generator</small></li>
            <li><small>Scripting language</small></li>
        </ul>

        <h6><small>Powerful API</small></h6>
        <ul>
            <li><small>For mobile, web, tv or other clients</small></li>
            <li><small>RESTful</small></li>
            <li><small>JSON and XML</small></li>
            <li><small>HTTP Basic and digest authentication over SSL</small></li>
        </ul>

        <h4>Crowdsourcing portal</h4>
        <h6><small>Invoicing</small></h6>
        <ul>
            <li><small>Special invoicing workflow to ensure proper invoicing</small></li>
            <li><small>Generates PDF-format invoices automatically</small></li>
            <li><small>Fully international</small></li>
        </ul>
        <h6><small>taskboard</small></h6>
        <ul>
            <li><small>Reputation metrics for workers, platforms and clients</small></li>
            <li><small>Overview of outstanding jobs and tasks></small></li>
            <li><small>Find tasks based on tags, fees, reputation</small></li>
            <li><small>Find communities based on expertise tags</small></li>
            <li><small>Find clients based on tags or fees paid</small></li>
        </ul>
        <h6><small>wallet</small></h6>
            <ul>
                <li><small>Current balances in various currencies</small></li>
                <li><small>Manage and finalize payments</small></li>
                <li><small>Payment history</small></li>
                <li><small>Pay to or from regular bank account</small></li>
                <li><small>Payments by domain/url</small></li>
            </ul>
    </div>

        <div class="well span6 special">
            <h4>Turn your community into a consulting firm</h4>
            <h6><small>Why</small></h6>
            <p><small>The collective potential of the community is often underused. It can be monetized using Question &amp; Answer software, which can facilitate a wide range of processes.</small></p>
            <h6><small>How</small></h6>
            <p><small>Acquire consulting projects and crowdsource them on your website. The points based voting system instantly becomes the basis for the distribution of income within your community.</small></p>
            <h6><small>What</small></h6>
            <p><small>Examples of processes that can be executed with Q&A are research, brainstorm, creation of static content (books, articles, but also logo’s and images), lead generation and decision making..</small></p>
            <br><p><small><a href="" target="_blank" class="btn btn-large btn-success" title="">
            See an example
        </a></small></p>
        </div>

        <div class="well span6 special">
            <h4>Build your software open-source style</h4>
            <h6><small>Why</small></h6>
            <p><small>Software projects can become expensive to manage and good developers are hard to find.</small></p>
            <h6><small>How</small></h6>
            <p><small>Develop software with open source mehodology. Pay software developers in line with the amount of their code that ends up in the end-product.</small></p>
            <h6><small>What</small></h6>
            <p><small>Simply use the Mobbr plugin for your favorite version control software. Let Mobbr use the built-in ranking mechanism in software such as Github to divide the project fee among all developers that contributed.</small></p>
        </div>

        <div class="well span6 special">
            <h4>Crowdsource your helpdesk</h4>
            <h6><small>Why</small></h6>
            <p><small>Helpdesks face the continuous challenge of improving satisfaction targets whilst lowering costs.</small></p>
            <h6><small>How</small></h6>
            <p><small>By simply integrating the Mobbr button those helpdesks can enable crowdsourcing of customer service in a way that is more personal and much more efficient. After all, the crowd never takes a break.</small></p>
            <h6><small>What</small></h6>
            <p><small>Set up a Q&amp;A or open up your existing helpdesk forum to the crowd and use the Mobbr payment button to pledge money to specific questions, categories or tags. In addition, people can reward eachother.</small></p>
        </div>
        <div class="well span6 special">
            <img src="/img/screenshot-wallet.png" width="440" style="border:1px solid #ccc;margin:30px 0" />
        </div>

        <!--<img src="/img/screenshot-settings.png" width="505" style="border:1px solid #ccc;" />-->
</div>

<div class="use-cases row-fluid" style="margin:40px 0">
    <div class="span12 special">
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/f0f598eb" alt="Response time Report for Mobbr API loop: Last 30 days" title="Response time Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
        <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/cac9251f" alt="Uptime Report for Mobbr API loop: Last 30 days" title="Uptime Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
    </div>

</div>
