<div class="container">
    <div class="page-header">
        <h1>
            Features and use-cases<br>
            <small>How to start making money with crowdsourcing</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-5">

            <h4>User friendly integration</h4>

            <h6>general</h6>
            <ul>
                <li>Pre-selection of most suitable open source software</li>
                <li>Easy determination of functional requirements</li>
                <li>Step by step set up manual</li>
                <li>Support community</li>
            </ul>

            <h6>software specific</h6>
            <ul>
                <li>Works with most software that has a reputation or 'karma' system</li>
                <li>Integration possible with most existing crowdsourcing platforms</li>
                <li>Most popular software, like Question2Answer, Mediawiki and vBulletin</li>
                <li>Various group blog suites (usually already available)</li>
            </ul>

            <h4>Industry leading functionality</h4>
            </p>
            <h6>Safe and complaint</h6>
            <ul>
                <li>Fully compliant with ECB legal and safety regulations</li>
                <li>Deposits garanteed by our partner <a target="_blank" href="http://www.mangopay.com/legal-notices/">Leetchi Corp S.A.</a></li>
                <li>Encrypted wallets and communications</li>
            </ul>
            <h6>Flexible payments</h6>
            <ul>
                <li>'Normal' payments</li>
                <li>Many-to-many payments, any ratio, mixed currencies</li>
                <li>Crowd funding and/or crowd payment with one button</li>
                <li>Payment triggers: button, views, scheduled, threshold</li>
            </ul>
            <h6>Superior wallets</h6>
            <ul>
                <li>Multicurrency (EUR/GBP/USD/CHF/SEK/NOK/DKK/PLN)</li>
                <li>...plus bitcoin (XBC)</li>
                <li>Genuine IBAN account (per Q1/2014)</li>
                <li>No account limits</li>
                <li>Custom virtual currencies</li>
                <li>Pay in using main credit cards &amp; local means of payment</li>
                <li>Pay in and pay out using 'normal' bank accounts</li>
                <li>Pay anyone (on email or URL)</li>
            </ul>

            <h6>Simple integration</h6>
            <ul>
                <li>Buttons- and widgets</li>
                <li>Browser plugin (per Q1/2014)</li>
                <li>Button generator</li>
                <li>Scripting language</li>
            </ul>

            <h6>Powerful API</h6>
            <ul>
                <li>For mobile, web, tv or other clients</li>
                <li>RESTful</li>
                <li>JSON and XML</li>
                <li>HTTP Basic and digest authentication over SSL</li>
            </ul>
            <h4>Crowdsourcing portal</h4>
            <h6>Invoicing</h6>
            <ul>
                <li>Special invoicing workflow to ensure proper invoicing</li>
                <li>Generates PDF-format invoices automatically</li>
                <li>Fully international</li>
            </ul>
            <h6>taskboard</h6>
            <ul>
                <li>Reputation metrics for workers, platforms and clients</li>
                <li>Overview of outstanding jobs and tasks></li>
                <li>Find tasks based on tags, fees, reputation</li>
                <li>Find communities based on expertise tags</li>
                <li>Find clients based on tags or fees paid</li>
            </ul>
            <h6>wallet</h6>
            <ul>
                <li>Current balances in various currencies</li>
                <li>Manage and finalize payments</li>
                <li>Payment history</li>
                <li>Pay to or from regular bank account</li>
                <li>Payments by domain/url</li>
            </ul>
            <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/f0f598eb" alt="Response time Report for Mobbr API loop: Last 30 days" title="Response time Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
            <a href="http://www.pingdom.com"><img style="margin-left:20px" src="https://share.pingdom.com/banners/cac9251f" alt="Uptime Report for Mobbr API loop: Last 30 days" title="Uptime Report for Mobbr API loop: Last 30 days" width="300" height="165" /></a>
        </div>

        <div class="col-md-7">
            <div class="well">
                <h4>Turn your community into a consulting firm</h4>
                <h6>Why</h6>
                <p>The collective potential of the community is often underused. It can be monetized using Question &amp; Answer software, which can facilitate a wide range of processes.</p>
                <h6>How</h6>
                <p>Acquire consulting projects and crowdsource them on your website. The points based voting system instantly becomes the basis for the distribution of income within your community.</p>
                <h6>What</h6>
                <p>Examples of processes that can be executed with Q&A are research, brainstorm, creation of static content (books, articles, but also logo’s and images), lead generation and decision making..</p>
                <br><p><a href="" target="_blank" class="btn btn-large btn-success" title="">
                See an example
            </a></p>
            </div>

            <div class="well">
                <h4>Build your software open-source style</h4>
                <h6>Why</h6>
                <p>Software projects can become expensive to manage and good developers are hard to find.</p>
                <h6>How</h6>
                <p>Develop software with open source mehodology. Pay software developers in line with the amount of their code that ends up in the end-product.</p>
                <h6>What</h6>
                <p>Simply use the Mobbr plugin for your favorite version control software. Let Mobbr use the built-in ranking mechanism in software such as Github to divide the project fee among all developers that contributed.</p>
            </div>

            <div class="well">
                <h4>Crowdsource your helpdesk</h4>
                <h6>Why</h6>
                <p>Helpdesks face the continuous challenge of improving satisfaction targets whilst lowering costs.</p>
                <h6>How</h6>
                <p>By simply integrating the Mobbr button those helpdesks can enable crowdsourcing of customer service in a way that is more personal and much more efficient. After all, the crowd never takes a break.</p>
                <h6>What</h6>
                <p>Set up a Q&amp;A or open up your existing helpdesk forum to the crowd and use the Mobbr payment button to pledge money to specific questions, categories or tags. In addition, people can reward eachother.</p>
            </div>
            <div class="well">
                <img src="/img/screenshot-wallet.png" width="440" style="border:1px solid #ccc;margin:30px 0" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 special">
             </div>

    </div>
</div>
