<div class="row top-bar">
	<div class="container">
		<div class="row left-pad">
			<div class="col-md-3">
				<h1>Exchange Rates</h1>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Base Currency</th>
						<th class="text-center">Currency</th>
						<th>Description</th>
						<th>Exchange Rate</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="currency in currencies.result">
						<td ng-bind="currency.base_currency_iso"></td>
						<td class="text-center" ng-bind="currency.currency_iso"></td>
						<td ng-bind="currency.description"></td>
						<td ng-bind="currency.exchange_rate"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>