<div class="page-header">
    <h1>Create button &lt;embed&gt; code for your website<br><small>Go <a href="##/integration?scrollTo=domain">here</a> for the one minute catch-all or <a href="#/buttons">here</a> for advanced options</small></h1>
</div>

<accordion class="generate-button" close-others="false">
    <accordion-group heading="1/6: Choose button" is-open="step() >= 1" is-active="step() >= 1">

        <div class="span2 button-type" ng-repeat="button in buttons">
            <input id="{{button.name}}" type="radio" ng-model="form.button" value="{{button.function}}" name="{{button.name}}">
            <label for="{{button.name}}">
                <span ng-show="!button.url" ng-bind="button.name"></span>
                <img alt="button.name" ng-src="{{button.url}}" ng-show="button.url">
            </label>
        </div>

    </accordion-group>
    <accordion-group class="" heading="2/6: Enter URL" is-open="step() >= 2" is-active="step() >= 2">

        <form class="form-horizontal control-group" ng-submit="retrieveUrl()">
            <div class="control-label">
                <label for="url">Enter 'mobbr.com' to see an example</label>
            </div>

            <div class="controls">
                <div class="input-append">
                    <input type="text" id="url" placeholder="http://" ng-model="form.url">
                    <a class="btn" ng-click="retrieveUrl()">Check url <i class="icon-white mobbrloader" ng-show="workingRetrieveUrl"></i></a>
                </div>
            </div>
        </form>

    </accordion-group>
    <accordion-group heading="3/6: Enter description" is-open="step() >= 3" is-active="step() >= 3">

        <form class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    <label for="title_input">Title</label>
                </div>

                <div class="controls">
                    <input class="input-xxlarge" id="title_input" ng-model="form.title" type="text" rel="can_hide" name="title" ng-disabled="detectTitle">
                    <span class="help-inline">
                        <input type="checkbox" ng-model="detectTitle" name="title_auto_detect" ng-change="detectTitleChanged()">
                        Use page title
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="description_textarea">Description</label>
                </div>

                <div class="controls">
                    <textarea class="input-xxlarge" id="description_textarea" rel="can_hide" cols="50" rows="5" name="description" ng-model="form.description" ng-disabled="detectDescription"></textarea>
                    <span class="help-inline">
                        <input type="checkbox" name="description_auto_detect" ng-model="detectDescription" ng-change="detectDescriptionChanged()" >
                        Use page description
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="copyright">License (link to copyright/license definition)</label>
                </div>

                <div class="controls">
                    <input class="input-xxlarge" id="copyright" type="text" placeholder="http://" rel="can_hide" name="copyright" ng-model="form.copyright">
                    <span class="help-inline">optional</span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="language_select">Language</label>
                </div>

                <div class="controls">
                    <select class="input-xxlarge" id="language_select" rel="can_hide" name="language" ng-model="form.language" ng-options="value as key for (value,key ) in languagesMap"></select>
                    <span class="help-inline">optional</span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="image_input">Image (link to image file)</label>
                </div>

                <div class="controls">
                    <input class="input-xxlarge" id="image_input" type="text" placeholder="http://" rel="can_hide" name="image" ng-model="form.image">
                    <span class="help-inline">optional</span>
                </div>
            </div>
        </form>

    </accordion-group>
    <accordion-group heading="4/6: Add participants" is-open="step() >= 3" is-active="step() >= 3">

        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <label for="show_json_box">
                        <input id="show_json_box" type="checkbox" ng-model="form.showScriptWhileEditing">
                        Show Mobbr script while editing (expert-only)
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="id_base">ID-base</label>
                </div>
                <div class="controls">
                    <input id="id_base" type="text" rel="can_hide" name="id_base" ng-model="form.idBase">
                    <span class="help-inline">expert-only, otherwise leave as is</span>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <label for="id_base">Participants</label>
                </div>
                <div class="controls">
                    <table class="participants table">
                        <thead>
                            <tr>
                                <th title="The Mobbr username of the participant, or his/her email, gravatar profile URL or BTC address">
                                    User ID<br>
                                    <small>Username / email / gravatar profile</small>
                                </th>
                                <th title="Enter free text describing the participants role in the collaboration">
                                    Role / function<br>
                                    <small>Free text</small>
                                </th>
                                <th title="Enter a percentage or a relative share (an integer)">
                                    Share<br>
                                    <small>% or positive int.</small>
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="contributor in form.contributors">
                                <td>
                                    <input class="input-medium" id="user_search" ng-model="contributor.id" type="text" autocomplete="off" placeholder="e.g. 'Patrick'">
                                </td>
                                <td>
                                    <input class="input-medium" id="user_role" ng-model="contributor.role" type="text" name="user_role" placeholder="e.g. 'photographer'">
                                </td>
                                <td>
                                    <input class="input-small" id="user_share" ng-model="contributor.share" type="text" name="user_share" placeholder="e.g. '2'">
                                </td>
                                <td>
                                    <button id="remove_user" class="btn btn-danger" ng-click="remove_contributeur($index);"><i class="icon-white icon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button id="new_user_button" class="btn btn-success" ng-click="add_new_contributor();"><i class="icon-white icon-user"></i> Add</button>
                </div>

                <div id="json_generator" class="json-generator control-group" ng-show="form.showScriptWhileEditing">
                    <div class="control-label">
                        <label for="id_base">Script that will be generated. Pages are configured using <a href="#/buttons">CPR-scripts</a>,
                            see <a href="/protocol.html" target="_blank">defintion</a>, CPR is based on <a href="http://www.json.org/" target="_blank">JSON language</a>)</label>
                    </div>
                    <div class="controls">
                        <pre id="json" ng-bind-html-unsafe="generateContributeurJsonFormatted()" class="prettyprint pre-scrollable"></pre>
                    </div>
                </div>
            </div>
        </form>

    </accordion-group>
    <accordion-group heading="5/6: Generate script" is-open="step() >= 5" is-active="step() >= 5">

        <form class="form-horizontal">
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" ng-click="chooseConfiguration('json')">Inline script</button>
                    <span class="help-inline">
                        script placed inside your pages: &lt;meta ...&gt;
                    </span>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" ng-click="chooseConfiguration('mobbr')" ng-disabled="!userSession.authenticated">Generate script link</button>
                    <span class="help-inline">
                        script on our servers, linked from your pages: &lt;link ...&gt;
                    </span>
                    <span class="help-inline" ng-hide="userSession.authenticated">
                        (Login to choose this)
                    </span>
                </div>
            </div>
        </form>

    </accordion-group>
    <accordion-group heading="6/6: Grab embed script" is-open="step() >= 6" is-active="step() >= 6">

        <form class="form-horizontal">
            <div class="control-group" ng-show="mobbrConfiguration == 'json'">
                <div class="control-label">
                    Copy-paste this code in &lt;head&gt; section of HTML-page
                </div>
                <div id="html_metatag_view" class="controls">
                    <pre class="prettify pre-scrollable" id="html_metatag_view_area" ng-bind="generateMetaScript()"></pre>
                </div>
            </div>

            <div class="control-group" ng-show="mobbrConfiguration == 'mobbr'">
                <div class="control-label">
                    Copy-paste this code in &lt;head&gt; section of HTML-page
                </div>
                <div id="html_header_view" class="controls">
                    <pre class="prettify" id="html_header_view_area" ng-bind="generatedHeaderLink"></pre>
                </div>
            </div>

            <div class="control-group" ng-show="form.button != '[NO_BUTTON]'">
                <div class="control-label">
                    Copy-paste this code on your HTML-page where the button needs to be visible.
                </div>
                <div class="controls">

                    <pre class="prettify pre-scrollable" ng-bind="generateButtonScript()"></pre>

                </div>
            </div>
        </form>

    </accordion-group>
</accordion>