<div class="row top-info filter" ng-show="task.$resolved && !no_script">
    <div class="container">
        <div class="row">
            <fieldset ng-disabled="persons && persons.length == 0" class="form-horizontal form-group">
                <div class="col-md-3 title">
                    <span class="mobbricon mobbricon-crowd"></span>
                    <strong>My future team</strong>
                </div>
                <div class="col-md-9 text-right">
                    <span ng-show="mobbrSession.isAuthorized() && selectedPersons && selectedPersons.length == 0" class="btn btn-link">Select people to invite for this task</span>
                    <span ng-show="!mobbrSession.isAuthorized() && selectedPersons && selectedPersons.length == 0" class="btn btn-link">Login to find your workforce</span>
                    <img ng-repeat="person in selectedPersons"
                         ng-src="https://secure.gravatar.com/avatar/{{ person['gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar2.png"
                         width="40"
                         height="40"
                         ng-click="removePerson(person)"
                         title="{{ person.username }}">
                    <button class="btn btn-danger" ng-click="removePerson()" ng-show="selectedPersons.length > 0">
                        Clear invites
                        <span class="mobbricon mobbricon-hardclose"></span>
                    </button>
                    <button class="btn btn-success" ng-click="invitePeople()" ng-show="selectedPersons.length > 0">
                        Invite these people
                        <span class="mobbricon mobbricon-crowd"></span>
                    </button>
                </div>
            </fieldset>
        </div>

        <div class="row" ng-show="mobbrSession.isAuthorized()">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="mobbricon mobbricon-person"></span>
                        </span>
                        <input type="text" class="form-control" placeholder="Invite by username, email address or ID" ng-model="invitee_id">
                        <span class="input-group-btn" ng-show="invitee_id">
                            <button type="submit" class="btn btn-primary" ng-click="addPerson({username: invitee_id, selected: true, gravatar: 'https://mobbr.com/img/default-gravatar2.png'});invitee_id='';">Add to List</button>
                        </span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<smart-tags filtered-tags="filteredTags"
            suggested-tags="suggestedTags"
            limiter="tagsLimiter"
            initial-limit="tagsInitialLimit"
            query-tags="queryTags"></smart-tags>

<div class="row top-info filter" ng-show="task.$resolved && no_script">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span ng-show="selectedPersons && selectedPersons.length == 0"><span class="mobbricon mobbricon-hardalert"></span> This page has no Mobbr support button</span>
            </div>
            <div class="col-md-3">
                <a ui-sref="task({ task: $state.params.task })" class="btn btn-primary btn-block">Prepare page</a>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div ng-class="{ loading: personPromise && !personPromise.$resolved }" class="row data-cards data-cards-persons">
        <div ng-repeat="person in persons | filter:filterUser as filteredPersons"
             class="col-md-3 col-sm-4 col-xs-12 data-card-container">
            <div class="data-card person-card"
                 ng-class="{ 'data-card-highlight': person.match_percentage > 90, anonymised: person.username === '<anonymised>' }"
                 ng-init="person.selected = person.selected || false">
                <div class="checkbox" ng-show="activeQuery && mobbrSession.isAuthorized()" ng-class="{ selected: person.selected }">
                    <label>
                        <input type="checkbox" ng-model="person.selected" ng-change="activeQuery && addPerson(person)">
                        Invite for this task
                    </label>
                </div>
                <a ui-sref="{{ person.username !== '<anonymised>' && 'person({ username: person.username })' }}">
                    <div class="top">
                        <div class="clearfix">
                            <img ng-src="https://secure.gravatar.com/avatar/{{ person['gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar2.png"
                                 width="50"
                                 height="50"
                                 class="pull-left">
                            <h3 ng-bind="person.username"></h3>
                            <span ng-show="person.verified_identity == '1'">Verified</span>
                            <span ng-show="person.invoicable == '1'">Invoicable</span>
                        </div>
                        <p class="clearfix">
                            Active since<br>
                            <time ng-bind="person.registerdatetime | amDateFormat : 'DD-MM-YYYY HH:MM'"></time>
                        </p>

                        <ul class="list-unstyled">
                            <li ng-repeat="role in person.role">
                                <strong ng-bind="role"></strong>
                            </li>
                        </ul>
                    </div>

                    <div class="bottom">
                        <div class="item large participants">
                            <span ng-bind="person.match_percentage + '%'"></span>
                            <span class="mobbricon mobbricon-tag"></span>
                        </div>
                        <div class="item large tasks">
                            <span ng-bind="person.num_participated_tasks"></span>
                            <span class="mobbricon mobbricon-digger"></span>
                        </div>
                        <div class="item large">
                            <span ng-bind="person.num_participated_domains"></span>
                            <span class="mobbricon mobbricon-domain"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!--<div class="col-md-12 text-center" ng-show="task === undefined">
            <h2><em>Enter any URL to find your workforce...</em></h2>
        </div>-->
        <div class="col-md-12 text-center" ng-show="task && !task.$resolved || personPromise && !personPromise.$resolved">
            <h2><em>Finding your workforce...</em></h2>
        </div>
        <div class="col-md-12 text-center" ng-show="personPromise.$resolved && personPromise.result.length == 0">
            <h2><em>No workforce found...</em></h2>
        </div>
    </div>
    <div class="row more-bar">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block"
                    ng-show="personPromise && personPromise.$resolved"
                    ng-bind="personPromise && !personPromise.$resolved && 'Loading more results' || persons && persons.length < limiter && 'The end' || 'Show more results'"
                    ng-disabled="persons.length < limiter"
                    ng-click="queryPeople(limiter + initial_limit)"></button>
        </div>
    </div>
</div>
