<div>
    <dl class="contractor">
        <dt>Username</dt>
        <dd ng-bind="invoice.contractor"></dd>
        <dt>Name</dt>
        <dd ng-bind="invoice.firstname + ' ' + invoice.lastname"></dd>
        <dt>Address</dt>
        <dd ng-bind="invoice.address"></dd>
        <dt>Country</dt>
        <dd ng-bind="invoice.country_of_residence"></dd>
    </dl>

    <dl class="sourcer" style="text-align: right;">
        <dt>Username</dt>
        <dd ng-bind="userSession.user.username"></dd>
        <dt>Name</dt>
        <dd ng-bind="userSession.user.firstname + ' ' + userSession.user.lastname"></dd>
        <dt>Address</dt>
        <dd ng-bind="userSession.user.address"></dd>
        <dt>Country</dt>
        <dd ng-bind="userSession.user.country_of_residence"></dd>
    </dl>

    <dl class="data">
        <dt class="number">Invoice ID</dt>
        <dd ng-bind="invoice.invoice_id"></dd>
        <dt class="date">Invoice date</dt>
        <dd ng-bind="invoice.paiddatetime"></dd>
    </dl>

    <div class="details">
        <h1 ng-bind="invoice.description" class="title"></h1>
        <h2 ng-bind="invoice.uri" class="url"></h2>
        <dl class="info">
            <dt class="number">Roles</dt>
            <dd ng-bind="invoice.roles"></dd>
        </dl>
    </div>

    <dl class="contractor">
        <dt>Subtotal</dt>
        <dd ng-bind="invoice.subtotal"></dd>
        <dt>VAT</dt>
        <dd ng-bind="invoice.vat"></dd>
        <dt>Total</dt>
        <dd ng-bind="invoice.amount"></dd>
    </dl>
</div>