<div class="row">
    <div class="col-md-3 sidebar-left">
        <h1>Invoicing</h1>
        <h6>Sourcing</h6>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('invoicing.sourcing_request') }">
                <a ng-href="/#/invoicing/sourcing/request"
                   ng-mouseenter="hover = 'invoicing.sourcing_request'"
                   ng-mouseleave="hover = false">
                    Request purchase invoices
                    <span class='badge pull-right'></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('invoicing.sourcing_pending')}">
                <a ng-href="/#/invoicing/sourcing/pending"
                   ng-mouseenter="hover = 'invoicing.sourcing_pending'"
                   ng-mouseleave="hover = false">
                    Pending purchase invoices
                    <span class='badge pull-right'></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('invoicing.sourcing_download') }">
                <a ng-href="/#/invoicing/sourcing/download"
                   ng-mouseenter="hover = 'invoicing.sourcing_download'"
                   ng-mouseleave="hover = false">
                    Download purchase invoices
                    <span class='badge pull-right'></span>
                </a>
            </li>
        </ul>
        <h6>Working</h6>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('invoicing.working_confirm') }">
                <a ng-href="/#/invoicing/working/confirm"
                   ng-mouseenter="hover = 'invoicing.working_confirm'"
                   ng-mouseleave="hover = false">
                    Confirm sales invoices
                    <span class='badge pull-right'></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('invoicing.working_download') }">
                <a ng-href="/#/invoicing/working/download"
                   ng-mouseenter="hover = 'invoicing.working_download'"
                   ng-mouseleave="hover = false">
                    Download sales invoices
                    <span class='badge pull-right'></span>
                </a>
            </li>
        </ul>
        <alert ng-show="hover == 'invoicing.sourcing_request' || !hover && $state.current.name == 'invoicing.sourcing_request'">
            Ask your crowdworkers for an invoice. They have 30 days to verify their data.
            After 30 days we either generate the invoice on their behalf or refund the payment.
        </alert>
        <alert ng-show="hover == 'invoicing.sourcing_download' || !hover && $state.current.name == 'invoicing.sourcing_download'">
            Your invoices. We generated these on behalf of your crowdworkers.
        </alert>
        <alert ng-show="hover == 'invoicing.sourcing_pledged' || !hover && $state.current.name == 'invoicing.sourcing_pledged'">
            Tasks to which you pledged or paid. Pledges can be revoked but every currently listed participant to the taks will be notified which can hurt your reputation.
        </alert>
        <alert ng-show="hover == 'invoicing.sourcing_workers' || !hover && $state.current.name == 'invoicing.sourcing_workers'">
            People who worked on your tasks.
        </alert>
        <alert ng-show="hover == 'invoicing.working_confirm' || !hover && $state.current.name == 'invoicing.working_confirm'">
            Confirm the data on the invoices your clients request. After 30 days if possible an invoice using your default data will be generated else the payment will be refunded.</alert>
        <alert ng-show="hover == 'invoicing.working_download' || !hover && $state.current.name == 'invoicing.working_download'">
            Your invoices. We generated these on request of your clients.
        </alert>
    </div>
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="row">

                <fieldset class="col-md-5 toolbar" ng-if="buttonAction">
                    <button class="btn"
                            ng-click="buttonAction(selectedIds, selectedItems, invoiceTable)"
                            ng-disabled="selectedIds.length == 0">
                        <i class="glyphicon mobbrloader" ng-show="waiting"></i>
                        <span ng-bind="buttonText"></span>
                    </button>
                </fieldset>

                <fieldset class="col-md-7 toolbar pull-right">
                    <div class="col-md-5">
                        <div class="pull-right">
                            <label class="control-label">Group by</label>
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn dropdown-toggle">
                                    <span ng-bind="labels[groupby] || groupby"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="group in groups"><a ng-click="$parent.groupby = group" ng-bind="labels[group] || group"></a></li>
                                    <li><a ng-click="groupby = 'null'">None</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <input ng-model="invoiceTable.$params.filter" placeholder="Search" class="form-control search-query" type="search" id="search">
                    </div>
                </fieldset>

                <div class="col-md-12" ng-if="items.length == 0">
                    <alert class="col-md-12" ng-bind="empty_message"></alert>
                </div>

                <div class="col-md-12">
                    <table ng-table="invoiceTable" ng-show="items.length > 0" show-filter="true" class="mobbrtable table table-striped table-checkbox">
                        <thead>
                        <tr>
                            <th class="check-box"><input id="{{ selectallid }}" type="checkbox" ng-model="$parent.$parent.select_all"></th>
                            <th ng-repeat="column in columns"
                                class="sortable"
                                ng-class="{
                                    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                    'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                }"
                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                {{ labels[column] || column }}
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="group in $groups">
                        <tr class="ng-table-group" ng-show="group.value">
                            <td colspan="{{ columns.length + 1 }}">
                                <div ng-click="group.$hideRows = !group.$hideRows">
                                    <span ng-class="{ 'icon-chevron-right': group.$hideRows, 'icon-chevron-down': !group.$hideRows }"></span>
                                    <span ng-bind="group.value"></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-hide="group.$hideRows" ng-repeat="item in group.data">
                            <td class="check-box">
                                <input type="checkbox" ng-model="checkboxes.items[item.id]" />
                            </td>
                            <td ng-repeat="column in columns" ng-switch on="column" class="{{ column }}" ng-click="clickRow(item)" data-title="'Poepkop'">
                                <img ng-switch-when="gravatar"
                                     ng-src="https://secure.gravatar.com/avatar/{{ item[column] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                                     class="gravatar xsmall img-rounded"
                                     width="20"
                                     height="20">
                                <time ng-switch-when="datetime"
                                      datetime="{{ item[column] }}">
                                    <small>{{ item[column] }}</small>
                                </time>
                                <span ng-switch-when="currency" ng-bind="item['currency'] || item['currency_iso'] || $mobbrStorage.user.currency_iso"></span>
                                <span ng-switch-when="amount"
                                      ng-bind="item[column] | mobbrcurrency"
                                      ng-class="{ 'text-danger': item.amount < 0 }"
                                      class="nowrap"></span>
                                <span ng-switch-default ng-bind="item[column]"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>