<div class="page-header">
    <h1>Join Mobbr<br><small>Choose your username with care, it can never be changed. Ever.</small></h1>
</div>

<iframe style="width: 100%;" class="eula" src="{{ api_url }}/mobbr-terms-of-use.txt"></iframe>

<form style="" user-register name="register" class="form-horizontal">

    <div style="padding-bottom: 25px; margin-bottom: 20px; border-bottom: 1px solid #009ee0; ">
        <label class="checkbox">
            <input type="checkbox" ng-model="accept_eula">
            I accept the terms
        </label>
    </div>

    <!-- TODO: correct styling -->
    <div class="control-group">
        <div class="control-label">
            <label for="username">Username</label>
        </div>
        <div class="controls">
            <input type="text" ng-model="username" placeholder="username" id="username">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="email">Email</label>
        </div>
        <div class="controls">
            <input ng-model="email" type="email" name="email" placeholder="email" required id="email">
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <label for="password">Password</label>
        </div>
        <div class="controls">
            <input ng-model="password" id="password" type="password" required placeholder="password">
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
           <label for="password_control">Confirm password</label>
        </div>
        <div class="controls">
            <input ng-model="password_control" id="password_control" type="password" required placeholder="confirm password">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button ng-click="register()" class="btn btn-primary" type="submit" ng-disabled="!accept_eula || waiting"><i class="icon-white mobbrloader" ng-show="waiting"></i> Join</button>
        </div>
    </div>
</form>
