<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-3">
                <h1>Register</h1>
            </div>
        </div>
    </div>
</div>

<div class="row page-white">
    <div class="container">
        <div class="row">
            <form name="register" class="form-horizontal" ng-submit="registerUser(username, email, password, password_control)">

                <div class="row">
                    <div class="eula col-md-10 col-md-offset-2">
                        <iframe src="https://api.mobbr.com/mobbr-terms-of-use.txt"></iframe>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="accept_eula" required>
                                I accept the Mobbr terms and conditions
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-md-2" for="username">Username</label>
                    <div class="col-md-10">
                        <input class="form-control"
                               ng-model="username"
                               name="username"
                               type="text"
                               id="username"
                               placeholder="e.g. _super-man_"
                               required>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-md-2" for="email">Email</label>
                    <div class="col-md-10">
                        <input class="form-control"
                               ng-model="email"
                               name="email"
                               type="email"
                               id="email"
                               placeholder="e.g. _super-man_"
                               required>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-md-2" for="password">Password</label>
                    <div class="col-md-10">
                        <input class="form-control"
                               ng-model="password"
                               name="password"
                               type="password"
                               id="password"
                               placeholder="min. 8 alfanum positions"
                               required
                               ng-pattern="/^.*(?=.{8,})(?=.*\d)(?=.*[a-z]).*$/">
                            <span class="info-box" ng-show="register.password.$dirty && register.password.$invalid">
                                <span class="mobbricon mobbricon-softalert"></span> Minimal 8 characters, use uppercase, lowercase and numbers
                            </span>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-md-2" for="password_control">Confirm password</label>
                    <div class="col-md-10">
                        <input class="form-control"
                               ng-model="password_control"
                               name="password_control"
                               type="password"
                               id="password_control"
                               placeholder="min. 8 alfanum positions"
                               pw-check="password"
                               required
                               ng-pattern="/^.*(?=.{8,})(?=.*\d)(?=.*[a-z]).*$/">
                        <span class="info-box" ng-show="register.password_control.$dirty && register.password_control.$invalid">
                            <span class="mobbricon mobbricon-softalert"></span> Make sure the passwords match
                        </span>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div class="col-md-offset-9 col-md-3">
                        <button type="submit"
                                class="btn btn-block btn-call"
                                ng-disabled="waiting">
                            Register me now
                            <span class="pull-right mobbricon mobbricon-starttask"></span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
