<div class="page-header">
    <h1>Identify yourself<br><small>Will reconnect if email address matches existing Mobbr account</small></h1>
</div>

<div>
    <div class="well span6">
        <h6><small>Use social network to identify yourself</small></h6>
        <div class="btn-group">
            <a href="/oauth/facebook" class="btn"><i class="icon-white"><img src="/img/facebook_20.gif"></i></a>
            <a href="/oauth/google" class="btn"><i class="icon-white"><img src="/img/google_20.png"></i></a>
            <a href="/oauth/github" class="btn"><i class="icon-white"><img src="/img/github_icon.png"></i></a>
        </div>
    </div>

    <div class="well span6" ng-include src="'views/identify-email.html'"></div>
</div>