<div class="row-fluid" style="margin-bottom: 24px;">
    <div class="container bookmarklet text-right">
        <small>Drag this button to your bookmark bar to reward any url&nbsp;&nbsp;</small>
        <a class="home-button"
           href="javascript: (function () { var s = document.createElement('script'); s.setAttribute('src', 'https://mobbr.com/scripts/bookmarklet.js'); document.body.appendChild(s); }());">
            <small>Mobbr now!</small>
        </a>
    </div>
</div>

<div class="row-fluid page-header" style="margin-bottom: 60px; padding-bottom: 30px;">
    <div class="span8">
        <div class="hero-unit">
            <h1 style="margin-top: 90px;">Start rewarding your community with bitcoin, real or virtual money</h1>
            <p class="lead">
                Welcome to MOBBR, crowdpayments and revenue sharing
            </p>
            <p>
                <a href="#/join" class="btn btn-success btn-large join" title="Joining is free, you get a free budget of 100 'Mobbrs' so you can try all functionality.">
                    Join now
                </a>

                <a href="#/claimpayment" class="btn btn-large btn-link" title="Mobbr allows people to send money to any URL or email address, also to yours">
                    Did you already receive?
                </a>
                <a href="#/generatebutton" class="btn btn-large btn-link" title="A Mobbr button is the only thing you need to reward your crowdworkers, authors or members">
                    Create your button
                </a>
            </p>
        </div>
    </div>
    <div class="span4">
        <div class="well special introtext" style="margin-top: 22px;">
            <p style="padding-top: 66px; padding-bottom: 40px">
                In the future people will increasingly earn their money through online crowd-sourcing. An any-time any-place economy will emerge.
                Lets start this new economy now by first making every online participator rewardable. Actually, we find it strange that this is not already the case.
                Help us make this happen by adding the Mobbr button to your site.
            </p>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 50px; line-height: 64px;">

    <div class="span2 button-type" style="margin-left: 80px;">
        <mobbrbutton size="medium" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type">
        <mobbrbutton size="large" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type">
        <mobbrbutton size="slim" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type ng-scope">
        <mobbrbutton size="small" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type ng-scope" style="margin-right: 80px;">
        <mobbrbutton size="flat" url="https://mobbr.com"></mobbrbutton>
    </div>
</div>

<div class="row-fluid" style="padding-bottom: 30px;">
    <div class="well special clearfix" style="margin-top: 20px; background-color: #fff;">
        <div class="span4">
            <h3 style="margin-top: 0; line-height: 1em;">1. Define your crowdsourcing</h3>
            <ul>
                <li>Decide which crowd or community you want to involve with your business</li>
                <li>Think about how this crowd or community can work for you</li>
                <li>Determine which participation types should be rewarded</li>
                <li>Identify possible money streams</li>
            </ul>
        </div>
        <div class="span4">
            <h3 style="margin-top: 0; line-height: 1em;">2. Create the reward plan</h3>
            <ul>
                <li>Define a static or dynamic ratio that Mobbr should use to distribute rewards</li>
                <li>Place a Mobbr button for every person or group you want to make rewardable</li>
                <li>Publish a leaderboard or ranking for content and contributors, for transparency and motivation</li>
            </ul>
        </div>
        <div class="span4">
            <h3 style="margin-top: 0; line-height: 1em;">3. Let the rewarding begin</h3>
            <ul>
                <li>Explain your community, advertisers and partners how it works</li>
                <li>Let your users donate or pay eachother</li>
                <li>Let your advertisers or partners reward you and your community direcly</li>
                <li>Regurlay pay parts of any income stream on the buttons to create a positive feedback loop</li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 35px;">
    <p class="lead" style="padding: 0 50px;">
        &quot;Rewarding participation takes crowdsourcing to its next
        level, ultimately creating a reliable and steerable anytime anyplace workforce of
        billions. Together we start a new economy that benefits everybody.&quot;
    </p>
</div>

<div class="row-fluid" style="padding-bottom: 30px;">
    <div class="well special clearfix" style="margin-top: 20px; background-color: #fff;">
        <div class="span4">
            <h3 style="margin-top: 0; line-height: 1em;">Consider the benefits</h3>
            <ul>
                <li>Expand your community</li>
                <li>Explore new sources of income</li>
                <li>Make participation steerable</li>
                <li>Use the benefits of social collaboration</li>
                <li>Anticipate the social economy</li>
                <li>...just to be fair</li>
            </ul>
        </div>
        <div class="span8">
            <h3 style="margin-top: 0; line-height: 1em;">Examples of when to use Mobbr</h3>
            <ul>
                <li>User-generated content or multi-author website: make your team and contributors rewardable</li>
                <li>Crowdsourced innovation: co-create new products with your community</li>
                <li>Community activation: reward participation</li>
                <li>The helpdesk: reward users helping other users</li>
                <li>The corporate social platform: pay salary based on participation levels</li>
                <li>The loyalty program: use your own virtual currency for any of the above</li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 55px;">
    <p class="lead" style="padding: 0 50px;">
        &quot;Payment system for network economics.<br> One button pays them all. Any number, any ratio.&quot;
    </p>
</div>

<div class="row-fluid" style="padding-bottom: 45px;">
    <div class="well special clearfix" style="background-color: #fff;">
        <div class="span1"></div>
        <div class="span7">
            <h3 style="margin-top: 0; line-height: 1em;">Integration</h3>
        </div>
        <div class="span4">
            <p><a href="#/buttons?scrollTo=domain" class="btn" style="width: 168px;" title="Place a /participation.txt file to enable Mobbr on all your pages with just a few lines of script. This is the 'just in case' option.">The 1-minute just-in-case</a></p>
            <p><a href="#/buttons" class="btn" style="width: 168px;" title="Place invisible metadata that Mobbr can use in your pages. Optionally place buttons to allow user to use Mobbr directly from the pages.">Mobbrize your pages</a></p>
            <p><a href="#/siteconnector" class="btn" style="width: 168px;" title="Connect your entire site to Mobbr at once without having to register your users or compromis their privacy.">Connect your userbase</a></p>
        </div>
        <img src="/images/2013_0706_MOBBR_V4.jpg" style="padding-top:50px;"/>
    </div>
</div>

<div class="row-fluid" style="padding-bottom: 45px;">
    <div class="well special clearfix" style="background-color: #fff;">
        <div class="span6" style="height: 180px; overflow: scroll; overflow-y: scroll; overflow-x: hidden;" ng-controller="apiController">
            <table class="apitable" width="100%" style="font-size: .8em;">
                <tbody>

                    <tr ng-repeat="apiCall in apiCalls">
                         <td ng-bind="apiCall.type"></td>
                         <td ng-bind="apiCall.endpoint"></td>
                         <td>
                             <span ng-repeat="param in apiCall.parameter">
                                {{param.name }}<span ng-show="!$last">, </span>
                             </span>

                         </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="span6">
            <h3 style="margin-top: 0; line-height: 1em;">RESTful API</h3>
            <p>Build your own Mobbr client or website using our API. You can use our web application (you're looking at it) to start with, it's open source.</p>
            <p><a href="https://api.mobbr.com" target="_blank" class="btn" title="Our API has its own website, visit it for details">Go to API site</a></p>
        </div>
    </div>
</div>

<h1 class="bottomline">We are MOBBR, nice to meet you</h1>
<h3 style="margin-top: 0; line-height: 1em;">For inquiries <a href="mailto:&#112;&#097;&#116;&#114;&#105;&#099;&#107;&#064;&#109;&#111;&#098;&#098;&#114;&#046;&#099;&#111;&#109;">email</a> us, or call +31629567016</h3>
