<div class="row top-bar query-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Pay and get paid for tasks anywhere on the web</h1>
            </div>
        </div>
        <div class="row pusher">
            <div class="col-md-12">
                <mobbr-smart-url-box active-query="activeQuery"
                                     url-type="{{ $state.includes('box.crowds') && 'CROWDS' || $state.includes('box.tasks') && 'TASKS' || $state.includes('box.person') && 'PROFILE' || 'TASK' }}"
                                     query="query"
                                     user="$mobbrStorage.user.username"></mobbr-smart-url-box>
            </div>
        </div>
    </div>
</div>
<div class="row line">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                Create a task [or collaboration] on any website and paste the link in the Mobbr box above.<br>
                Pledge money and ask the online mob to do the work.
            </div>
            <div class="col-md-3">
                <a href="" class="btn btn-block btn-primary">
                    Watch our video
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text">
    <section>
        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-block" ng-click="limiter = limiter > 4 ? limiter - 1 : limiter; taglimiter = taglimiter > 32 ? taglimiter - 12 : taglimiter">
                            Left
                        </button>
                    </div>
                    <div class="col-md-10 title text-center">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>Happening on Mobbr right now</strong>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-block" ng-click="limiter = limiter < 12 ? limiter + 1 : limiter; taglimiter = taglimiter < 120 ? taglimiter + 12 : taglimiter">
                            Right
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" ng-init="limiter = 4; taglimiter = 32">
                        <a ng-repeat="url in happening.result.uris | limitTo: limiter | limitTo: -4" ui-sref="box.task.index.view({ task: encodeTask(url.url) })">
                            <div class="col-xs-12 col-sm-4 col-md-3 data-card-container">
                                <div class="data-card">
                                    <h3 ng-bind="url.title"></h3>
                                    <p ng-bind="url.description"></p>
                                    <div class="bottom">
                                        <div class="item large amount">
                                            <span ng-bind-html="url.amount_total | mobbrcurrency:url.currency_iso:true"></span>
                                            <span class="mobbricon mobbricon-payments"></span>
                                        </div>
                                        <div class="item large tasks" class="participants">
                                            <span ng-bind="url.match_percentage + '%'"></span>
                                            <span class="mobbricon mobbricon-unclaimed"></span>
                                        </div>
                                        <div class="item">
                                            <span ng-bind="url.domain"></span>
                                            <span class="mobbricon mobbricon-domain"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center taglist">
                        <span ng-repeat="tag in tags | limitTo: taglimiter | limitTo: -32">
                            <span ng-show="tag.type == 'person'" class="grvatarholder">
                                <img ng-src="https://secure.gravatar.com/avatar/{{ tag.gravatar }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                                     width="50"
                                     height="50">
                            </span>
                            <span ng-show="tag.type == 'keyword'" class="label label-default tag">
                                <span class="mobbricon mobbricon-tag"></span>
                                <span ng-bind="tag.keyword"></span>
                            </span>
                            <span ng-show="tag.type == 'payment'" ng-bind-html="tag.amount | mobbrcurrency:tag.currency_iso:true:true" class="label label-default tag"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>How it works</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content persons">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <img src="../img/person.png" class="pull-left">
                        <p>
                            - Lorem ipsum dolor sit amet<br>
                            - consectetur adipiscing elit<br>
                            - sed do eiusmod tempor incididunt<br>
                            - ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <img src="../img/person.png" class="pull-left">
                        <p>
                            - Lorem ipsum dolor sit amet<br>
                            - consectetur adipiscing elit<br>
                            - sed do eiusmod tempor incididunt<br>
                            - ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <img src="../img/person.png" class="pull-left">
                        <p>
                            - Lorem ipsum dolor sit amet<br>
                            - consectetur adipiscing elit<br>
                            - sed do eiusmod tempor incididunt<br>
                            - ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>Available plugins and domains</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum nog wat ter afsluiting en design
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-offset-3">
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                </div>
                <div class="row top-info filter">
                    <div class="col-md-12 title">
                        <strong>Available on</strong>
                    </div>
                </div>
                <div class="row connections">
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>Integrate your site with Mobbr</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            <img src="../img/scheme.png">
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-offset-3">
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-primary">
                            blablbla
                        </a>
                        <a href="" class="btn btn-block btn-default">
                            blablbla
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>








<!--<div class="container">
    <div class="col-md-3" ng-repeat="task in featuredTasks"></div>

    <div class="row">
        <div class="bookmarklet text-right col-md-12">
            <small>Drag this button to your bookmark bar to reward any url&nbsp;&nbsp;</small>
            <a class="home-button"
               href="javascript: (function () { var s = document.createElement('script'); s.setAttribute('src', '/scripts/bookmarklet.js'); document.body.appendChild(s); }());">
                <small>Mobbr now!</small>
            </a>
        </div>
    </div>

    <div class="row page-header banner">
        <div class="col-md-8">
            <div class="hero-unit">
                <h1>Turn your website into a crowdsourcing business</h1>
                <p class="lead">
                    A new toolbox for site owners and developers<br/>
                    to get more value out of their community
                </p>
                <p>
                    <a href="" target="_blank" class="btn btn-lg btn-success join" title="">
                        Get started
                    </a>

                    <a href="#/features" class="btn btn-lg btn-link" title="Industry leading payment and invoicing functionality">
                        Features
                    </a>

                    <a href="#/join" class="btn btn-lg btn-link" title="Joining is free, you get a free budget of 100 'Mobbrs' so you can try all functionality.">
                        Open account
                    </a>
            </div>
        </div>
        <div class="col-md-4 introtext">
            <div class="well">
                <p>
                    <b>THE CHALLENGE</b>
                    - To make more money with your website's loyal visitor base.
                </p>
                <p>
                    <b>THE OPPORTUNITY</b>
                    - Our tools instantly create new sources of income for online communities and for their visitors.
                    With Mobbr websites can facilitate the paid execution of research, content creation, software development and the many other types of work
                    that can be crowdsourced.
                </p>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <em>
            <small class="tagline">
                powered by
            </small>
        </em>
        <p>
            <img src="/img/logo-mangopay.png" title="We partner with mangopay.com for our international payments">
            <img src="/img/logo-blockchain.png" title="Our wallets are hosted by blockchain.info">
        </p>
    </div>


    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <h3>Site-owners</h3>
                <p>
                    Generate new sources of income together with your visitors. Mobbr provides all
                    the tools for crowdsourcing work on your platform.
                </p>
                <p>
                    <a href="/#/features">Check out our features</a>
                </p>
            </div>
            <div class="col-md-4">
                <h3>Developers</h3>
                <p>
                    Link the reputation or ranking mechanism of a collaboration or user generated content site to our payment- and invoicing system.
                    And turn it into a business.
                </p>
                <p>
                    <a href="/#/gettingstarted">Get started</a>
                </p>
            </div>
            <div class="col-md-4">
                <h3>Individuals</h3>
                <p>
                    Finally start making serious money online, by being active in your favorite communities.
                    Work when you want, where you want and for whom you want.
                </p>
                <p>
                    <a href="/#/join">Start earning money online</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <p class="lead">
            <em class="tagline">
                &quot;What the office was to the industrial era, the crowdsourcing platform is to the 21st century.<br> Work will increasingly be done online&quot;
            </em>
        </p>
    </div>

    <div class="well special clearfix col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>Features</h3>
                <ul>
                    <li>
                        <b>Plugins</b> - all the plugins and integration manuals to quickly enable crowdsourcing on your website.
                    </li>
                    <li>
                        <b>Payments</b> - and invoicing system to distribute money among contributors
                        based on reputation points earned.
                    </li>
                    <li>
                        <b>Portal</b> - dashboard to manage crowds, wallets and tasks.
                    </li>
                </ul>
                <a href="/#/features">More features...</a>
            </div>
            <div class="col-md-6">
                <h3>Use-cases</h3>
                <ul>
                    <li>Execute consulting projects with your community using a Q&A</li>
                    <li>Pay developers fair share using your version control software</li>
                    <li>Pay your audience to create content for a client or brand</li>
                    <li>Crowdsource your helpdesk to make it more personal and efficient</li>
                </ul>
                <a href="/#/features">More about use cases</a>
            </div>
        </div>
    </div>

    <div class="row tagline text-center">
        <p class="lead">
            <em>
                Official partner of
            </em>
        </p>
        <p class="lead">
            <a target="_blank" href="http://www.yesdelft.nl/" title="We are part of the Yes!Delft tech-incubator" ><img src="/img/logo-yesdelft.jpg" /></a>
            <a target="_blank" href="http://www.crowdexpedition.nl/" title="" ><img src="/img/logo-crowdexpedition.jpg"  style="padding-left:25px;" /></a>
            <a target="_blank" href="http://fastmovingtargets.nl/" title="" ><img src="/img/logo-fmt.jpg" style="padding-left:25px;" /></a>
        </p>
    </div>

    <h1 class="bottomline">Join the anytime anyplace economy</h1>
    <h3>For inquiries, please <a href="mailto:&#112;&#097;&#116;&#114;&#105;&#099;&#107;&#064;&#109;&#111;&#098;&#098;&#114;&#046;&#099;&#111;&#109;">email</a> us</h3>

</div>-->