<div class="row-fluid" style="margin-bottom: 24px;">
    <div class="container bookmarklet text-right">
        <small>Drag this button to your bookmark bar to reward any url&nbsp;&nbsp;</small>
        <a class="home-button"
           href="javascript: (function () { var s = document.createElement('script'); s.setAttribute('src', '/scripts/bookmarklet.js'); document.body.appendChild(s); }());">
            <small>Mobbr now!</small>
        </a>
    </div>
</div>

<div class="row-fluid page-header" style="margin-bottom: 60px; padding-bottom: 30px;">
    <div class="span8">
        <div class="hero-unit">
            <h1 style="margin-top: 30px;">Making online work happen</h1>
            <p class="lead">
                Payment platform for network economics and online labor. One button pays them all. Any number, any ratio.
            </p>
            <p>
                <a href="http://fmt.mobbr.com" target="_blank" class="btn btn-large btn-success join" title="See a Mobbr-plugin in action on this open-source platform">
                    See live buttons
                </a>

                <a href="#/join" class="btn btn-large btn-link" title="Joining is free, you get a free budget of 100 'Mobbrs' so you can try all functionality.">
                    Open account
                </a>

                <a href="#/company" class="btn btn-large btn-link" title="Mobbr allows people to send money to any URL or email address, also to yours">
                    Contact us for a free trial
                </a>
            </p>
    <p class="lead" style="margin-top:80px;">
                <img src="/img/logo-mangopay.png" title="We partner with mangopay.com for our international payments" />
                <img src="/img/logo-blockchain.png" title="Our wallets are hosted by blockchain.info" style="padding-left:25px;" />
    </p>

        </div>
    </div>
    <div class="span4">
        <div class="well special introtext" style="margin-top: 22px;font-size:0.9em">
            <p style="padding-top: 50px; ">
                Businesses increasingly use online labor. Yet making money with online work is difficult. Why?
            </p>
            <p><ul>
                <li>Paying many individuals in a fluid collaboration process is difficult</li>
                <li>Getting your earned money out of all the platforms is a major hassle</li>
                <li>Crowdfunding is still not used for jobs or tasks</li>
            </ul></p>
            <p>
                With one click Mobbr distributes money to the contributor(s)
                to an online task or business process. Expert communities
                and labor platforms can now monetize their collective wisdom and
                workforce.
            </p>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 60px;">
    <p class="lead">
        Official partner of:
    </p>
    <p class="lead">
                <img src="/img/logo-yesdelft.jpg" />
                <img src="/img/logo-crowdexpedition.jpg"  style="padding-left:25px;" />
                <img src="/img/logo-fmt.jpg" style="padding-left:25px;" />
    </p>
</div>

<div class="row-fluid" style="padding-bottom: 60px;">
    <div class="well special clearfix">
        <div style="margin-top:40px;">
            <div class="span4">
                <h3 style="margin-top: 0; line-height: 1em;">Expert communities</h3>
                <p>
                    Bring together supply (i.e. the experts) and demand (i.e. businesses)
                    simply by using a collaboration or crowdsourcing tool with the Mobbr payment
                    button to facilitate the process.
                </p>
                <p>
                    <a href="/#/company">Contact us for a free trial</a>
                </p>
            </div>
            <div class="span4">
                <h3 style="margin-top: 0; line-height: 1em;">Labor platforms</h3>
                <p>
                    Crowdsourcing websites can instantly become more collaborative by adding
                    the Mobbr button. Offer your crowd a unified wallet with industry leading payment and earning functionality.
                </p>
                <p>
                    <a href="/#/generatebutton">Mobbr on your website</a>
                </p>
            </div>
            <div class="span4">
                <h3 style="margin-top: 0; line-height: 1em;">Professionals</h3>
                <p>
                    Finally start making serious money online. Whether on the internet or intranet.
                    Mobilize your community or company to organize business processes online. Or find communities here.</p>
                <p>
                    <a href="/#/join">Start earning money online</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 100px; line-height: 64px;">

    <div class="span2 button-type" style="margin-left: 80px;">
        <mobbrbutton size="medium" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type">
        <mobbrbutton size="large" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type">
        <mobbrbutton size="slim" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type ng-scope">
        <mobbrbutton size="small" url="https://mobbr.com"></mobbrbutton>
    </div>

    <div class="span2 button-type ng-scope" style="margin-right: 80px;">
        <mobbrbutton size="mediumgs" url="https://mobbr.com"></mobbrbutton>
    </div>
</div>


<div class="row-fluid" style="padding-bottom: 30px;">
    <div class="well special clearfix span12">
        <div style="margin-top:40px; ">
            <div class="span6">
                <h3 style="margin-top: 0; line-height: 1em;">What you need</h3>
                <ul>
                    <li>A job or task - e.g. research, brainstorm, content creation, etc.</li>
                    <li>A paying customer - Or many, in case of crowdfunding.</li>
                    <li>A collaboration or crowdsourcing tool - to facilitate the process.</li>
                    <li>The Mobbr button - integrated in the tool (minutes to hours).</li>
                    <li>A virtual labor pool - the expert community.</li>
                </ul>
                <a href="/#/consumers">Learn more</a>
            </div>
            <div class="span6">
                <h3 style="margin-top: 0; line-height: 1em;">How it can work</h3>
                <ul>
                    <li>A job is posted on a platform with a pledged fee</li>
                    <li>Workers can earn points by contributing</li>
                    <li>With one click on the Mobbr button the pledged fee is paid</li>
                    <li>Mobbr distributes the money in line with earned points</li>
                    <li>Each worker receives their share in their Mobbr bank account</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid tagline" style="text-align: center; font-style: italic; padding-bottom: 55px;">
    <p class="lead" style="padding: 0 50px;">
        &quot;Rewarding participation takes crowdsourcing to its next
        level, ultimately creating a reliable and steerable anytime anyplace workforce of
        billions. Together we start a new economy that benefits everybody.&quot;
    </p>
</div>

<h1 class="bottomline">Join the anytime anyplace economy</h1>
<h3 style="margin-top: 0; line-height: 1em;">For inquiries <a href="mailto:&#112;&#097;&#116;&#114;&#105;&#099;&#107;&#064;&#109;&#111;&#098;&#098;&#114;&#046;&#099;&#111;&#109;">email</a> us, or call +31652667982</h3>
