<div class="row">
    <div class="container">
        <div class="row pay-task">
            <form class="col-md-12">
                <div class="row">
                    <fieldset ng-disabled="activeQuery || (payment && !payError)" ng-show="!activeQuery" class="col-md-12 form-group">
                        <input class="form-control"
                               placeholder="Any URL, email, username or ID"
                               required
                               ng-model="payQuery">
                    </fieldset>
                    <fieldset ng-disabled="(payment && !payError)" class="col-sm-6">
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <select class="form-control"
                                                required
                                                ng-init="currency = $mobbrStorage.user.currency_iso || 'EUR'"
                                                ng-model="currency"
                                                ng-options="curr.currency_iso as curr.currency_iso for curr in userCurrencies"></select>
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control"
                                               placeholder="0.00"
                                               required
                                               type="number"
                                               ng-model="amount"
                                               step="any"
                                               min="0"
                                               max="1000000000">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="invoices">
                                        I want invoices
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="col-sm-6 form-group">
                        <div class="row">
                            <div class="col-xs-5">
                                <button ng-disabled="!currency || !amount || (payment && !payError) || (invoices && !invoices_confirm) || (!activeQuery && !payQuery)"
                                        ng-click="preview()"
                                        class="btn btn-default btn-block"
                                        type="submit">
                                    Preview
                                </button>
                            </div>
                            <div class="col-xs-5">
                                <button ng-disabled="!currency || !amount || confirm.$resolved || (invoices && !invoices_confirm) || (!activeQuery && !payQuery)"
                                        ng-click="payment.result.hash ? pay() : previewPay()"
                                        ng-bind="confirm.message.text || task.result.script.pledge && 'Pledge' || 'Pay'"
                                        class="btn btn-success btn-block"
                                        type="submit">
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button ng-click="$state.go('^')" class="btn btn-danger btn-block">X</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <span class="info-box">
                        <span class="mobbricon mobbricon-softalert"></span> Your fee will be 5% or 9 EUR per month, whichever is least.
                    </span>
            </div>
        </div>
        <div class="row" ng-show="invoices">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <fieldset ng-disabled="!invoices">
                            <label>
                                <input type="checkbox" ng-model="invoices_confirm">
                                I understand VAT is reverse charged and needs to be paid by me
                            </label>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="show_preview && payment && payment.$resolved" class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Participant</th>
                    <th>Role</th>
                    <th>%</th>
                    <th>Currency</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="participant['.percentage'] ? '' : 'disabled'" ng-repeat="participant in payment.result.script.participants" title="{{ participant['no-pay-reason']}}">
                    <td>
                        <a ng-href="{{ participant.id }}" target="_blank">
                            <img ng-src="https://secure.gravatar.com/avatar/{{ participant['.gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                                 width="20"
                                 height="20">
                            <span ng-bind="participant.id"></span>
                        </a>
                    </td>
                    <td ng-bind="participant.role"></td>
                    <td ng-bind="participant['.percentage'] && ((participant['.percentage'] | number:2) + '%')"></td>
                    <td ng-bind="participant['.percentage'] && payment.result.script['.currency']"></td>
                    <td ng-bind-html="participant['.amount'] | mobbrcurrency:'':true"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>100%</td>
                    <td ng-bind="payment.result.script['.currency']"></td>
                    <td ng-bind-html="payment.result.script['.amount'] | mobbrcurrency:'':true"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
