<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>
                    Payment receipt
                    <!--<span ng-if="payment.paiddatetime" ng-bind="payment.paiddatetime | amDateFormat : 'YYYYMMDD HH:MM'"></span>
                    <span ng-if="!payment.paiddatetime && payment.faileddatetime" ng-bind="payment.faileddatetime | amDateFormat : 'YYYYMMDD HH:MM'"></span>
                    <span ng-if="payment.faileddatetime && payment.service_message" ng-bind="payment.service_message"></span>-->
                </h1>
            </div>
            <div class="col-md-3">
                <a ng-show="payment.uri"
                   ng-href="{{ $state.href('box.task.index.view', { task: encodeTask(payment.uri) }) }}"
                   class="btn btn-call btn-block">View task status</a>
            </div>
        </div>
    </div>
</div>

<div class="row top-info">
    <div class="container">
        <div class="row">
            <div class="row cards-wrapper">
                <div class="card-container col-xs-6 col-sm-3">
                    <div class="card fixed">
                        <div class="front">
                            <div class="row top">
                                <div class="col-md-12">
                                    <span class="mobbricon mobbricon-payments"></span>
                                    Amount
                                </div>
                            </div>
                            <div class="row">
                                <span class="txt big col-md-12" ng-bind-html="payment.amount | mobbrcurrency:payment.currency_iso:true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container col-xs-6 col-sm-3" ng-if="!payment.ext_trx_id">
                    <div class="card fixed">
                        <div class="front">
                            <div class="row top">
                                <div class="col-md-12">
                                    <span class="mobbricon mobbricon-unclaimed"></span>
                                    Unclaimed shares
                                </div>
                            </div>
                            <div class="row">
                                <span class="txt col-md-12" ng-bind="(payment.receivers | filter : {unclaimed:'1'}).length + ' / ' + payment.receivers.length"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container col-xs-6 col-sm-3" ng-if="!payment.ext_trx_id">
                    <div class="card fixed">
                        <div class="front">
                            <div class="row top">
                                <div class="col-md-12">
                                    <span class="mobbricon mobbricon-tasks"></span>
                                    Invoiced
                                </div>
                            </div>
                            <div class="row">
                                <span class="txt xsmall col-md-12">
                                    <span ng-bind="payment.invoiced == '1'?'Payment is invoiced':'Payment is not invoiced'"></span>
                                   </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container col-xs-6 col-sm-3">
                    <div class="card fixed">
                        <div class="front">
                            <div class="row top">
                                <div class="col-md-12">
                                    <span class="mobbricon mobbricon-transaction"></span>
                                    Date
                                </div>
                            </div>
                            <div class="row">
                                <span class="txt col-md-12" ng-bind="payment.paiddatetime | amDateFormat:'l'"></span>
                            </div>
                            <div class="row">
                                <span class="txt xsmall col-md-12" ng-bind="payment.paiddatetime | amDateFormat:'LT'"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-container col-xs-6 col-sm-3" ng-if="payment.receive_address">
                    <div class="card fixed">
                        <div class="front">
                            <div class="row top">
                                <div class="col-md-12">
                                    <span class="mobbricon mobbricon-domain"></span>
                                    Network
                                </div>
                            </div>
                            <div class="row">
                                <span class="txt col-md-12" ng-bind="payment.payment_service"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="payment-top">
    <div class="row payment-info payment-title" ng-if="payment.title">
        <div class="container">
            <div class="row">
                <div class="col-md-12 title">
                    <strong ng-bind="payment.title"></strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row payment-info" ng-if="payment.description || payment.note">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span ng-bind="payment.description || payment.note"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row payment-info" ng-if="payment.ext_trx_id">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>External Transaction ID:</strong> <span ng-bind="payment.ext_trx_id"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row payment-info" ng-if="payment.ext_trx_id">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Receive address:</strong> <span ng-bind="payment.receive_address"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row payment-data">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 title">
                <span class="mobbricon mobbricon-payments"></span>
                <span ng-bind-html="payment.amount | mobbrcurrency:payment.currency_iso:true"></span>
                <span ng-if="payment.costs > 0">
                    (+ <span ng-bind-html="payment.costs | mobbrcurrency:'':true"></span> fee)
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 title" ng-if="!payment.ext_trx_id">
                <span class="mobbricon mobbricon-softalert"></span>
                <i ng-show="payment.invoiced == '1'" class="mobbricon mobbricon-completed"></i>
                <span ng-bind="payment.invoiced == '1'?'Payment is invoiced':'Payment is not invoiced'"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 title" ng-if="!payment.ext_trx_id">
                <span class="mobbricon mobbricon-unclaimed"></span>
                <span ng-bind="(payment.receivers | filter : {unclaimed:'1'}).length + ' / ' + payment.receivers.length"></span> shares are unclaimed
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 title">
                <span class="mobbricon mobbricon-payments"></span>
                <span ng-bind="payment.paiddatetime | amDateFormat:'lll'"></span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 title" ng-if="payment.receive_address">
                <span class="mobbricon mobbricon-transaction"></span>
                <span ng-bind="payment.receive_address"></span>
            </div>
        </div>
    </div>
</div>-->

<div class="row top-info filter payment-filter" ng-if="recieversAndSenders && recieversAndSenders.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 title">
                <span class="mobbricon mobbricon-crowd"></span>
                <strong>Persons</strong>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="recieversAndSenders && recieversAndSenders.length > 0">
    <div class="container">
        <div class="row" ng-if="(recieversAndSenders | filter:{selected:true}).length > 0">
            <button class="btn btn-primary" ng-click="download()">Download invoice(s) selected</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th ng-if="payment.invoiced == '1'"><input type="checkbox" ng-model="selectAll.selected"></th>
                <th ng-click="sortBy='username'; reverse=!reverse">Participant</th>
                <th ng-click="sortBy='role'; reverse=!reverse">Role</th>
                <th ng-click="sortBy='share'; reverse=!reverse">%</th>
                <th ng-click="sortBy='currency_iso'; reverse=!reverse">Currency</th>
                <th ng-click="sortBy='amount'; reverse=!reverse">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="participant in recieversAndSenders | orderBy:sortBy:reverse">
                <td ng-if="payment.invoiced == '1' && participant.share_id"><input type="checkbox" ng-model="participant.selected"></td>
                <td><img
                        ng-src="https://secure.gravatar.com/avatar/{{ participant.gravatar }}?s=50&default=https://mobbr.com/img/default-gravatar2.png"
                        class="gravatar img-rounded"
                        width="20"
                        height="20">
                    {{participant.username}}
                </td>
                <td ng-bind="participant.role"></td>
                <td ng-bind="participant.share|number:2"></td>
                <td ng-bind="participant.currency_iso"></td>
                <td ng-bind-html="participant.amount | mobbrcurrency:'':true:true"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
