<alert>
    This is a publicly accessible but secret URL. Be careful with whom you share it.
</alert>

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1>
                Payment receipt <span ng-hide="payment.result.meta_data.paiddatetime">(pending)</span><br>
                <small ng-show="!external"><a href="{{ linkUrl(payment.result.meta_data.url) }}">{{ payment.response.meta_data.title || payment.result.meta_data.url }}</a></small>
                <small ng-show="external">Payment service: {{ payment.result.meta_data.payment_service }}</small><br>
            </h1>
        </div>
        <a href="{{ linkUrl(payment.result.meta_data.url) }}" ng-show="payment.result.meta_data.img_url">
            <img ng-src="{{ payment.result.meta_data.img_url }}" class="gravatar receipt-thumb">
        </a>
        <p>{{ payment.result.meta_data.description }}</p>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h6>Amount</h6>
            {{ payment.result.meta_data.currency_iso }} <span class="amount">{{ payment.result.meta_data.amount }}</span>
            <h6>Date</h6>
            <span ng-bind="payment.result.meta_data.paiddatetime"></span>
            <div ng-show="external">
                <div ng-show="payment.result.meta_data.amount > 0 && payment.result.meta_data.receive_address">
                    <h6>Receive address</h6>
                    <span ng-bind="payment.result.meta_data.receive_address"></span>
                </div>
                <div ng-show="payment.result.meta_data.amount < 0 && payment.result.meta_data.send_address">
                    <h6>Send address</h6>
                    <span ng-bind="payment.result.meta_data.send_address"></span>
                </div>
                <div ng-show="payment.result.meta_data.ext_trx_id">
                    <h6>External transaction ID</h6>
                    <span ng-bind="payment.result.meta_data.ext_trx_id"></span>
                </div>
                <div ng-show="payment.result.meta_data.note">
                    <h6>Note</h6>
                    <span ng-bind="payment.result.meta_data.note"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="!external" class="row">
    <div class="col-md-6">
        <h3>Senders</h3>
        <invoicetable id="receivers"
                      columns="[ 'gravatar', 'username', 'role', 'currency', 'amount' ]"
                      api="payment"
                      index="'receivers'"
                      click-row="openPayment"></invoicetable>
    </div>
    <div class="col-md-6">
        <h3>Receivers</h3>
        <invoicetable id="receivers"
                      columns="[ 'gravatar', 'username', 'role', 'currency', 'amount' ]"
                      api="payment"
                      index="'senders'"
                      click-row="openPayment"></invoicetable>
    </div>
</div>