<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-3">
                <h1>My payments</h1>
            </div>
        </div>
    </div>
</div>

<accordion state-accordion="payments">
    <accordion-group is-open="stateAccordion['payments.pledges']" is-disabled="true">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title" ng-click="$state.is('payments.pledges') ? $state.go('^') : $state.go('payments.pledges')">
                        <span class="glyphicon glyphicon-ok"></span>
                        <strong>Pledges</strong>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon" ng-click="$state.is('payments.pledges') ? $state.go('^') : $state.go('settings.notifications')">
                            <span ng-class="$state.is('payments.pledges') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="removePledes()" class="btn btn-primary"
                            ng-disabled="filterSelectedIds(pledgedTable.data).length == 0">Delete selected pledges
                    </button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="pledgedTable.sortBy='datetime'; pledgedTable.reverse=!pledgedTable.reverse">
                                Date
                            </th>
                            <th ng-click="pledgedTable.sortBy='title'; pledgedTable.reverse=!pledgedTable.reverse">
                                Title
                            </th>
                            <th ng-click="pledgedTable.sortBy='currency_iso'; pledgedTable.reverse=!pledgedTable.reverse">
                                Currency
                            </th>
                            <th ng-click="pledgedTable.sortBy='amount'; pledgedTable.reverse=!pledgedTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in pledgedTable.data | orderBy:pledgedTable.sortBy:pledgedTable.reverse">
                            <td><input type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)" data-title="'Date'" sortable="'paiddatetime'" title="{{ payment.paiddatetime }}">
                                <time am-time-ago="payment.paiddatetime" datetime="{{ payment.paiddatetime }}"></time>
                            </td>
                            <td ng-click="openPayment(payment)" data-title="'Title'" sortable="'title'" ng-bind="payment.title?payment.title:payment.url"></td>
                            <td ng-click="openPayment(payment)" data-title="'Currency'" sortable="'currency_iso'" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" data-title="'Amount'" sortable="'amount'" ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group is-open="stateAccordion['payments.unclaimed']" is-disabled="true">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title" ng-click="$state.is('payments.unclaimed') ? $state.go('^') : $state.go('payments.unclaimed')">
                        <span class="glyphicon glyphicon-ok"></span>
                        <strong>Unclaimed</strong>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon" ng-click="$state.is('payments.unclaimed') ? $state.go('^') : $state.go('payments.unclaimed')">
                            <span ng-class="$state.is('payments.unclaimed') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="revokeSelectedShares()" class="btn btn-primary"
                            ng-disabled="filterSelectedIds(unclaimedTable.data).length == 0">Delete selected shares
                    </button>

                    <table class="table" >
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="pledgedTable.sortBy='datetime'; pledgedTable.reverse=!pledgedTable.reverse">
                                Date
                            </th>
                            <th ng-click="unclaimedTable.sortBy='username'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Participant
                            </th>
                            <th ng-click="unclaimedTable.sortBy='title'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Domain
                            </th>
                            <th ng-click="unclaimedTable.sortBy='currency_iso'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Currency
                            </th>
                            <th ng-click="unclaimedTable.sortBy='amount'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in unclaimedTable.data | orderBy:unclaimedTable.sortBy:unclaimedTable.reverse">
                            <td><input type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)" data-title="'Date'" sortable="'datetime'" title="{{ payment.datetime }}">
                                <time am-time-ago="payment.datetime" datetime="{{ payment.datetime }}"></time>
                            </td>
                            <td>
                                <a ng-href="{{ payment.recipient_id }}" target="_blank">
                                    <img ng-src="https://secure.gravatar.com/avatar/{{ payment.gravatar }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                                         class="gravatar img-rounded"
                                         width="30"
                                         height="30">
                                    <span ng-bind="payment.recipient_id"></span>
                                </a>
                            </td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.url | domain"></td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group is-open="stateAccordion['payments.payments']" is-disabled="true">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title" ng-click="$state.is('payments.payments') ? $state.go('^') : $state.go('payments.payments')">
                        <span class="glyphicon glyphicon-ok"></span>
                        <strong>Payments</strong>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon" ng-click="$state.is('payments.payments') ? $state.go('^') : $state.go('payments.payments')">
                            <span ng-class="$state.is('payments.payments') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="downloadInvoiceSelectedPayments()" class="btn btn-primary"
                            ng-disabled="filterSelectedIds(paymentTable.data).length == 0">Download invoice selected
                    </button>
                    <input type="text" ng-model="paymentTable.search">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="paymentTable.sortBy='datetime'; paymentTable.reverse=!paymentTable.reverse">
                                Date
                            </th>
                            <th ng-click="paymentTable.sortBy='title'; paymentTable.reverse=!paymentTable.reverse">
                                Title
                            </th>
                            <th ng-click="paymentTable.sortBy='currency_iso'; paymentTable.reverse=!paymentTable.reverse">
                                Currency
                            </th>
                            <th ng-click="paymentTable.sortBy='amount'; paymentTable.reverse=!paymentTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in paymentTable.data | orderBy:paymentTable.sortBy:paymentTable.reverse">
                            <td><input ng-disabled="!payment.invoiced" type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)" title="{{ payment.datetime }}">
                                <time am-time-ago="payment.datetime" datetime="{{ payment.datetime }}"></time>
                            </td>
                            <td ng-click="openPayment(payment)">{{payment.title?payment.title:payment.url}}</td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-click="retrievePayments()">More</button>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>