<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-3">
                <h1>Payments</h1>
            </div>
        </div>
    </div>
</div>

<accordion state-accordion="payments">
    <accordion-group is-open="stateAccordion['payments.pledges']">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title">
                        <a ui-sref="payments.pledges">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Pledges</strong>
                        </a>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon">
                            <span ng-class="account.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="removePledes()" class="btn btn-primary"
                            ng-show="filterSelectedIds(pledgedTable.data).length > 0">Delete selected pledges
                    </button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="pledgedTable.sortBy='datetime'; pledgedTable.reverse=!pledgedTable.reverse">
                                Date
                            </th>
                            <th ng-click="pledgedTable.sortBy='title'; pledgedTable.reverse=!pledgedTable.reverse">
                                Title
                            </th>
                            <th ng-click="pledgedTable.sortBy='url'; pledgedTable.reverse=!pledgedTable.reverse">
                                Url
                            </th>
                            <th ng-click="pledgedTable.sortBy='currency_iso'; pledgedTable.reverse=!pledgedTable.reverse">
                                Currency
                            </th>
                            <th ng-click="pledgedTable.sortBy='amount'; pledgedTable.reverse=!pledgedTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in pledgedTable.data | orderBy:pledgedTable.sortBy:pledgedTable.reverse">
                            <td><input type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)" data-title="'Date'" sortable="'datetime'" ng-bind="payment.datetime | amDateFormat : 'YYYYMMDD HH:MM'"></td>
                            <td ng-click="openPayment(payment)" data-title="'Title'" sortable="'title'" ng-bind="payment.title"></td>
                            <td ng-click="openPayment(payment)" data-title="'Url'" sortable="'url'" ng-bind="payment.url"></td>
                            <td ng-click="openPayment(payment)" data-title="'Currency'" sortable="'currency_iso'" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" data-title="'Amount'" sortable="'amount'" ng-bind="payment.amount | mobbrcurrency:''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group is-open="stateAccordion['payments.unclaimed']">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title">
                        <a ui-sref="payments.unclaimed">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Unclaimed</strong>
                        </a>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon">
                            <span ng-class="account.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="revokeSelectedShares()" class="btn btn-primary"
                            ng-show="filterSelectedIds(unclaimedTable.data).length > 0">Delete selected shares
                    </button>

                    <button ng-click="downloadInvoiceSelectedShares()" class="btn btn-primary"
                            ng-show="filterSelectedIds(unclaimedTable.data).length > 0">Download invoice selected
                    </button>

                    <table class="table" >
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="unclaimedTable.sortBy='username'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Participant
                            </th>
                            <th ng-click="unclaimedTable.sortBy='payment'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Payment
                            </th>
                            <th ng-click="unclaimedTable.sortBy='currency_iso'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Currency
                            </th>
                            <th ng-click="unclaimedTable.sortBy='amount'; unclaimedTable.reverse=!unclaimedTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in unclaimedTable.data | orderBy:unclaimedTable.sortBy:unclaimedTable.reverse">
                            <td><input type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)">
                                <img ng-src="https://secure.gravatar.com/avatar/{{ payment.username }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                                     class="gravatar img-rounded"
                                     width="50"
                                     height="50">
                                <span ng-bind="payment.username"></span>
                            </td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.payment"></td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.amount"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group is-open="stateAccordion['payments.payments']">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-10 title">
                        <a ui-sref="payments">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Payments</strong>
                        </a>
                    </div>
                    <div class="icons">
                        <div class="col-xs-1 text-center icon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-xs-1 text-center icon">
                            <span ng-class="account.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12">
                    <button ng-click="downloadInvoiceSelectedPayments()" class="btn btn-primary"
                            ng-show="filterSelectedIds(paymentTable.data).length > 0">Download invoice selected
                    </button>
                    <input type="text" ng-model="paymentTable.search">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th ng-click="paymentTable.sortBy='datetime'; paymentTable.reverse=!paymentTable.reverse">
                                Date
                            </th>
                            <th ng-click="paymentTable.sortBy='title'; paymentTable.reverse=!paymentTable.reverse">
                                Title
                            </th>
                            <th ng-click="paymentTable.sortBy='currency_iso'; paymentTable.reverse=!paymentTable.reverse">
                                Currency
                            </th>
                            <th ng-click="paymentTable.sortBy='amount'; paymentTable.reverse=!paymentTable.reverse">
                                Amount
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in paymentTable.data | orderBy:paymentTable.sortBy:paymentTable.reverse">
                            <td><input type="checkbox" ng-model="payment.selected"></td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.datetime | amDateFormat : 'YYYYMMDD HH:MM'"></td>
                            <td ng-click="openPayment(payment)">{{payment.title?payment.title:payment.url}}</td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.currency_iso"></td>
                            <td ng-click="openPayment(payment)" ng-bind="payment.amount | mobbrcurrency:''"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-click="retrievePayments()">More</button>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>