<div id="persondetail">

    <div ng-show="personPromise.$resolved">
        <div class="row section">
            <div class="container">
                <div class="row">

                    <img ng-src="https://secure.gravatar.com/avatar/{{ person.user.gravatar }}?s=200&default=https://mobbr.com/img/default-gravatar.png"
                         width="200"
                         class="pull-left"
                         height="200">

                    <div class="col-md-8">
                        <h2>
                            {{ person.user.firstname }} {{ person.user.lastname }} <span class="" ng-show="person.user.kyc_level == 'regular'"></span> <span ng-show="person.user.kyc_level == 'regular'">|</span>
                        </h2>
                        <div ng-show="person.user.occupation" ng-bind="person.user.occupation">

                        </div>
                        <div>
                            Active since {{ person.user.registerdatetime | amCalendar }} | Last active {{  person.user.lastlogindatetime | amCalendar }}
                        </div>
                        <div ng-show="remoteProfile.aboutMe" ng-bind="remoteProfile.aboutMe">

                        </div>
                        <div ng-show="remoteProfile.bio" ng-bind="remoteProfile.bio">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>Active accounts</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section" ng-show="person.user.ids">
            <div class="container">
                <div class="row taglist clearfix">
                    <a ng-repeat="id in person.user.ids" ng-href="id.id" target="_blank" class="label label-default tag pull-left">
                        <img ng-src="{{ id.facicon }}" width="16">
                        {{ id.provider }}
                    </a>
                </div>
            </div>
        </div>

        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 title">
                        <span class="mobbricon mobbricon-mobbricon"></span>
                        <strong>Performance</strong>
                    </div>
                    <div class="col-md-3">
                        <a ng-show="person.stats.num_domain" class="btn btn-block btn-call">
                            {{person.stats.num_domain}} domains
                            <span class="mobbricon mobbricon-domain pull-right"></span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a ng-show="person.stats.num_urls" class="btn btn-block btn-call">
                            {{person.stats.num_urls}} tasks
                            <span class="mobbricon mobbricon-tasks pull-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-tag"></span>
                        <strong>{{person.user.firstname}}'s tags</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section" ng-show="keywords && keywords.result.length > 0" ng-init="keywordsLimitDefault = 10; keywordsLimit = keywordsLimitDefault">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled taglist clearfix">
                            <li ng-repeat="keyword in keywords.result | limitTo:keywordsLimit" class="label label-default tag pull-left">
                                <span class="mobbricon mobbricon-tag"></span>
                                <span ng-bind="keyword.keyword"></span>
                            </li>
                        </ul>
                        <button class="btn" ng-click="keywordsLimit = 1000" ng-show="keywordsLimit == keywordsLimitDefault && keywords.result.length > keywordsLimit">More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>{{person.user.firstname}}'s domains</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section" ng-show="person && person.domain.length > 0" ng-init="domainLimitDefault = 10; domainLimit = domainLimitDefault">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled taglist clearfix">
                            <li ng-repeat="domain in person.domain | limitTo:domainLimit">
                                <a ng-href="{{ domain.host }}" class="label label-default tag pull-left">
                                    <img ng-src="{{domain.favicon}}">
                                    {{domain.host}}
                                </a>
                            </li>
                        </ul>
                        <button class="btn" ng-click="domainLimit = 1000" ng-show="domainLimit == domainLimitDefault && person.domain.length > domainLimit">More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-info filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 title">
                        <span class="mobbricon mobbricon-domain"></span>
                        <strong>{{person.user.firstname}}'s verified accounts</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section" ng-show="person && person.user.id" ng-init="idLimitDefault = 10; idLimit = idLimitDefault">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled taglist">
                            <li ng-repeat="id in person.user.id | limitTo:domainLimit">
                                <a ng-href="{{ id }}" class="label label-default tag pull-left">
                                    <span class="mobbricon mobbricon-domain"></span>
                                    <span ng-bind="id"></span>
                                </a>
                            </li>
                        </ul>
                        <button class="btn" ng-click="idLimit = 1000" ng-show="idLimit == idLimitDefault && person.user.id.length > idLimit">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center" ng-show="!person && !personPromise">
        <h2><em>Enter a username to find a profile...</em></h2>
    </div>

    <div class="col-md-12 text-center" ng-show="personPromise && !personPromise.$resolved">
        <h2><em>Loading profile...</em></h2>
    </div>
</div>