<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-12">
                <h1>Recover your password</h1>
            </div>
        </div>
    </div>
</div>

<div class="row page-white">
    <div class="container">
        <div class="row">
            <form class="form-horizontal" name="recoverForm" ng-submit="recoverPassword()">
                <fieldset class="form-group">
                    <label class="control-label col-md-2" for="username">Identify yourself</label>
                    <div class="input-group col-md-10">
                        <input class="form-control" ng-model="username_or_email" type="text" id="username" placeholder="username, email or ID" required name="username">
                        <span class="input-group-btn">
                            <button ng-click="recover()" ng-disabled="recovering && !recovering.$resolved" class="btn" type="submit"><i class="mobbricon mobbrloader" ng-show="recovering && !recovering.$resolved"></i> Recover</button>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>




