<div class="page-header">
    <h1>Recover/Reset password<br><small>To recover your password enter your username or email address</small></h1>
</div>


<form ng-submit="recoverPassword()" class="form-horizontal">

    <div class="control-group">

        <div class="control-label">
            <label for="username">Username or email</label>
        </div>

        <div class="controls">
            <input ng-model="username_or_email" type="text" id="username" placeholder="username or email" required>
            <button ng-click="recover()" ng-disabled="waiting" class="btn" type="submit"><i class="icon-white mobbrloader" ng-show="waiting"></i> Recover</button>
       </div>
    </div>
</form>




