<div class="page-header">
    <h1>Welcome to Mobbr<br><small>Choose your password, make it as safe as you can remember</small></h1>
</div>

<h6><small>A password must consist of minimal 8 alfanumerical characters (case sensitive).</small></h6>

<div class="control-group">

    <div class="control-label">
        <label for="new_password">
            New password
        </label>
    </div>

    <div class="controls">
        <input ng-model="new_password" id="new_password" name="new_password" type="password" required>
        <span ng-show="security.new_password.$error.required" class="help-inline">Required field.</span>
    </div>
</div>

<div class="control-group">

    <div class="control-label">
        <label for="new_password2">
            New password again
        </label>
    </div>

    <div class="controls">
        <input name="new_password2" id="new_password2" ng-model="new_password_control" type="password" required>
        <span ng-show="security.new_password2.$error.required" class="help-inline">Required field.</span>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button ng-disabled="waiting" ng-click="resetPassword()" class="btn btn-success">
            <i class="icon-white mobbrloader" ng-show="waiting"></i>
            Save
        </button>
    </div>
</div>
