<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-12">
                <h1>Settings</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <accordion state-accordion>
        <accordion-group is-open="stateAccordion['settings.account']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>My Account</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="account.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.account.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countIdentityCompleted() != 6 }" is-open="stateAccordion['settings.identity']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span ng-class="countIdentityCompleted() == 6 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>My Identity</strong> {{countIdentityCompleted()}} / 6 completed
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="identity.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.identity.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countProofCompleted() != 3 }" is-open="stateAccordion['settings.proof']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span ng-class="countProofCompleted() == 3 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Proof</strong> {{countProofCompleted()}} / 3 completed
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="proof.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.proof.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countInvoicingCompleted() != 2 }" is-open="stateAccordion['settings.invoicing']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span ng-class="countInvoicingCompleted() == 2 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Invoicing</strong> {{countInvoicingCompleted()}} / 2 completed
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="invoicing.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.invoicing.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countDisplayCompleted() != 3 }" is-open="stateAccordion['settings.display']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span ng-class="countDisplayCompleted() == 3 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Display</strong> {{countDisplayCompleted()}} / 3 completed
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="warning.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.display.html'"></div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['settings.privacy']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <a ui-sref="settings.privacy">
                                <span class="glyphicon glyphicon-ok"></span>
                                <strong>Privacy</strong>
                            </a>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="privacy.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.privacy.html'"></div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['settings.notification']">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Notifications</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon">
                                <span ng-class="notifications.open ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.notifications.html'"></div>
        </accordion-group>
    </accordion>
</div>