<div class="info-bar">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-12">
                <span class="info-box">
                    <span class="mobbricon mobbricon-softalert"></span> We will generate invoices on your behalve, using this information. Make sure it is in compliance with your countries tax laws.
                </span>
            </div>
        </div>
    </div>
</div>

<form name="invoicing" class="form-horizontal">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-12">

                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2" for="coxmpany-name">Company name</label>
                    <div class="col-sm-7 col-md-8">
                        <input class="form-control" ng-model="$mobbrStorage.user.companyname" name="companyname" type="text" id="company-name" placeholder="e.g. Google">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2" for="vat-number">VAT-number</label>
                    <div class="col-sm-7 col-md-8">
                        <input class="form-control" ng-model="$mobbrStorage.user.vat_number" name="vat-number" type="text" id="vat-number" placeholder="e.g. NL001234567B01">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2" for="invoice-prefix">Invoice number prefix</label>
                    <div class="col-sm-7 col-md-8">
                        <input class="form-control" ng-model="$mobbrStorage.user.invoice_numbering_prefix" name="invoice-prefix" type="text" id="invoice-prefix" placeholder="e.g. COMPANY-">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2" for="invoice-postfix">Invoice number postfix</label>
                    <div class="col-sm-7 col-md-8">
                        <input class="form-control" ng-model="$mobbrStorage.user.invoice_numbering_postfix" name="invoice-postfix" type="text" id="invoice-postfix" placeholder="">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2" for="invoice-number">Example invoice number</label>
                    <div class="col-sm-7 col-md-8">
                        <input class="form-control" ng-value="($mobbrStorage.user.invoice_numbering_prefix || '') + '23580' + ($mobbrStorage.user.invoice_numbering_postfix || '')" name="invoice-number" id="invoice-number" type="text" ng-disabled="true">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="save-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="form-group">
                        <div class="col-sm-offset-10 col-sm-2 col-md-2">
                            <button ng-disabled="(waitingsettings && !waitingsettings.$resolved) || invoicing.$pristine" ng-click="submitSettings(settings)" class="btn btn-success btn-block">
                                <i class="mobbricon mobbrloader" ng-show="waitingsettings && !waitingsettings.$resolved"></i>
                                Save
                            </button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>