<div class="container">
    <div class="row">
        <div class="col-md-12">

                Internal
                <fieldset class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2" for="{{mobbrId}}">Mobbr</label>

                    <div class="col-sm-7 col-xs-10 col-md-8">
                        <input class="form-control" ng-model="mobbrId" id="{{mobbrId}}" type="text" disabled>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1 text-center">

                    </div>
                </fieldset>

                E-mails

                <fieldset class="form-group" ng-repeat="email in emailAddresses">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2" for="{{email}}">E-mail</label>

                    <div class="col-sm-7 col-xs-10 col-md-8">
                        <input class="form-control" ng-model="email" id="{{email}}" type="text" disabled>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1 text-center">
                        <button type="button" class="btn btn-danger btn-square" ng-click="removePaymentID(email)">
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </button>
                    </div>
                </fieldset>

                <form name="formHolder.addPaymentIdForm" ng-submit="addExtraEmail()">
                    <fieldset class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 col-md-2" >Add another E-mail</label>

                        <div class="col-sm-7 col-xs-10 col-md-8">
                            <input class="form-control" ng-model="addPaymentIdHolder.email">
                        </div>

                        <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1 text-center" >
                            <button type="submit" class="btn btn-success btn-square"
                                    ng-disabled="!(formHolder.addPaymentIdForm.$valid && formHolder.addPaymentIdForm.$dirty && addPaymentIdHolder.email)">
                                <span class="mobbricon mobbricon-addopen"></span>
                            </button>
                        </div>
                    </fieldset>
                </form>

                External accounts

                <fieldset class="form-group" ng-repeat="oAuthProvider in oAuthWithIdProviders">

                    <label class="control-label col-xs-12 col-sm-3 col-md-2" ng-bind="oAuthProvider.provider"></label>

                    <div class="col-sm-7 col-xs-10 col-md-8">
                        <input class="form-control" ng-model="oAuthProvider.id" disabled="disabled" style="background-size: 20px 20px;background-repeat: no-repeat;background-position: 98% center;"  ng-style="backgroundStyle" ng-init="backgroundStyle={'background-image': 'url(' + oAuthProvider.favicon + ')'}">
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1 text-center" ng-show="!oAuthProvider.id">
                        <button type="button" class="btn btn-success btn-square" ng-click="addOAuthProvider(oAuthProvider)">
                            <span class="mobbricon mobbricon-addopen"></span>
                        </button>
                    </div>
                    <div class="col-sm-1 col-xs-2 col-md-1 text-center" ng-show="oAuthProvider.id">
                        <button type="button" class="btn btn-danger btn-square" ng-click="removePaymentID(oAuthProvider.id)">
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </button>

                    </div>


                </fieldset>


                Identity providers
                <fieldset class="form-group" ng-repeat="identityProvider in idWithIdProviders">

                    <label class="control-label col-xs-12 col-sm-3 col-md-2" ng-bind="identityProvider.provider"></label>

                    <div class="col-sm-7 col-xs-10 col-md-8">
                        <input class="form-control" ng-model="identityProvider.id" ng-disabled="identityProvider.idConfirmed" style="background-size: 20px 20px;background-repeat: no-repeat;background-position: 98% center;"  ng-style="backgroundStyle" ng-init="backgroundStyle={'background-image': 'url(' + identityProvider.favicon + ')'}">
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1 text-center" ng-show="!identityProvider.idConfirmed">
                        <button type="button" class="btn btn-success btn-square" ng-click="addIdentityProvider(identityProvider)" ng-disabled="!identityProvider.id">
                            <span class="mobbricon mobbricon-addopen"></span>
                        </button>
                    </div>
                    <div class="col-sm-1 col-xs-2 col-md-1 text-center" ng-show="identityProvider.idConfirmed">
                        <button type="button" class="btn btn-danger btn-square" ng-click="removePaymentID(identityProvider.id)">
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </button>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>