<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-12">
                <h1>Settings</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <accordion state-accordion="settings">
        <accordion-group is-open="stateAccordion['settings.account']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.account') ? $state.go('^') : $state.go('settings.account')">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>My Account</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.account') ? $state.go('^') : $state.go('settings.account')">
                                <span ng-class="$state.is('settings.account') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.account.html'"></div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['settings.ids']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.ids') ? $state.go('^') : $state.go('settings.ids')">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>ID's</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.ids') ? $state.go('^') : $state.go('settings.ids')">
                                <span ng-class="$state.is('settings.ids') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.ids.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countIdentityCompleted() != 6 }" is-open="stateAccordion['settings.identity']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.identity') ? $state.go('^') : $state.go('settings.identity')">
                            <span ng-class="countIdentityCompleted() == 6 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>My Identity</strong> <span ng-show="countIdentityCompleted() < 6">Incomplete</span>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.identity') ? $state.go('^') : $state.go('settings.identity')">
                                <span ng-class="$state.is('settings.identity') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.identity.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countProofCompleted() != 3 }" is-open="stateAccordion['settings.proof']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.proof') ? $state.go('^') : $state.go('settings.proof')">
                            <span ng-class="countProofCompleted() == 3 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Proof</strong>  <span ng-show="countProofCompleted() < 3">Incomplete</span>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.proof') ? $state.go('^') : $state.go('settings.proof')">
                                <span ng-class="$state.is('settings.proof') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.proof.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countInvoicingCompleted() != 2 }" is-open="stateAccordion['settings.invoicing']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.invoicing') ? $state.go('^') : $state.go('settings.invoicing')">
                            <span ng-class="countInvoicingCompleted() == 2 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Invoicing</strong>  <span ng-show="countInvoicingCompleted() < 2">Incomplete</span>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.invoicing') ? $state.go('^') : $state.go('settings.invoicing')">
                                <span ng-class="$state.is('settings.invoicing') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.invoicing.html'"></div>
        </accordion-group>
        <accordion-group ng-class="{ 'warning': countDisplayCompleted() != 3 }" is-open="stateAccordion['settings.display']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.display') ? $state.go('^') : $state.go('settings.display')">
                            <span ng-class="countDisplayCompleted() == 3 ? 'glyphicon-ok' : 'glyphicon-warning-sign'"
                                  class="glyphicon"></span>
                            <strong>Display</strong>  <span ng-show="countDisplayCompleted() < 3">Incomplete</span>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.display') ? $state.go('^') : $state.go('settings.display')">
                                <span ng-class="$state.is('settings.display') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.display.html'"></div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['settings.privacy']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.privacy') ? $state.go('^') : $state.go('settings.privacy')">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Privacy</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.privacy') ? $state.go('^') : $state.go('settings.privacy')">
                                <span ng-class="$state.is('settings.privacy') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.privacy.html'"></div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['settings.notifications']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row no-pad">
                        <div class="col-xs-10 title" ng-click="$state.is('settings.notifications') ? $state.go('^') : $state.go('settings.notifications')">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Notifications</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('settings.notifications') ? $state.go('^') : $state.go('settings.notifications')">
                                <span ng-class="$state.is('settings.notifications') ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div ng-include="'views/settings.notifications.html'"></div>
        </accordion-group>
    </accordion>
</div>