<div class="container">
    <div class="row no-margin">
        <div class="col-md-12">
            <form name="formHolder.addPaymentIdForm" class="form-horizontal" ng-submit="addExternalId()">
                <fieldset class="form-group" ng-repeat="paymentID in $mobbrStorage.user.id">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2" for="paymentID">External ID</label>

                    <div class="col-sm-7 col-xs-10 col-md-8">
                        <input class="form-control" ng-model="paymentID" id="paymentID" type="text" disabled>
                    </div>
                    <div class="col-sm-1 col-sm-offset-1 col-md-offset-1 col-xs-2 col-md-1">
                        <button ng-click="removePaymentID(paymentID,$index)"
                                type="button"
                                class="btn btn-danger btn-square">
                            <i class="mobbricon mobbrloader"
                               ng-show="waitingRemoveId && waitingRemoveId[$index] && !waitingRemoveId[$index].$resolved"></i>
                            <span class="mobbricon mobbricon-hardclose"></span>
                        </button>
                    </div>
                </fieldset>


                <fieldset class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2">Add another ID</label>

                    <div class="col-sm-3 col-xs-5 col-md-4">
                        <select ng-model="addPaymentIdHolder.idType" class="form-control">
                            <option selected value="">Select an ID type</option>
                            <option value="EMAIL">E-mail</option>
                            <option value="OAUTH">oAuth provider (github, gmail, facebook, etc)</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-5 col-md-4">
                        <div ng-if="addPaymentIdHolder.idType != 'OAUTH'">
                            <input ng-model="addPaymentIdHolder.email" ng-disabled="addPaymentIdHolder.idType != 'EMAIL'" class="form-control" type="email" name="addEmail" id="addEmail" required>
                            <span ng-show="formHolder.addPaymentIdForm.addEmail.$dirty && formHolder.addPaymentIdForm.addEmail.$error.required"
                                  class="help-inline">Enter a email address.</span>
                            <span ng-show="formHolder.addPaymentIdForm.addEmail.$dirty && formHolder.addPaymentIdForm.addEmail.$error.email"
                                  class="help-inline">Enter a valid email address.</span>
                        </div>
                        <span ng-if="addPaymentIdHolder.idType == 'OAUTH'">
                            <select ng-model="addPaymentIdHolder.oAuthProvider" ng-options="oAuthProvider as oAuthProvider.host for oAuthProvider in oAuthProviders.result" class="form-control" required="">
                                <option selected value="">Select an oAuth provider</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-sm-1 col-xs-2 col-md-1">
                        <button type="submit" class="btn btn-success btn-square"
                                ng-disabled="!(formHolder.addPaymentIdForm.$valid && formHolder.addPaymentIdForm.$dirty && addPaymentIdHolder.idType)">
                            <i class="mobbricon mobbrloader"
                               ng-show="waitingAddId && !waitingAddId.$resolved"></i>
                            <span class="mobbricon mobbricon-addopen"></span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>