<div class="info-bar">
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label title col-md-2 col-sm-3 col-xs-12">Gravatar</label>
                        <img width="50"
                             height="50"
                             ng-src="{{ $mobbrStorage.user.thumbnail }}"
                             class="img-rounded user-thumb pull-left">
                        <div class="col-sm-6 col-md-7 col-xs-9">
                            <span class="info-box">
                                <span class="mobbricon mobbricon-softalert"></span>
                                We use gravatars, linked to your email address. Create your profile
                                <a target="_blank" href="http://gravatar.com">here</a>.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row no-margin">
        <div class="col-md-12">
            <form name="changeemail" class="form-horizontal" novalidate>
                <fieldset class="form-group">
                    <label class="control-label col-sm-3 col-md-2">Username</label>

                    <div class="col-sm-7 col-md-8">
                        <input ng-model="$mobbrStorage.user.username" class="form-control" name="username" type="text"
                               ng-disabled="true">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2">E-mail address</label>

                    <div class="col-sm-7 col-xs-8 col-md-8">
                        <input ng-model="new_email" class="form-control" name="email" type="email" required>
                        <span ng-show="changeemail.email.$dirty && changeemail.email.$error.required" class="help-inline">Enter a email address.</span>
                        <span ng-show="changeemail.email.$dirty && changeemail.email.$error.email" class="help-inline">Enter a valid email address.</span>

                    </div>
                    <div class="col-sm-2 col-md-2 col-xs-4">
                        <button ng-click="submitEmail(changeemail)"
                                ng-disabled="((waitingemail && !waitingemail.$resolved) || !changeemail.$valid || $mobbrStorage.user.email == new_email)"
                                type="submit"
                                class="btn btn-success btn-block">
                            <i class="mobbricon mobbrloader" ng-show="waitingemail && !waitingemail.$resolved"></i>
                            update
                        </button>
                    </div>
                </fieldset>
            </form>
            <form name="changepassword" class="form-horizontal" novalidate>
                <fieldset class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2" for="new_password">New password</label>

                    <div class="col-sm-7 col-md-8">
                        <input ng-model="passwordHolder.new_password" class="form-control" id="new_password" name="new_password" type="password"
                               required pattern="^.*(?=.{8,})(?=.*\d)(?=.*[a-z]).*$">
            <span ng-show="changepassword.new_password.$dirty && changepassword.new_password.$error.required"
                  class="help-inline">Enter a new password</span>
            <span ng-show="changepassword.new_password.$dirty && changepassword.new_password.$error.pattern"
                  class="help-inline">Minimal 8 charactes, uppercase, lowercase and numbers</span>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 col-md-2" for="new_password2">New password again</label>

                    <div class="col-sm-7 col-xs-8 col-md-8">
                        <input class="form-control" name="new_password2" id="new_password2" ng-model="passwordHolder.new_password_control"
                               type="password" required pw-check="new_password">
            <span ng-show="changepassword.new_password2.$dirty && changepassword.new_password2.$error.pwmatch"
                  class="help-inline">Passwords do not match</span>
                    </div>
                    <div class="col-sm-2 col-xs-4 col-md-2">
                        <button ng-click="submitPassword(changepassword)"
                                ng-disabled="(!changepassword.$valid || (waitingpassword && !waitingpassword.$resolved) || !changepassword.$dirty)"
                                type="submit"
                                class="btn btn-success btn-block">
                            <i class="mobbricon mobbrloader" ng-show="waitingpassword && !waitingpassword.$resolved"></i>
                            update
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>