<div class="alert alert-info" ng-hide="userSession.authenticated">
    The source board is empty because you are not logged in. To login or signup, go <a href="#/join">here</a>.
</div>
<tabs>
    <pane heading="Tasks">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Tasks to which you pledged or paid.</small>
            </div>
        </div>
    </pane>
    <pane heading="Crowd">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>People who worked on your tasks.</small>
            </div>
        </div>
    </pane>
    <pane heading="Invoicing">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Your monthly invoices. We generate these on behalf of your crowdworkers.</small>
            </div>
        </div>
        <invoicetable data="sourcing"></invoicetable>
    </pane>
    <pane heading="Statistics">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Statistics on</small>
            </div>
        </div>
    </pane>
</tabs>

