<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('sourcing.request'), disabled: requestableInvoices.result.length == 0 }">
                <a ng-href="{{ requestableInvoices.result.length > 0 && '/#/sourcing' || '' }}">
                    Request invoices
                    <span class='badge pull-right' ng-bind="requestableInvoices.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('sourcing.pending'), disabled: requestedInvoices.result.length == 0 }">
                <a ng-href="{{ requestedInvoices.result.length > 0 && '/#/sourcing/pending' || '' }}">
                    Pending invoices
                    <span class='badge pull-right' ng-bind="requestedInvoices.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('sourcing.download'), disabled: confirmedInvoices.result.length == 0 }">
                <a ng-href="{{ confirmedInvoices.result.length > 0 && '/#/sourcing/download' || '' }}">
                    Download invoices
                    <span class='badge pull-right' ng-bind="confirmedInvoices.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('sourcing.pledged'), disabled: pledged.result.length == 0 }">
                <a ng-href="{{ pledged.result.length > 0 && '/#/sourcing/pledged' || '' }}">
                    Pledged
                    <span class='badge pull-right' ng-bind="pledged.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('sourcing.workers'), disabled: workers.result.length == 0 }">
                <a ng-href="{{ workers.result.length > 0 && '/#/sourcing/workers' || '' }}">
                    Workers
                    <span class='badge pull-right' ng-bind="workers.result.length"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ui-view class="container-fluid"></div>
    </div>
</div>