<div class="alert alert-info" ng-hide="userSession.authenticated">
    The source board is empty because you are not logged in. To login or signup, go <a href="#/join">here</a>.
</div>
<tabs>
    <pane heading="Pledges">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Tasks to which you pledged or paid.</small>
            </div>
        </div>

        <accordion close-others="false">
            <accordion-group heading="Pledges" is-open="true">
                <div class="form-inline" style="margin-bottom: 20px;">
                    <label for="searchEntries{{paymenttype}}">Search: </label>
                    <input type="search" class="search-query" ng-model="searchentries" id="searchEntries{{paymenttype}}" >
                </div>
                <payments nodatatitle="No unclaimed pledges"
                          paymenttype="unclaimed_payments"
                          editable="true"
                          searchentries="searchentries"
                          showexpiresdate="false"></payments>
            </accordion-group>
            <accordion-group heading="Tasks" is-open="true">
                <table ng-table="urlParams" class="mobbrtable table table-striped table-checkbox">
                    <tbody ng-repeat="group in $groups">
                    <tr class="ng-table-group">
                        <td colspan="{{ $columns.length }}">
                            <div ng-click="group.$hideRows = !group.$hideRows">
                                <span ng-class="{ 'icon-chevron-right': group.$hideRows, 'icon-chevron-down': !group.$hideRows }"></span>
                                <span ng-bind="group.value"></span>
                                (<a ng-click="openUrl(group.data[0].url)"><small ng-bind="group.data[0].url"></small></a>)
                            </div>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="user in group.data" title="{{ user.title }}">
                        <td data-title="''">
                            <img ng-src="https://secure.gravatar.com/avatar/{{ user['gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                                 class="gravatar small img-rounded"
                                 width="20"
                                 height="20">
                        </td>
                        <td sortable="username" data-title="'Userame'" ng-bind="user.username"></td>
                        <td sortable="datetime"><small ng-bind="user.datetime"></small></td>
                        <td sortable="roles" data-title="'Role'" ng-bind="user.roles" class="roles"></td>
                        <td sortable="amount" data-title="'Amount'" class="amount">
                            <span ng-bind="user.amount | mobbrcurrency : userSession.user.currency_iso"
                                  ng-class="{ 'text-error': user.amount < 0 }"
                                  class="nowrap"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </accordion-group>
        </accordion>
    </pane>
    <pane heading="Workers">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>People who worked on your tasks.</small>
            </div>
        </div>
        <mobbrtable entries="persons.result"
                    columns="[ 'gravatar-xsmall', 'username', 'roles', 'keywords', 'currency_iso', 'amount' ]"
                    has-search="true" has-header="true"></mobbrtable>
    </pane>
    <pane heading="Invoicing">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Your monthly invoices. We generate these on behalf of your crowdworkers.</small>
            </div>
        </div>
        <invoicetable data="sourcing"></invoicetable>
    </pane>
</tabs>

