<alert>
    Ask your crowdworkers for an invoice. They have 30 days to verify their data.
    After 30 days we either generate the invoice on their behalf or refund the payment.
</alert>

<invoicetable id="sourcing_unrequested_invoices"
              columns="[ 'username', 'role', 'currency', 'amount' ]"
              api="requestableInvoices"
              group-by="'title'"
              button-text="'Request invoices'"
              button-action="requestInvoices"
              selectable="1"
              click-row="openPayment"></invoicetable>

