<div class="row">
    <div class="col-md-3 sidebar-left" ui-view></div>
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="row">

                <fieldset class="col-md-5 toolbar">
                    <div class="btn-toolbar">
                        <button class="btn"
                                ng-repeat="button in buttons"
                                ng-click="buttonAction(button.buttonAction, mobbrTable, selectedIds, selectedItems)"
                                ng-disabled="button.selectable && selectedIds.length == 0">
                            <i class="glyphicon mobbrloader" ng-show="waiting"></i>
                            <span ng-bind="button.buttonText"></span>
                        </button>
                    </div>
                </fieldset>

                <fieldset class="col-md-7 toolbar pull-right">
                    <div class="col-md-5" ng-show="groups.length > 0">
                        <div class="pull-right">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn">
                                    <span ng-bind="grouplabels[groupby] || groupby"></span>
                                </button>
                                <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Groups Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="group in groups"><a ng-click="$parent.groupby = group" ng-bind="labels[group] || group"></a></li>
                                    <li><a ng-click="groupby = 'null'">None</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" ng-class="{ 'col-md-offset-5': groups.length == 0 }">
                        <input ng-model="mobbrTable.$params.filter" placeholder="Search" class="form-control search-query" type="search" id="search">
                    </div>
                </fieldset>

                <div class="col-md-12" ng-if="items.length == 0">
                    <alert class="col-md-12" ng-bind="empty_message"></alert>
                </div>

                <div class="col-md-12">
                    <table ng-table="mobbrTable" ng-show="items.length > 0" show-filter="true" class="mobbrtable table table-striped table-checkbox">
                        <thead>
                        <tr>
                            <th ng-if="selectable"
                                class="check-box">
                                <input ng-model="$parent.$parent.select_all"
                                       id="{{ selectallid }}"
                                       type="checkbox"></th>
                            <th ng-repeat="column in columns"
                                class="sortable"
                                ng-click="sorting && sortTableBy(column)"
                                ng-bind="labels[column] || column">
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="group in $groups">
                        <tr class="ng-table-group" ng-show="group.value">
                            <td colspan="{{ columns.length + (selectable && 1 || 0) }}">
                                <div ng-click="group.$hideRows = !group.$hideRows">
                                    <span ng-class="{ 'icon-chevron-right': group.$hideRows, 'icon-chevron-down': !group.$hideRows }"></span>
                                    <span ng-switch on="groupby">
                                        <a ng-switch-when="uri" ng-href="{{ linkUrl(group.value) }}" ng-bind="group.value"></a>
                                        <span ng-switch-default ng-bind="group.value"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-hide="group.$hideRows"
                            ng-repeat="item in group.data"
                            ng-class="{
                                danger: item['faileddatetime'],
                                warning: (!item['faileddatetime'] && !item['paiddatetime'] && item['announceddatetime']),
                                new: item['since_last_login'] == '1'}">
                            <td ng-if="selectable" class="check-box">
                                <input type="checkbox" ng-model="checkboxes.items[item.id]" />
                            </td>
                            <td ng-repeat="column in columns" ng-switch ng-click="clickRow(item)" on="column" class="{{ column }}">
                                <span ng-switch-when="username">
                                    <img ng-if="item['gravatar'] || item['.gravatar']"
                                         ng-src="https://secure.gravatar.com/avatar/{{ item['gravatar'] || item['.gravatar'] }}?s=20&default=https://mobbr.com/img/default-gravatar.png"
                                         class="gravatar xsmall img-rounded"
                                         width="20"
                                         height="20">
                                    <span ng-bind="item[column]"></span>
                                </span>
                                <time ng-switch-when="datetime"
                                      datetime="{{ item[column] || item['faileddatetime'] || item['announceddatetime'] || item['paiddatetime'] }}">
                                    <small ng-bind="item[column] || item['faileddatetime'] || item['announceddatetime']  || item['paiddatetime']"></small>
                                </time>
                                <span ng-switch-when="status" ng-bind="(item['paiddatetime'] && 'Succeeded') || (item['faileddatetime'] && item['service_message']) || (item['announceddatetime'] && 'Pending')"></span>
                                <span ng-switch-when="currency" ng-bind="item['currency'] || item['currency_iso'] || $mobbrStorage.user.currency_iso"></span>
                                <span ng-switch-when="amount"
                                      ng-bind="item[column] | mobbrcurrency"
                                      ng-class="{ 'text-danger': item.amount < 0 }"
                                      class="nowrap"></span>
                                <span ng-switch-default ng-bind="item[column]"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>