<div class="task-payments">

    <div class="row wide-header">
        <div class="container">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-ok"></span>
                <strong>Payments</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row" ng-class="{ loading: payments && !payments.$resolved }">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Currency</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in payments.result">
                            <td ng-bind="payment.datetime"></td>
                            <td ng-bind="payment.title"></td>
                            <td ng-bind="payment.currency_iso"></td>
                            <td ng-bind="payment.amount | mobbrcurrency:''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>