<smart-tags ng-show="tags && tags.length !== undefined"
            tags="tags"
            filtered-tags="filteredTags"
            reset-tags="resetTags"
            tags-limiter="tagsLimiter"></smart-tags>

<div class="container">
    <div class="row data-cards">
        <a ng-repeat="url in tasks.result" ui-sref="box.task.view({ task: encodeTask(url.url) })">
            <div class="col-xs-12 col-sm-4 col-md-3 data-card-container">
                <div class="data-card">
                    <h3 ng-bind="url.title"></h3>
                    <p ng-bind="url.description"></p>
                    <div class="bottom">
                        <div class="item large amount">
                            <span ng-bind-html="url.amount_total | mobbrcurrency:url.currency_iso:true"></span>
                            <span class="mobbricon mobbricon-payments"></span>
                        </div>
                        <div class="item large tasks" class="participants">
                            <span ng-bind="url.match_percentage + '%'"></span>
                            <span class="mobbricon mobbricon-unclaimed"></span>
                        </div>
                        <div class="item">
                            <span ng-bind="url.domain"></span>
                            <span class="mobbricon mobbricon-domain"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-md-12" ng-show="tasks.$resolved && tasks.result.length == 0">
            <h2><em>No tasks found...</em></h2>
        </div>
    </div>
</div>