<div class="row top-info filter task-top" ng-class="!has_participants ? 'task-warning' : ''">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <span class="mobbricon mobbricon-payments"></span>
                <strong ng-show="has_participants">Rewarding</strong>
                <strong ng-show="!has_participants">No rewards</strong>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="has_participants">
    <div ng-class="{ loading: persons && !persons.$resolved }" class="row data-cards data-cards-persons">
        <div ng-repeat="person in persons.result" class="col-xs-12 col-sm-4 col-md-3 data-card-container">
            <div class="data-card">
                <a ui-sref="{{ !person.unclaimed_id ? 'person({ username: person.username })' : 'settings.ids' }}">
                    <div class="top">
                        <img ng-src="https://secure.gravatar.com/avatar/{{ person['gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar2.png"
                             width="50"
                             height="50"
                             ng-show="!person.unclaimed_id"
                             class="pull-left">
                        <h3 ng-bind="person.unclaimed_id ? person.unclaimed_id : person.username"></h3>
                        <span ng-show="person.verified_identity == '1'">Verified</span>
                        <span ng-show="person.invoicable == '1'">Invoicable</span>
                        <p ng-show="!person.unclaimed_id">
                            Active since<br>
                            <time ng-bind="person.datetime | amDateFormat : 'DD-MM-YYYY HH:MM'"></time>
                        </p>

                        <span ng-show="person.unclaimed_id">Connect this ID at settings/ids to claim this share.</span>

                        <ul ng-show="!person.unclaimed_id" class="list-unstyled">
                            <li ng-repeat="role in person.role">
                                <strong ng-bind="role"></strong>
                            </li>
                        </ul>
                    </div>

                    <div class="bottom">
                        <div class="item large amount">
                            <span ng-bind-html="person.amount | mobbrcurrency:$mobbrStorage.user.currency_iso || 'EUR':true"></span>
                            <span class="mobbricon mobbricon-payments"></span>
                        </div>
                        <div class="item large">
                            <span ng-bind="((person.amount / task.result.statistics.amount_total) * 100 | number: 0) + '%'"></span>
                            <span class="mobbricon mobbricon-unclaimed"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
