<div class="row wide-header">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span class="mobbricon mobbricon-ok"></span>
                <strong>Select people to invite</strong>
            </div>
            <div class="col-md-3">
                <button ng-click="invite()"
                        class="btn btn-block btn-primary text-left">Invite people</button>
            </div>
        </div>
    </div>
</div>

<div ng-class="{ loading: persons && !persons.$resolved }" class="row data-cards data-cards-persons">
    <div ng-repeat="person in persons.result" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 data-card-container">
        <div class="data-card">
            <input type="checkbox" ng-model="checkboxes[person.id]" class="pull-right">
            <img ng-src="https://secure.gravatar.com/avatar/{{ person['gravatar'] }}?s=50&default=https://mobbr.com/img/default-gravatar.png"
                 width="50"
                 height="50"
                 class="pull-left">
            <h3 ng-bind="person.id"></h3>

            <ul class="list-unstyled">
                <li ng-repeat="role in person.role">
                    <strong ng-bind="role"></strong>
                </li>
            </ul>

            <ul class="list-unstyled list-inline">
                <li ng-repeat="keyword in person.keyword">
                    <span ng-bind="keyword" class="label label-default"></span>
                </li>
            </ul>

            <div class="bottom">
                <div class="item large amount" ng-bind="person.num_tasks"></div>
                <div class="item large participants" ng-bind="person.num_rewards"></div>
                <div class="item large" ng-bind="person.num_domains"></div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="persons && (!persons.$resolved || persons.result.length > 0)">
    <h2 class="text-center"><em>There are no people to invite</em></h2>
</div>