<div class="row wide-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="mobbricon mobbricon-ok"></span>
                <strong ng-bind="task.result.script.title">Tasks at this domain</strong>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row task-info-row">
                    <div class="col-md-12 task-info">
                        <p ng-bind="task.result.script.description"></p>
                        <small ng-show="task.result.script.copyright" ng-bind="task.result.script.copyright"></small>
                        <abbr ng-bind="languagesMap[task.result.script.language]"
                              lang="{{ task.result.script.language }}"
                              title="{{ languagesMap[task.result.script.language] }}"></abbr>
                    </div>

                    <div class="col-md-12 task-tags">
                        <h2>Tags on this task</h2>
                        <div class="task-tags">
                            <span ng-repeat="keyword in task.result.script.keywords" ng-bind="keyword" class="label label-default"></span>
                            <em ng-show="!task.result.script.keywords || task.result.script.keywords.length == 0">No tags defined</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>