<div class="row wide-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="mobbricon mobbricon-ok"></span>
                <strong>Lorum Ipsum title</strong>
            </div>
        </div>
   </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span ng-bind-html="task.result.statistics.amount_total | mobbrcurrency:task.result.statistics.amount_currency:true:true"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <span class="info-box">
                        <span class="mobbricon mobbricon-softalert"></span> <span ng-bind="task.result.script.message"></span>
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Nationalities
                <ul>
                    <li ng-repeat="nationality in task.result.statistics.nationalities" ng-bind="nationality"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Currencies
                <ul>
                    <li ng-repeat="currency in task.result.statistics.currencies" ng-bind="currency"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="mobbricon mobbricon-payments"></span>
                <span ng-bind="task.result.statistics.num_payments"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="mobbricon mobbricon-crowd"></span>
                <span ng-bind="task.result.statistics.num_recipients"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="mobbricon mobbricon-crowd"></span>
                <span ng-bind="task.result.statistics.num_senders"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Role</th>
                        <th>Share</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="participant in task.result.script.participants">
                        <td>
                            <a ng-bind="participant.id" ng-href="{{ participant.id }}" target="_blank"></a>
                        </td>
                        <td ng-bind="participant.role"></td>
                        <td ng-bind="participant.share"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
