<div ng-show="task && !task.$resolved">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"><em>Loading task...</em></h2>
        </div>
    </div>
</div>

<div ui-view ng-show="task && task.$resolved">
    <div class="row top-info tasks-summary">
        <div class="container">
            <div class="row">
                <a ng-class="$state.is('box.task.index.domain') ? 'active' : ''"
                   ng-href="#{{ $state.is('box.task.index.domain') ? $state.href('box.task.index.view') : $state.href('box.task.index.domain') }}"
                     class="card-container col-xs-6 col-md-3">
                    <div class="card" ng-class="has_failed ? 'failed' : ''">
                        <div ng-hide="has_failed">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Domain
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="large col-md-12" ng-bind="domain"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="has_failed">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Task not usable
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="large col-md-12">
                                        Click here for more info
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a ng-class="$state.is('box.task.script') ? 'active' : ''"
                     ng-href="#{{ $state.is('box.task.index.script') ? $state.href('box.task.index.view') : $state.href('box.task.index.script') }}"
                     class="card-container col-xs-6 col-md-3">
                    <div class="card" ng-class="!has_failed && has_script ? '' : 'failed'">
                        <div ng-show="has_script">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Task
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="large col-md-12" ng-bind="task.result.statistics.lastpaiddatetime | amCalendar"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="has_script">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Disconnected
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 ng-show="!has_failed">Click here for instructions</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <div ng-class="$state.is('box.task.index.payments') || $state.is('box.task.index.pay') ? 'active' : ''"
                     class="card-container col-xs-6 col-md-3">
                    <div class="card" ng-class="has_script && has_payments ? '' : 'failed'">
                        <a ng-href="#{{ $state.is('box.task.index.payments') ? $state.href('box.task.index.view') : $state.href('box.task.index.payments') }}"
                           ng-show="has_script && has_payments">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Payments
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="large col-md-12" ng-bind-html="task.result.statistics.amount_total | mobbrcurrency: task.result.statistics.amount_currency:true"></span>
                                </div>
                            </div>
                        </a>

                        <a ng-hide="has_script && has_payments"
                           ng-href="#{{ $state.is('box.task.index.pay') ? $state.href('box.task.index.view') : $state.href('box.task.index.pay') }}">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Payments
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span ng-show="has_script && !$state.is('box.task.index.pay')">Click here to make a payment</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div ng-class="$state.includes('box.task.persons') ? 'active' : ''"
                     class="card-container col-xs-6 col-md-3">
                    <div class="card" ng-class="has_script && has_payments && has_participants ? '' : 'failed'">
                        <a ng-show="has_script && has_payments && has_participants"
                             ng-href="#{{ $state.is('box.task.index.persons') ? $state.href('box.task.index.view') : $state.href('box.task.index.persons') }}">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Workforce
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="large col-md-12" ng-bind="task.result.statistics.num_recipients"></span>
                                </div>
                            </div>
                        </a>

                        <a ng-hide="has_script && has_payments && has_participants"
                             ng-href="#{{ $state.href('box.crowds.task', { task: $state.params.task })">
                            <div class="front">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <span class="mobbricon mobbricon-bookmark"></span>
                                            Workforce
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                        <span class="large col-md-12" ng-show="has_script && !$state.is('box.task.index.invite')">
                                            Click here to invite people
                                        </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row task-section-container">
        <div class="col-md-12">
            <div ui-view="task-section" class="task-section" ></div>
        </div>
    </div>
</div>