<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 ng-bind="$state.current.data.title"></h1>
            </div>
            <div>
                <div class="col-sm-3">
                    <a ng-disabled="!activeQuery"
                       ng-show="!has_failed && has_script"
                       ui-sref="task.pay"
                       ng-bind="'Add a ' + task.result.script.type"
                       class="btn btn-block btn-call"></a>
                </div>
                <div class="col-sm-3">
                    <a ng-disabled="!activeQuery"
                       ng-href="{{ activeQuery }}"
                       class="btn btn-call white btn-block"
                       target="_blank">Go to task</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="pay" class="task-pay"></div>

<div class="row top-info query-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mobbr-smart-url-box active-query="activeQuery"
                                     url-type="{{ $state.includes('crowds') && 'CROWDS' || $state.includes('tasks') && 'TASKS' || $state.includes('person') && 'PROFILE' || 'TASK' }}"
                                     query="query"
                                     user="$mobbrStorage.user"></mobbr-smart-url-box>
            </div>
        </div>
    </div>
</div>

<div ui-view ng-show="task && task.$resolved">
    <div class="row top-info tasks-summary">
        <div class="container task-card-container">
            <div class="row">
                <a ng-class="$state.is('task.domain') ? 'active' : ''"
                   ng-href="{{ !has_failed ? ($state.is('task.domain') ? $state.href('task') : $state.href('task.domain')) : $state.href('task') }}"
                     class="card-container col-xs-3 col-md-3">
                    <div class="card" ng-class="has_failed ? 'failed' : ''">
                        <div ng-hide="has_failed">
                            <div class="front">
                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-domain"></span>
                                        Host
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall col-md-12" ng-bind="domain"></span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.domain') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="has_failed">
                            <div class="front">
                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-domain"></span>
                                        Host
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12">1/4</span>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall nopad col-md-12">Enter valid URL</span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon left pull-left">
                                        <span class="mobbricon mobbricon-hardalert"></span>
                                    </div>
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.domain') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a ng-class="{ active: $state.is('task.script'), disabled: has_failed }"
                     ng-href="{{ has_script && ($state.is('task.script') ? $state.href('task') : $state.href('task.script')) || $state.href('task') }}"
                     class="card-container col-xs-3 col-md-3">
                    <div class="card" ng-class="!has_failed && has_script ? '' : 'failed'">
                        <div ng-show="!has_failed && has_script">
                            <div class="front">

                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-unclaimed"></span>
                                        Participation shares
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12" ng-bind="(task.result.script.participants | unique:'id').length || 0"></span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.script') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="!has_failed && has_script">
                            <div class="front">
                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-unclaimed"></span>
                                        Participation shares
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12">2/4</span>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall nopad col-md-12">Connect your task</span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon left pull-left">
                                        <span class="mobbricon mobbricon-hardalert"></span>
                                    </div>
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.script') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a ng-class="{ active: $state.is('task.payments') || $state.is('task.pay'), disabled: has_failed || !has_script }"
                   ng-href="{{ !has_script ? $state.href('task') : (has_payments ? ($state.is('task.payments') ? $state.href('task') : $state.href('task.payments')) : ($state.is('task.pay') ? $state.href('task') : $state.href('task.pay'))) }}"
                     class="card-container col-xs-3 col-md-3">
                    <div class="card funding" ng-class="has_script && has_payments ? '' : 'failed'">
                        <div ng-show="!has_failed && has_script && has_payments">
                            <div class="front">
                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-payments"></span>
                                        Payments and pledges
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-4 text-left xsmall" ng-bind="task.result.statistics.is_pledge == '1' ? 'Pledged' : 'Paid'"></span>
                                    <span class="txt col-md-8" ng-bind-html="task.result.statistics.amount_total | mobbrcurrency: task.result.statistics.amount_currency:true"></span>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-4 text-left xsmall">First</span>
                                    <span class="txt col-md-8 xsmall" ng-bind="task.result.statistics.firstpaiddatetime | amCalendar"></span>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-4 text-left xsmall">Last</span>
                                    <span class="txt col-md-8 xsmall" ng-bind="task.result.statistics.lastpaiddatetime | amCalendar"></span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.payments') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-hide="!has_failed && has_script && has_payments">
                            <div class="front">
                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-payments"></span>
                                        Payments and pledges
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12">3/4</span>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall nopad col-md-12">Make a payment</span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon left pull-left">
                                        <span class="mobbricon mobbricon-hardalert"></span>
                                    </div>
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.pay') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a ng-class="{ active: $state.is('task.persons') || $state.is('task.invite'), disabled: has_failed || !has_script || !has_payments  }"
                     class="card-container col-xs-3 col-md-3"
                     ng-href="{{ !has_script ? $state.href('task') : (has_participants && has_payments ? ($state.is('task.persons') ? $state.href('task') : $state.href('task.persons')) : (has_payments ? ($state.is('task.invite') ? $state.href('task') : $state.href('task.invite')) : $state.href('task.view') )) }}">
                    <div class="card" ng-class="has_script && has_payments && has_participants ? '' : 'failed'">
                        <div ng-show="!has_failed && has_script && has_payments && has_participants">
                            <div class="front">

                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-crowd"></span>
                                        Workforce
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12" ng-bind="task.result.statistics.num_recipients"></span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.persons') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-hide="!has_failed && has_script && has_payments && has_participants">
                            <div class="front">

                                <div class="row top">
                                    <div class="col-md-12">
                                        <span class="mobbricon mobbricon-crowd"></span>
                                        Workforce
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="txt xbig col-md-12">4/4</span>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall nopad col-md-12">Invite your workforce</span>
                                </div>
                                <div class="row bottom-icon">
                                    <div class="col-xs-1 text-center icon left pull-left">
                                        <span class="mobbricon mobbricon-hardalert"></span>
                                    </div>
                                    <div class="col-xs-1 text-center icon right pull-right">
                                        <span ng-class="$state.is('task.invite') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row task-section-container">
        <div class="col-md-12">
            <div ui-view="task-section" class="task-section" ></div>
        </div>
    </div>
</div>

<div ng-include="'views/task.noscript.html'"></div>
<div ng-include="'views/task.description.html'"></div>