<div class="row top-info filter task-top" ng-class="has_failed ? 'task-warning' : ''">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <span class="mobbricon mobbricon-domain"></span>
                <strong>Tasks at this domain</strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ng-show="!has_failed && urls.result.length > 0" class="row data-cards" ng-class="{ loading: urls && !urls.$resolved }">
        <a ng-repeat="url in urls.result" ui-sref="task({ task: encodeTask(url.url) })">
            <div class="col-xs-12 col-sm-4 col-md-3 data-card-container">
                <div class="data-card">
                    <div class="top">
                        <h3 ng-bind="url.title"></h3>
                        <p ng-bind="url.description"></p>
                    </div>
                    <div class="bottom">
                        <div class="item large amount">
                            <span ng-bind-html="url.amount_total | mobbrcurrency:url.currency_iso:true"></span>
                            <span class="mobbricon mobbricon-payments"></span>
                        </div>
                        <div class="item">
                            <span ng-bind="url.domain"></span>
                            <span class="mobbricon mobbricon-domain"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div ng-hide="has_failed || (urls.$resolved && urls.result.length > 0) || !urls.$resolved" class="col-md-12">
                    <h2 class="text-center"><em>This domain has no tasks</em></h2>
                </div>
            </div>
        </div>
    </div>
</div>