<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 ng-bind="$state.current.data.title"></h1>
            </div>
            <div>
                <div class="col-sm-3 col-sm-offset-3">
                    <select class="form-control"
                            ng-options="language.code as language.name for language in usedLanguages.result"
                            ng-model="filter_language">
                        <option value="">Choose language</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view="pay" class="task-pay"></div>

<div class="row top-info query-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mobbr-smart-url-box active-query="activeQuery"
                                     url-type="{{ $state.includes('crowds') && 'CROWDS' || $state.includes('tasks') && 'TASKS' || $state.includes('person') && 'PROFILE' || 'TASK' }}"
                                     query="query"
                                     user="$mobbrStorage.user"></mobbr-smart-url-box>
            </div>
        </div>
    </div>
</div>


<div>
    <div ui-view="tasks-section" ng-class="{ loading: task && !task.$resolved }"></div>
</div>

<smart-tags filtered-tags="filteredTags"
            suggested-tags="suggestedTags"
            limiter="tagsLimiter"
            initial-limit="tagsInitialLimit"
            query-tags="queryTags"></smart-tags>

<div class="container">
    <div class="row data-cards">
        <a ng-repeat="url in tasks" ui-sref="task({ task: encodeTask(url.url) })">
            <div class="col-xs-12 col-sm-4 col-md-3 data-card-container">
                <div class="data-card"
                     ng-class="{ 'data-card-highlight': url.is_pledge == '1' }">
                    <div class="top">
                        <h3 ng-bind="url.title"></h3>
                        <p ng-bind="url.description"></p>
                    </div>
                    <div class="bottom">
                        <div class="item large tasks">
                            <span ng-bind="url.match_percentage + '%'"></span>
                            <span class="mobbricon mobbricon-tag"></span>
                        </div>
                        <div class="item large amount">
                            <span ng-bind-html="url.amount_total | mobbrcurrency:url.currency_iso:true"></span>
                            <span class="mobbricon mobbricon-payments"></span>
                        </div>
                        <div class="item">
                            <span ng-bind="url.domain"></span>
                            <span class="mobbricon mobbricon-domain"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-md-12" ng-show="tasksPromise.$resolved && tasks.length == 0">
            <h2><em>No tasks found...</em></h2>
        </div>
    </div>
    <div class="row more-bar">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block"
                    ng-show="tasksPromise && tasksPromise.$resolved"
                    ng-bind="tasksPromise && !tasksPromise.$resolved && 'Loading more results' || tasks && tasks.length < limiter && 'The end' || 'Show more results'"
                    ng-disabled="tasks.length < limiter"
                    ng-click="queryTasks(limiter + initial_limit)"></button>
        </div>
    </div>
</div>