<div class="row top-bar">
    <div class="container">
        <div class="row left-pad">
            <div class="col-md-12">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
</div>

<div class="row top-info">
    <div class="container">
        <div class="row">
            <div class="flatcard col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="glyphicon glyphicon-bookmark"></span>
                            Balances in {{dashboard.total_currency_iso}}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <span class="large col-md-12" ng-bind-html="dashboard.total_amount | mobbrcurrency:'':true"></span>
                </div>
                <div class="row bottom">
                    <div class="col-md-12">
                        <a ng-href="{{ $state.href('wallet') }}" class="btn btn-block">Go to your wallet</a>
                    </div>
                </div>
            </div>
            <div class="flatcard col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="glyphicon glyphicon-cog"></span>
                            Settings & profile
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <span class="xlarge col-md-12">
                        {{countProfileCompleted() * 100 | number:0}}%
                    </span>
                </div>
                <div class="row bottom">
                    <div class="col-md-12">
                        <a ng-href="{{ $state.href('settings') }}" class="btn btn-block">
                            {{$mobbrStorage.user.complete == 100?'Update your settings':'Complete your settings'}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="flatcard col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="glyphicon glyphicon-bookmark"></span>
                            Tasks you worked on
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <span class="xlarge col-md-12">
                        <span>{{person.result.stats.num_urls}}</button>
                    </span>
                </div>
                <div class="row bottom">
                    <div class="col-md-12">
                        <a ng-href="{{ $state.href('box.tasks.my') }}" class="btn btn-block">My tasks</a>
                    </div>
                </div>
            </div>
            <div class="flatcard col-xs-6 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="glyphicon glyphicon-bookmark"></span>
                            Linked accounts
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="txt col-md-12">
                        <ul class="list-unstyled list-inline">
                            <li ng-repeat="provider in parsedIds" ng-show="provider.icon">
                                <img width="20" height="20" ng-class="provider.active ? '' : 'inactive'" ng-src="{{ provider.icon }}">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-12">
                        <a ng-href="{{ $state.href('settings.ids') }}" class="btn btn-block">Add more accounts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<accordion>
    <accordion-group is-open="updates.open" is-disabled="true">
        <accordion-heading>
            <div class="container">
                <div class="row no-pad">
                    <div class="col-xs-12 title">
                        <span class="glyphicon glyphicon-ok"></span>
                        <strong>Updates and activity</strong>
                    </div>
                </div>
            </div>
        </accordion-heading>
        <div>
            <div class="info-bar">
                <div class="container">
                    <div class="row no-margin">
                        <div class="col-md-6 title">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Filter by</strong>
                        </div>
                        <div class="col-md-3">
                            <select class="form-inline form-control" ng-disabled="notifications.result.length == 0" ng-model="notificationType" ng-options="type.type as eventTypesMap[type.type].description for type in notifications.result | unique:'type'">
                                <option value="">Choose a notificationtype</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block" ng-disabled="notifications.result.length == 0" ng-click="notifications.$delete()">Clear notifications</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="notification in notifications.result | filter:notificationType">
                            <td ng-class="notification.type"></td>
                            <td>{{eventTypesMap[notification.type].description}}</td>
                            <td am-time-ago="notification.timestamp" ></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>