<div id="updates">
    <div class="page-header">
        <h1>Dashboard</h1>
        <hr />
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="grid_12">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        Balances in {{dashboard.total_currency_iso}}
                    </div>
                    <hr />
                    <div class="grid_12 " >
                         {{dashboard.total_amount | number:2}}
                    </div>
                    <a href="#/wallet" class="btn">Go to your wallet</a>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="grid_12">
                        <span class="glyphicon glyphicon-cog"></span>
                        Settings & profile
                    </div>
                    <hr />
                    <div class="grid_12 " >
                        {{$mobbrStorage.user.complete?$mobbrStorage.user.complete:'0'}} %
                    </div>
                    <a href="#/settings" class="btn">{{$mobbrStorage.user.complete == 100?'Update your settings':'Complete your settings'}}</a>
                </div>
            </div>


            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="grid_12">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        My active tasks
                    </div>
                    <hr />
                    <div class="grid_12 " >
                        {{dashboard.activeTasks}}
                    </div>
                    <a href="#/task" class="btn">Start a new task</a>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="grid_12">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        Linked accounts
                    </div>
                    <hr />
                    <div class="grid_12 " >
                        <ul>
                            <li ng-repeat="provider in parsedIds">
                                <img ng-src="provider.favicon" ng-show="provider.favicon">
                            </li>
                        </ul>
                    </div>
                    <a href="#/settings/identity" class="btn">Add more accounts</a>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <h2>Updates and activities</h2>
        <span class="pull-right">
            Filter by
            <select class="form-inline form-control" ng-model="notificationType" ng-options="type.type as type.type for type in notifications | unique:'type'">
                <option value="">Choose a notificationtype</option>
            </select>
            <button class="btn btn-primary " ng-click="deleteAll()">Delete all notifications</button>

        </span>

        <table class="table grid_12">
            <tbody>
                <tr ng-repeat="notification in notifications | filter:notificationType">
                    <td>plaatje {{notification.type}}</td>
                    <td>{{notification.type}}</td>
                    <td am-time-ago="notification.timestamp" ></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>