<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <mobbrbutton class="pull-right" size="medium" url='{ "id-base" : "https://api.mobbr.com/id/", "description": "Dit is een test", "title": "Test", "url": "https://github.com/mobbr/mobbr-q2a-plugin" }'></mobbrbutton>
            <h1 ng-bind="payment.result.script.title"></h1>
            <a target="_blank" href="{{ payment.result.url }}" ng-bind="payment.result.url"></a>
        </div>
        <a href="{{ payment.result.url }}" ng-show="payment.result.script.image">
            <img ng-src="{{ payment.result.script.image }}" class="pull-left urlimage" width="50" height="50">
        </a>
        <p>{{ payment.result.script.description }}</p>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h6>Domain earnings</h6>
            <invoicetable api="balances"
                          columns="[ 'currency_description', 'currency_iso', 'amount' ]"
                          show-search="false"></invoicetable>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Payments made to this URL</h3>
        <invoicetable api="personPayments"
                      columns="[ 'datetime', 'senders', 'receivers', 'currency_iso', 'amount' ]"></invoicetable>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h6>Currently listed participants</h6>
            <invoicetable api="payment"
                          index="[ 'script', 'participants' ]"
                          columns="[ 'gravatar', 'username', 'role', 'percentage' ]"
                          sort-by="'percentage'"></invoicetable>
        </div>
    </div>
</div>
