<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="page-header">
                <mobbrbutton class="pull-right" size="medium" url="{{ url }}"></mobbrbutton>
                <h1 ng-bind="payment.result.script.title"></h1>
                <a target="_blank" href="{{ payment.result.url }}" ng-bind="payment.result.url"></a>
            </div>
            <a href="{{ payment.result.url }}" ng-show="payment.result.script.image">
                <img ng-src="{{ payment.result.script.image }}" class="pull-left urlimage" width="50" height="50">
            </a>
            <p>{{ payment.result.script.description }}</p>
        </div>
        <div class="row" ng-if="personPayments.result.length > 0">
            <div class="well">
                <h6>Payments made to this URL</h6>
                <invoicetable api="personPayments"
                              columns="[ 'datetime', 'senders', 'receivers', 'type', 'currency_iso', 'amount' ]"></invoicetable>
            </div>
        </div>
        <div class="row" ng-if="!payment.result.script.participants">
            <div class="well">
                <h6>Create Mobbr script</h6>
                <accordion class="generate-button" close-others="true">
                    <accordion-group heading="1/3: Enter description" is-open="step() >= 3" is-active="step() >= 3">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <div class="control-label">
                                    <label for="title_input">Title</label>
                                </div>

                                <div class="controls">
                                    <input class="input-xxlarge" id="title_input" ng-model="form.title" type="text" rel="can_hide" name="title" ng-disabled="detectTitle">
                    <span class="help-inline">
                        <input type="checkbox" ng-model="detectTitle" name="title_auto_detect" ng-change="detectTitleChanged()">
                        Use page title
                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="description_textarea">Description</label>
                                </div>

                                <div class="controls">
                                    <textarea class="input-xxlarge" id="description_textarea" rel="can_hide" cols="50" rows="5" name="description" ng-model="form.description" ng-disabled="detectDescription"></textarea>
                    <span class="help-inline">
                        <input type="checkbox" name="description_auto_detect" ng-model="detectDescription" ng-change="detectDescriptionChanged()" >
                        Use page description
                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="copyright">License (link to copyright/license definition)</label>
                                </div>

                                <div class="controls">
                                    <input class="input-xxlarge" id="copyright" type="text" placeholder="http://" rel="can_hide" name="copyright" ng-model="form.copyright">
                                    <span class="help-inline">optional</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="language_select">Language</label>
                                </div>

                                <div class="controls">
                                    <select class="input-xxlarge" id="language_select" rel="can_hide" name="language" ng-model="form.language" ng-options="value as key for (value,key ) in languagesMap.result"></select>
                                    <span class="help-inline">optional</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="image_input">Image (link to image file)</label>
                                </div>

                                <div class="controls">
                                    <input class="input-xxlarge" id="image_input" type="text" placeholder="http://" rel="can_hide" name="image" ng-model="form.image">
                                    <span class="help-inline">optional</span>
                                </div>
                            </div>
                        </form>

                    </accordion-group>
                    <accordion-group heading="2/3: Add participants" is-open="step() >= 3" is-active="step() >= 3">

                        <form class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label for="show_json_box">
                                        <input id="show_json_box" type="checkbox" ng-model="form.showScriptWhileEditing">
                                        Show Mobbr script while editing (expert-only)
                                    </label>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="id_base">ID-base</label>
                                </div>
                                <div class="controls">
                                    <input id="id_base" type="text" rel="can_hide" name="id_base" ng-model="form.idBase">
                                    <span class="help-inline">expert-only, otherwise leave as is</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-label">
                                    <label for="id_base">Participants</label>
                                </div>
                                <div class="controls">
                                    <table class="participants table">
                                        <thead>
                                        <tr>
                                            <th title="The Mobbr username of the participant, or his/her email, gravatar profile URL or BTC address">
                                                User ID<br>
                                                <small>Username / email / gravatar profile</small>
                                            </th>
                                            <th title="Enter free text describing the participants role in the collaboration">
                                                Role / function<br>
                                                <small>Free text</small>
                                            </th>
                                            <th title="Enter a percentage or a relative share (an integer)">
                                                Share<br>
                                                <small>% or positive int.</small>
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="contributor in form.contributors">
                                            <td>
                                                <input class="input-medium" id="user_search" ng-model="contributor.id" type="text" autocomplete="off" placeholder="e.g. 'Patrick'">
                                            </td>
                                            <td>
                                                <input class="input-medium" id="user_role" ng-model="contributor.role" type="text" name="user_role" placeholder="e.g. 'photographer'">
                                            </td>
                                            <td>
                                                <input class="input-small" id="user_share" ng-model="contributor.share" type="text" name="user_share" placeholder="e.g. '2'">
                                            </td>
                                            <td>
                                                <button id="remove_user" class="btn btn-danger" ng-click="remove_contributeur($index);"><i class="glyphicon icon-remove"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <button id="new_user_button" class="btn btn-success" ng-click="add_new_contributor();"><i class="glyphicon icon-user"></i> Add</button>
                                </div>

                                <div id="json_generator" class="json-generator control-group" ng-show="form.showScriptWhileEditing">
                                    <div class="control-label">
                                        <label for="id_base">Script that will be generated. Pages are configured using <a href="#/buttons">CPR-scripts</a>,
                                            see <a href="/protocol.html" target="_blank">defintion</a>, CPR is based on <a href="http://www.json.org/" target="_blank">JSON language</a>)</label>
                                    </div>
                                    <div class="controls">
                                        <pre id="json" ng-bind-html-unsafe="generateContributeurJsonFormatted()" class="prettyprint pre-scrollable"></pre>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </accordion-group>
                    <accordion-group heading="3/3: Grab embed script" is-open="step() >= 6" is-active="step() >= 6">

                        <form class="form-horizontal">
                            <div class="control-group" ng-show="mobbrConfiguration == 'json'">
                                <div class="control-label">
                                    Copy-paste this code in &lt;head&gt; section of HTML-page
                                </div>
                                <div id="html_metatag_view" class="controls">
                                    <pre class="prettify pre-scrollable" id="html_metatag_view_area" ng-bind="generateMetaScript()"></pre>
                                </div>
                            </div>

                            <div class="control-group" ng-show="mobbrConfiguration == 'mobbr'">
                                <div class="control-label">
                                    Copy-paste this code in &lt;head&gt; section of HTML-page
                                </div>
                                <div id="html_header_view" class="controls">
                                    <pre class="prettify" id="html_header_view_area" ng-bind="generatedHeaderLink"></pre>
                                </div>
                            </div>

                            <div class="control-group" ng-show="form.button != '[NO_BUTTON]'">
                                <div class="control-label">
                                    Copy-paste this code on your HTML-page where the button needs to be visible.
                                </div>
                                <div class="controls">

                                    <pre class="prettify pre-scrollable" ng-bind="generateButtonScript()"></pre>

                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <alert ng-show="!payment.result.script.participants">
            This URL has no participants, create a script using the script generator
        </alert>
        <mobbr-payment class="well" type="payment.result.script.type" hash="payment.result.hash" on-payment="onPayment"></mobbr-payment>
        <div class="well" ng-if="balances.result.length > 0">
            <h6>Domain earnings</h6>
            <invoicetable api="balances"
                          columns="[ 'currency_description', 'currency_iso', 'amount' ]"
                          show-search="false"></invoicetable>
        </div>
        <div class="well" ng-if="payers.result.length > 0">
            <h6>URL payers</h6>
            <invoicetable api="payers"
                          columns="[ 'gravatar', 'username', 'roles', 'amount' ]"></invoicetable>
        </div>
        <div class="well" ng-if="earners.result.length > 0">
            <h6>URL earners</h6>
            <invoicetable api="earners"
                          columns="[ 'gravatar', 'username', 'roles', 'amount' ]"></invoicetable>
        </div>

        <div class="well" ng-if="payment.result.script.participants.length > 0">
            <h6>Currently listed participants</h6>
            <invoicetable api="payment"
                          index="[ 'script', 'participants' ]"
                          columns="[ 'gravatar', 'username', 'role', 'percentage' ]"
                          sort-by="'percentage'"></invoicetable>
        </div>
    </div>
</div>
