<div class="page-header">
    <h1>
        Use cases<br>
        <small>Mobbr has many uses, for small weblogs to corporate platforms, these are just a very few of them</small>
    </h1>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The crowdsourced helpdesk</h4>
        <h6><small>When</small></h6>
        <p><small>You notice that on your helpdesk platform (like a forum or wiki), people frequently help eachother.</small></p>
        <h6><small>What</small></h6>
        <p><small>Reroute some of your spendings to reward those people. Participation and quality will increase, ultimately lowering your helpdesk costs.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using a simple algorithm and create a page where Mobbr can find this ranking. Use this page to frequently reward all contributors. In addition, people can reward eachother, peer-to-peer, with per-topic Mobbr buttons.</small></p>
    </div>

    <div class="well span6 special">
        <h4>The corporate social platform</h4>
        <h6><small>When</small></h6>
        <p><small>The social collaboration platform holds the real promise to make many corporate processes much more effective but participation levels stay low.</small></p>
        <h6><small>What</small></h6>
        <p><small>Use bonusses or a % of your monthly salary round to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Rank contributions using an algorithm and create a page where Mobbr can find this ranking. Pay bottom-up salary through Mobbr. Participation can be steered by tuning the algorithm using a dashboard.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The social loyalty program</h4>
        <h6><small>When</small></h6>
        <p><small>You want to attract new customers and keep them with you using your own loyalty currency (e.g. airmiles, freebees).</small></p>
        <h6><small>What</small></h6>
        <p><small>Have customers earn credits (e.g. airmiles) for participation in your campaigns / on the website.</small></p>
        <h6><small>How</small></h6>
        <p><small>Measure their participation, reward them with your special credit points and create a shop where they can spend these points.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Social / local currencies</h4>
        <h6><small>When</small></h6>
        <p><small>You have a local or social currency and need online payment facilities.</small></p>
        <h6><small>What</small></h6>
        <p><small>Offer local online merchands to accept this local currency for their products and services.</small></p>
        <h6><small>How</small></h6>
        <p><small>Create a custom curreny in Mobbr and instruct merchands on how to integrate Mobbr on their sites.</small></p>
    </div>
</div>
<div class="use-cases row-fluid">
    <div class="well span6 special">
        <h4>The (multi-author) website</h4>
        <h6><small>When</small></h6>
        <p><small>You have a weblog / wiki / forum etc. that makes money through donations or ads.</small></p>
        <h6><small>What</small></h6>
        <p><small>Share this income among all those who add value: your authors, the webmaster, the owner, the readers that comment, etc.</small></p>
        <h6><small>How</small></h6>
        <p><small>Mention all the contributors in the Mobbr scripts, either a static or a dynamically generated one, and place buttons on relevant pages. Regularly share the ad revenues with top participants.</small></p>
    </div>

    <div class="well span6 special">
        <h4>Share revenues, boost patricipation</h4>
        <h6><small>When</small></h6>
        <p><small>In general, whenever you reward people, participation and steerability goes up.</small></p>
        <h6><small>What</small></h6>
        <p><small>Take any appropriate income stream and use (part of) it to reward participation.</small></p>
        <h6><small>How</small></h6>
        <p><small>Invent, test and implement a mechanism that ranks contributions and create a page where Mobbr can find this ranking. Use Mobbr to reward all those who added value.</small></p>
    </div>
</div>