<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('wallet.credit') }">
                <a href="/#/wallet">
                    Credit
                    <span ng-repeat="balance in balances.result"
                          ng-if="balance.spendable > 0"
                          ng-bind="balance.currency_iso + ' ' + (balance.spendable | mobbrcurrency)"
                          class="badge pull-right"></span>
                </a>
            </li>
            <li ng-class="{ disabled: newPayments.result.length == 0, active: $state.includes('wallet.new') }">
                <a ng-href="{{ newPayments.result.length > 0 && '/#/wallet/new' || '' }}">
                    New payments
                    <span class='badge pull-right' ng-bind="newPayments.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('wallet.payments') }">
                <a href="/#/wallet/payments">
                    Payments
                    <span class='badge pull-right' ng-bind="historicPayments.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('wallet.xpayments') }">
                <a href="/#/wallet/xpayments">
                    Deposits and withdraws
                    <span class='badge pull-right' ng-bind="mutations.result.length"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ui-view class="container-fluid"></div>
    </div>
</div>
