<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>Wallet</h1>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a ui-sref="wallet.withdraw" ng-class="{ unblocked: $state.is('wallet.withdraw') }" class="btn btn-call btn-block">
                    <span class="mobbricon mobbricon-transaction pull-right"></span>Withdraw
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a ui-sref="wallet.deposit" ng-class="{ unblocked: $state.is('wallet.deposit') }" class="btn btn-call btn-block">
                    <span class="mobbricon mobbricon-transaction pull-right"></span>Deposit
                </a>
            </div>
        </div>
    </div>
</div>

<div class="task-pay">
    <div class="clearfix" collapse="!blockUI">
        <div ui-view="pay"></div>
    </div>
</div>

<div class="row top-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row cards-wrapper">
                    <div class="card-container flip col-xs-6 col-sm-3" ng-repeat="balance in dashboard.result.balances">
                        <div class="card">
                            <div class="front">
                                <div class="row">
                                    <small class="col-md-12"><span ng-bind="balance.currency_description"></span></small>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-12" ng-bind-html="balance.spendable | mobbrcurrency:balance.currency_iso:true"></span>
                                </div>
                                <div class="row" ng-show="balance.currency_iso !== currenciesMap[dashboard.result.total_currency_iso].currency_iso">
                                    <small class="col-md-12">Equivalent</small>
                                </div>
                                <div class="row">
                                    <span class="txt xsmall col-md-12" ng-show="balance.currency_iso !== currenciesMap[dashboard.result.total_currency_iso].currency_iso">
                                        (<span ng-bind-html="balance.converted_amount | mobbrcurrency:currenciesMap[dashboard.result.total_currency_iso].currency_iso:true"></span>)
                                    </span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="row">
                                    <small class="first col-md-12">
                                        Last updated <time ng-bind="balance.updatedatetime | amCalendar" datetime="{{ balance.updatedatetime }}"></time>

                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small class="pull-left">Amount</small>
                                        <span class="txt pull-right" ng-bind-html="balance.amount | mobbrcurrency:'':true"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-warning">
                                        <small class="pull-left">Monthly fee</small>
                                        <span class="txt pull-right" ng-bind-html="balance.fee | mobbrcurrency:'':true"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-success">
                                        <small class="pull-left">Spendable </small>
                                        <span class="txt pull-right" ng-bind-html="balance.spendable | mobbrcurrency:'':true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row top-info filter">
    <div class="container">
        <div class="row" ng-class="{ disabled: payments.result.length == 0 }">
            <div class="col-xs-12 title">
                <span class="mobbricon mobbricon-transaction"></span>
                <strong>Deposits and withdraws</strong>
                <span class="hidden-xs" ng-show="payments.$resolved && !filterText && payments.result.length == 0">No deposits or withdrawals</span>
            </div>
        </div>
    </div>
</div>

<div class="container xpaymentstable">
    <div class="row">
        <fieldset class="form-group">
            <div class="col-sm-6 col-sm-offset-6">
                <div class="input-group">
                    <input type="search"
                           class="form-control"
                           ng-model="filterText"
                           placeholder="External reference"
                           ng-change="search()"
                           ng-model-options="{ debounce: 1000 }">
                                <span class="input-group-addon">
                                    <i class="mobbricon mobbricon-search"></i>
                                </span>
                </div>

            </div>
        </fieldset>
    </div>

    <div class="row">
        <div class="col-md-12 tablecontainer">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th class="hidden-xs">Status</th>
                    <th class="text-center">Currency</th>
                    <th class="text-right">Costs</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="payment in payments.result | limitTo: limiter"
                    ng-class="{ warning: payment.faileddatetime, callout: !payment.faileddatetime && !payment.paiddatetime && payment.announceddatetime }"
                    ng-click="openExternalPayment(payment)"
                    title="{{ (payment.faileddatetime || payment.paiddatetime || ('Pending since ' + payment.announceddatetime )) + ' ' + (payment.service_message || '') }}">
                    <td>
                        <time ng-bind="(payment.paiddatetime || payment.faileddatetime || payment.announceddatetime) | amCalendar" datetime="{{ payment.paiddatetime || payment.faileddatetime || payment.announceddatetime }}"></time>
                    </td>
                    <td class="hidden-xs" ng-bind="(payment.paiddatetime && 'Succeeded') || (payment.faileddatetime && 'Failed') || (payment.announceddatetime && 'Pending')"></td>
                    <td class="text-center" ng-bind="payment.currency_iso"></td>
                    <td class="text-right" ng-bind-html="payment.costs | mobbrcurrency:'':true:true"></td>
                    <td class="text-right" ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
                </tr>
                <tr ng-show="payments.result.length == 0">
                    <td colspan="5" class="text-center">
                        <em>No records have been found</em>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row more-bar">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block"
                    ng-bind="payments && !payments.$resolved && 'Loading more results' || payments.result && payments.result.length < limiter && 'The end' || 'Show more results'"
                    ng-disabled="payments.result.length < limiter"
                    ng-click="more()"></button>
        </div>
    </div>
</div>