<div class="row top-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>Wallet</h1>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a ui-sref="wallet.withdraw" ng-class="{ unblocked: $state.is('wallet.withdraw') }" class="btn btn-call btn-block">
                    Withdraw
                    <span class="mobbricon mobbricon-transaction pull-right"></span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a ui-sref="wallet.deposit" ng-class="{ unblocked: $state.is('wallet.deposit') }" class="btn btn-call btn-block">
                    Deposit
                    <span class="mobbricon mobbricon-transaction pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="task-pay">
    <div class="clearfix" collapse="!blockUI">
        <div ui-view="pay"></div>
    </div>
</div>

<div class="row top-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-click="$state.go('wallet')" collapse="$state.is('wallet')">
                <h2><span class="mobbricon mobbricon-wallet"></span> Total balance: <span ng-bind-html="dashboard.result.total_amount | mobbrcurrency:dashboard.result.total_currency_iso:true"></span></h2>
            </div>

            <div class="col-md-12" collapse="!$state.is('wallet')">
                <div class="row cards-wrapper">

                    <div class="card-container flip col-xs-6 col-sm-3">
                        <div class="card fixed">
                            <div class="front">
                                <div class="row">
                                    <small class="col-md-12">Total balance</small>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-12" ng-bind-html="dashboard.result.total_amount | mobbrcurrency:'':true"></span>
                                </div>
                                <div class="row">
                                    <span class="txt big col-md-12" ng-bind="dashboard.result.total_currency_iso"></span>
                                </div>
                                <div class="row bottom">
                                    <div class="col-md-12">
                                        <button ng-click="$state.go('settings.display')" class="btn btn-block">
                                            Change currency
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-container flip col-xs-6 col-sm-3" ng-repeat="balance in dashboard.result.balances">
                        <div class="card">
                            <div class="front">
                                <div class="row">
                                    <small class="col-md-12">Spendable</small>
                                </div>
                                <div class="row">
                                    <span class="txt col-md-12" ng-bind-html="balance.spendable | mobbrcurrency:'':true"></span>
                                </div>
                                <div class="row">
                                    <span class="txt big col-md-12" ng-bind="balance.currency_iso"></span>
                                </div>
                                <div class="row">
                                    <small class="col-md-12" ng-bind="balance.currency_description"></small>
                                </div>
                            </div>
                            <div class="back">
                                <div class="row">
                                    <small class="first col-md-12">
                                        Last updated <time ng-bind="balance.updatedatetime | amCalendar" datetime="{{ balance.updatedatetime }}"></time>

                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <small class="pull-left">Amount</small>
                                        <span class="txt pull-right" ng-bind-html="balance.amount | mobbrcurrency:'':true"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-warning">
                                        <small class="pull-left">Fee</small>
                                        <span class="txt pull-right" ng-bind-html="balance.fee | mobbrcurrency:'':true"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-success">
                                        <small class="pull-left">Converted amount </small>
                                        <span class="txt pull-right" ng-bind-html="balance.converted_amount | mobbrcurrency:currenciesMap[dashboard.result.total_currency_iso].currency_iso:true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <accordion state-accordion="wallet">
        <accordion-group is-open="stateAccordion['wallet.addresses']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 title" ng-click="$state.is('wallet.addresses') ? $state.go('^') : $state.go('wallet.addresses')">
                            <span class="mobbricon mobbricon-transaction"></span>
                            <strong>Deposit addresses</strong>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="mobbricon mobbricon-info"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('wallet.addresses') ? $state.go('^') : $state.go('wallet.addresses')">
                                <span ng-class="$state.is('wallet.addresses') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div class="info-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="info-box">
                                <span class="mobbricon mobbricon-softalert"></span>
                                Share these with anyone who needs to send you money from outside Mobbr.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="wallet in supportedCurrencies.result" class="bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="wallet.currency_iso == 'BTC'">
                                <fieldset class="form-group">
                                    <label class="title control-label col-sm-3" ng-bind="wallet.currency_iso"></label>
                                    <div class="col-sm-7">
                                        <span class="info-box">
                                            <span class="mobbricon mobbricon-softalert"></span>
                                            <span ng-bind="wallet.message"></span>
                                        </span>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group" ng-repeat="address in wallet.addresses">
                                    <label class="title control-label col-sm-3">Address</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text" ng-model="address.bitcoin" disabled>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label class="title control-label col-xs-10 col-sm-11">Add another</label>
                                    <div class="col-xs-2 col-sm-1">
                                        <button class="btn btn-success btn-square pull-right" ng-click="addBitcoinAddress(wallet.currency)">
                                            <span class="mobbricon mobbricon-addopen"></span>
                                        </button>
                                    </div>
                                </fieldset>
                            </div>
                            <div ng-if="wallet.currency_iso != 'BTC'">
                                <fieldset>
                                    <label class="title control-label col-sm-3" ng-bind="wallet.currency_iso"></label>
                                    <div class="col-sm-7">
                                        <span class="info-box">
                                            <span class="mobbricon mobbricon-softalert"></span>
                                            <span ng-bind="wallet.message"></span>
                                        </span>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
        <accordion-group is-open="stateAccordion['wallet.x-payments']" is-disabled="true">
            <accordion-heading>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10 title" ng-click="(!filterText && payments.result.length > 0) && ($state.is('wallet.x-payments') ? $state.go('^') : $state.go('wallet.x-payments'))">
                            <span class="mobbricon mobbricon-transaction"></span>
                            <strong>Deposits and withdraws</strong>
                            <span ng-show="payments.$resolved && !filterText && payments.result.length == 0">No deposits or withdrawals</span>
                        </div>
                        <div class="icons">
                            <div class="col-xs-1 text-center icon">
                                <span class="mobbricon mobbricon-info"></span>
                            </div>
                            <div class="col-xs-1 text-center icon" ng-click="$state.is('wallet.x-payments') ? $state.go('^') : $state.go('wallet.x-payments')">
                                <span ng-class="$state.is('wallet.x-payments') ? 'mobbricon-softclose' : 'mobbricon-addopen'" class="mobbricon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-heading>
            <div class="container">
                <div class="row">
                    <input type="text" ng-model="filterText" ng-change="payments.$get({ limit: limiter, search: filterText || null })" ng-model-options="{ debounce: 1000 }">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Currency</th>
                            <th>Costs</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody ng-init="limiter = 10">
                        <tr ng-repeat="payment in payments.result | limitTo: limiter | filter: filterText"
                            ng-class="{ warning: payment.faileddatetime, callout: !payment.faileddatetime && !payment.paiddatetime && payment.announceddatetime }"
                            ng-click="openExternalPayment(payment)"
                            title="{{ (payment.faileddatetime || payment.paiddatetime || ('Pending since ' + payment.announceddatetime )) + ' ' + (payment.service_message || '') }}">
                            <td>
                                <time ng-bind="(payment.paiddatetime || payment.faileddatetime || payment.announceddatetime) | amCalendar" datetime="{{ payment.paiddatetime || payment.faileddatetime || payment.announceddatetime }}"></time>
                            </td>
                            <td ng-bind="(payment.paiddatetime && 'Succeeded') || (payment.faileddatetime && 'Failed') || (payment.announceddatetime && 'Pending')"></td>
                            <td ng-bind="payment.currency_iso"></td>
                            <td ng-bind-html="payment.costs | mobbrcurrency:'':true:true"></td>
                            <td ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-hide="payments.result.length < limiter" ng-click="limiter = limiter + 10; payments.$get({ limit: limiter, search: filterText })">More</button>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
