<div class="page-header">
    <h1>
        Turn all your pages and items into donatable things<br>
        <small>Subtext for header</small>
    </h1>
</div>

<div class="well special pull-right span6">
    <h4>This is how it works</h4>
    <ul>
        <li>
            Integrate Mobbr in your site to allow for payments and / or donations
        </li>
        <li>
            The Mobbr button can pay many creators at once
        </li>
        <li>
            Optimize your button scripts ensuring everybody (including you) gets his fair share
        </li>
        <li>
            Watch participation and quality increase as creators get rewarded
        </li>
    </ul>
</div>

<div class="well special pull-right span6">
    <h4>These are your tools</h4>
    <ul>
        <li>
            Place buttons next to everything you are proud of
        </li>
        <li>
            Mark your pages with metadata so bots, crawlers, plugins and Mobbr know what to do
        </li>
        <li>
            Mark your entire domain with a single file, just to be sure
        </li>
        <li>
            Use a plugin for your CMS or platform
        </li>
        <li>
            Develop your own Mobbr integration
        </li>
    </ul>
</div>

<p>
    Just place invisible metadata, or pretty buttons, and add the names of those who contributed. One name,
    many names. Same shares, different shares. One button pays them all.
</p>
<p>
    Whether it is art, music, software or anything else and whether it is created by one person or an
    entire community, the Mobbr button enables you to let reward any value that was added. Direct,
    peer-to-peer, no middleman. A totally new payment concept that fits the way your website really works.
    Just add your business-model to our button.
</p>
<p>
    Generate the Mobbr script dynamically, based on actual participation ratios, or use static scripts based on
    predetermined participation ratios.
</p>

<h2>The 1-minute catch-all option</h2>
<p>If you don't want button (yet) but you do want your domain to be processable by Mobbr, just place 1 simple script in the root of your domain.</p>
<p>Use <a href="/#/buttons#domain">this</a> script as example</p>

