<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('working.new'), disabled: unclaimed.result.length == 0 }">
                <a ng-href="{{ unclaimed.result.length > 0 && '/#/working' || '' }}">
                    New
                    <span class='badge pull-right' ng-bind="unclaimed.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.tasks'), disabled: earned.result.length == 0 }">
                <a ng-href="{{ earned.result.length > 0 && '/#/working/tasks' || '' }}">
                    Tasks
                    <span class='badge pull-right' ng-bind="earned.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.confirm'), disabled: confirmable.result.length == 0 }">
                <a ng-href="{{ confirmable.result.length > 0 && '/#/working/confirm' || '' }}">
                    Confirm invoices
                    <span class='badge pull-right' ng-bind="confirmable.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.download'), disabled: confirmed.result.length == 0 }">
                <a ng-href="{{ confirmed.result.length > 0 && '/#/working/download' || '' }}">
                    Download invoices
                    <span class='badge pull-right' ng-bind="confirmed.result.length"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ui-view class="container-fluid"></div>
    </div>
</div>