<alert>Confirm the data on the invoices your clients request. After 30 days if possible an invoice using your default data will be generated else the payment will be refunded.</alert>
<invoicetable id="working_requested_invoices"
              columns="[ 'worker_username', 'role', 'expiration', 'currency', 'amount' ]"
              api="confirmable"
              button-text="'Confirm invoices'"
              button-action="confirmInvoices"
              group-by="'title'"
              selectable="1"
              click-row="openPayment"></invoicetable>