<div class="alert alert-info" ng-hide="userSession.authenticated">
    The work board is empty because you are not logged in. To login or signup, go <a href="#/join">here</a>.
</div>
<tabs>
    <pane heading="Invites">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Invites to communities and tasks and open tasks matching your profile.</small>
            </div>
        </div>
    </pane>
    <pane heading="Tasks">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>The tasks to which you contributed.</small>
            </div>
        </div>
    </pane>
    <pane heading="Communities">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>The communities to which you contributed.</small>
            </div>
        </div>
    </pane>
    <pane heading="Invoicing">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>A copy of the monthly invoices we sent on your behalf to the people who paid you.</small>
            </div>
        </div>
    </pane>
    <pane heading="Statistics">
        <div class="row-fluid">
            <div class="well span12 special">
                <small>Statistics on</small>
            </div>
        </div>
    </pane>
</tabs>

