<div class="row">
    <div class="col-md-3 sidebar-left">
        <h1>Working</h1>
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('working.new'), disabled: unclaimed.result.length == 0 }">
                <a ng-href="{{ unclaimed.result.length > 0 && '/#/working' || '' }}"
                   ng-mouseenter="hover = 'working.new'"
                   ng-mouseleave="hover = false">
                    New
                    <span class='badge pull-right' ng-bind="unclaimed.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.tasks'), disabled: earned.result.length == 0 }">
                <a ng-href="{{ earned.result.length > 0 && '/#/working/tasks' || '' }}"
                   ng-mouseenter="hover = 'working.tasks'"
                   ng-mouseleave="hover = false">
                    Tasks
                    <span class='badge pull-right' ng-bind="earned.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.confirm'), disabled: confirmable.result.length == 0 }">
                <a ng-href="{{ confirmable.result.length > 0 && '/#/working/confirm' || '' }}"
                   ng-mouseenter="hover = 'working.confirm'"
                   ng-mouseleave="hover = false">
                    Confirm invoices
                    <span class='badge pull-right' ng-bind="confirmable.result.length"></span>
                </a>
            </li>
            <li ng-class="{ active: $state.includes('working.download'), disabled: confirmed.result.length == 0 }">
                <a ng-href="{{ confirmed.result.length > 0 && '/#/working/download' || '' }}"
                   ng-mouseenter="hover = 'working.download'"
                   ng-mouseleave="hover = false">
                    Download invoices
                    <span class='badge pull-right' ng-bind="confirmed.result.length"></span>
                </a>
            </li>
        </ul>
        <alert ng-show="hover == 'working.new' || !hover && $state.current.name == 'working.new'">
            Tasks to which you can contribute.
        </alert>
        <alert ng-show="hover == 'working.tasks' || !hover && $state.current.name == 'working.tasks'">
            Tasks to which you contributed.
        </alert>
        <alert ng-show="hover == 'working.confirm' || !hover && $state.current.name == 'working.confirm'">
            Confirm the data on the invoices your clients request. After 30 days if possible an invoice using your default data will be generated else the payment will be refunded.</alert>
        <alert ng-show="hover == 'working.download' || !hover && $state.current.name == 'working.download'">
            Your invoices. We generated these on request of your clients.
        </alert>
    </div>
    <div class="col-md-9">
        <div ui-view class="container-fluid"></div>
    </div>
</div>