<div class="container">
    <div class="row">
        <input type="text" ng-model="filterText" ng-change="payments.$get({ limit: limiter, search: filterText || null })" ng-model-options="{ debounce: 1000 }">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Costs</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody ng-init="limiter = 10">
            <tr ng-repeat="payment in payments.result | limitTo: limiter | filter: filterText"
                ng-class="{ warning: payment.faileddatetime, callout: !payment.faileddatetime && !payment.paiddatetime && payment.announceddatetime }"
                ng-click="openExternalPayment(payment)"
                title="{{ (payment.faileddatetime || payment.paiddatetime || ('Pending since ' + payment.announceddatetime )) + ' ' + (payment.service_message || '') }}">
                <td>
                    <time ng-bind="(payment.paiddatetime || payment.faileddatetime || payment.announceddatetime) | amCalendar" datetime="{{ payment.paiddatetime || payment.faileddatetime || payment.announceddatetime }}"></time>
                </td>
                <td ng-bind="(payment.paiddatetime && 'Succeeded') || (payment.faileddatetime && 'Failed') || (payment.announceddatetime && 'Pending')"></td>
                <td ng-bind="payment.currency_iso"></td>
                <td ng-bind-html="payment.costs | mobbrcurrency:'':true:true"></td>
                <td ng-bind-html="payment.amount | mobbrcurrency:'':true:true"></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="limiter = limiter + 10; payments.$get({ limit: limiter, search: filterText })">More</button>
    </div>
</div>